[2018-04-25 03:29] matikin9 opened #32 "2018-04-24 Meeting"
# Who's here?
* Jim - @jimthoburn
* Nina - @matikin9

# What did we do?
Discuss a how-to guide for new projects just getting started:

## Vague Idea.
  * Come up with a name and ask the hack night lead to create a Github repository in the Hack For LA org.  All work created should be logged in the repo.
  * Take notes each week (designate a note taker).
    * Create a separate Issue in the Github r

[2018-05-02 02:36] matikin9 opened #31 "2018-05-01-Meeting"
# Who's here?

* Nina
* Josh
* Tamura
* Alli
* Joshua
* Jim

# What did we do?

Continue discussing a project framework.  Tamura brought OpenAustin's Civic Tech Canvas as an example of what we should require new projects to fill out.  We then reviewed the notes from last week to further flesh out ideas and bring up additional questions that need to be answered.

* Civic Tech Canvas
  * Gamify the

[2018-05-04 20:56] matikin9 opened #30 "2018-05-04 Meeting"
# Who's Here?

* Tamura
* Nina

# What did we do?

Clarified "skill trees" as a gaming concept.  The idea is to break down tasks in a project into their most discrete components, and then connect them as a network to educate groups on what progressive tasks should be done in the many areas of a project.

Discussed potential projects for Code of California to tackle:
* Canvas digitized with input s

[2019-12-26 22:20] ExperimentsInHonesty opened #381 "Automating auditing/reporting of orphaned issues across projects"
### Overview
As github admins and portfolio owners, we need to be able to let project teams know when they have issues that are not showing up on any of their project boards.  This process should be as automated as possible.

### Current State
@ExperimentsInHonesty (Bonnie) and @joelparkerhenderson (Joel) worked on a script to review all the open issues that are not attached to any project board.

[2020-06-28 23:53] ExperimentsInHonesty opened #1 "Turn google doc into issues"
### Overview
We need to update the project board so that it is reflective of what we are actually working on

### Action Items
Convert Abi's word doc to issues

### Resources/Instructions
[Abi/Bonnie Actions](https://docs.google.com/document/d/1t3HN4e3n9vb95utAd4s_9WbIDU86YoLaWVvMV_PhyuE/edit)

[2020-06-28 23:59] ExperimentsInHonesty opened #2 "Document cleanup"
### Overview
Create a place for prior drafts and make sure documents have the same name plus some kind of draft designation. But not in the delivery folder.

### Action Items
- [x] Make sure this document ends up in the drafts folder
   - Notes for what we ended up sending to IJ
      - https://drive.google.com/file/d/1lvlfZY3XQV1oscaWoPvTsRbMLSnmPrMZ/view
- [x] Delete this document.  There is alr

[2020-06-29 00:24] ExperimentsInHonesty opened #3 "Create Product One sheets"
### Overview
HfLA needs an overview of each project.

### Action Items

| Project Name                                                                                                                                                                                                           | Issue                                                                                                   | To

[2020-06-29 01:18] ExperimentsInHonesty opened #4 "Identify all the PM and POs needed"
### Overview
Identify all project managers required

### Action Items
- [x] List all projects that need PMs
   - [x] Review the product management staffing requirements identified in this document
- [x] Abi to reach out to Navariti to get some time with Bonnie (Sunday 8 am or 4 pm PST, Thursday and Friday preference 6, 7 pm, 8pm EST) - 2 hours a week for a month then maybe 1 hour after then
- [x]

[2020-07-08 16:04] #381 closed

[2020-07-08 16:44] abi-a opened #5 "Create a Drafts Folder For Potential Fellowships"
### Overview
Create a folder under the social justice project that houses the emails sent to potential partners. The expectation is that this will be used as a template in the future.

### Action Items

- [x] Folder Creation
- [ ] Documents and emails added to the folder

[2020-07-08 16:57] ExperimentsInHonesty opened #6 "Update the readme"
### Overview
The Readme should communicate the purpose of the repo and how people can interact with it

### Action Items
- [ ] Draft first version
   - [ ] review with Bonnie

[2020-07-08 17:00] abi-a opened #7 "Discuss and Document Product Managers Onboarding Process"
### Overview
We need to discuss and document the plan for onboarding for Product managers into the Hack For LA> Practice Areas>Product Management Folder

### Action Items
- [ ] Schedule discussion with Bonnie

[2020-07-11 14:41] abi-a commented on #2
This is completed

[2020-07-11 14:42] abi-a commented on #6
Draft has been updated but some feedback on it would be great

[2020-07-11 14:43] abi-a commented on #5
Folder was already created, just added to the racial justice folder

[2020-07-11 14:43] abi-a commented on #1
This is resolved, all the actions in the document are completed

[2020-07-11 14:48] abi-a opened #8 "Clarify the Director of Product Role"
### Overview
Review the list of roles and responsibilities displayed in the document

### Action Items
- [ ] Expectation Setting on Time Commitment
- [ ] Align on Goals for the Next Quarter
- [ ] Formalize and communicate

### Resources/Instructions
https://docs.google.com/document/d/1Uujf0XWNMHoXGQxmb1QiguoqeBV7ycsYQuu88vtF4BI/edit

[2020-07-11 15:08] abi-a opened #9 "Align on Roadmap Needs"
### Overview
We need to discuss whether or not a roadmap is required for the Hack For LA  and what we would be basing it on.

### Action Items
Starting with this:https://docs.google.com/document/d/1NF_T-FzDSAsH8fSCMllfp3ip3cijo-xpt2ExjCAhOwI/edit#heading=h.zozk37s4oxn

[2020-07-11 15:15] abi-a opened #10 "Train the Trainer Model for Product Manager"
### Overview
Because a good amount of volunteers are coming through the door very green, with little to no product experience.It would be important to set up a training model that will enhance their knowledge base that doesn't require the overhead time currently required to enable this. The suggestion would be for Bonnie and Abi to formalize a process that will support current product managers in

[2020-07-11 15:18] abi-a opened #11 "Folder Structure for Google Documents"
### Overview
We need to agree on the required folder structures for Google Drive, it is currently a dumping ground for a myriad of different documents.

### Action Items
- [ ] Review the product that has the cleanest google structure
- [ ] Agree on a new folder structure
- [ ]  Include the clean up of google folder in the key responsibilities for product managers/owners

[2020-07-11 15:23] abi-a opened #12 "Communication Strategy between Product Leads"
### Overview
A consistent touch base will need to be scheduled to ensure alignment on product plans and goals for each product. The expectation for these meetings is to understand the status, needs, and any leadership support that will be required.

This will help solve a number of things to include :
1. The need for Bonnie being present at every meeting

### Action Items
- [ ] Simple and easy rep

[2020-07-11 15:46] abi-a opened #13 "Asynchronous Communication Process for Hack For LA"
### Overview
As a Hack For LA Team how could we leverage this communication style to foster better collaboration and communication

### Action Items
- [ ]Identify industry best practices
- [ ] Discuss with the team to identify gaps
- [ ] Document and socialize process

[2020-07-11 15:53] abi-a opened #14 "Analytics to Support Getting Additional Funding"
### Overview
We need to scale the current analytics needs at Hack for LA to support getting funding from additional sources

### Action Items
- [ Why has Hack for LA not been successful previously in providing impact reports for previous projects, what are some of the pitfalls that has been experienced. This will best inform on the latter action items
- [ ] ] Identify tiers of funders and their fo

[2020-07-11 15:59] abi-a opened #15 "Feedback on Data Feminism Cohort"
### Overview
General Feedback on what's working well and what isn't and how Hack for LA can leverage the information to implement better processes.

What's Not Going So Well

1. Its being lead by a very eclectic group that seem to be stuck in their own heads a lot of the time
2. Instructions are very unclear, team members are finding themselves scrambling to understand the instructions
3. There is

[2020-07-11 18:26] abi-a opened #16 "Github Issues Template for all new projects"
### Overview
We need to align on a standard for all Github issues for new projects

### Action Items
- [ ] Create External Projects Template
- [ ] Create Internal Projects Template
- [ ] @bonnie to work with Kevin to refine the TDM projects and compare with the shared housing (Desired Template)

[2020-07-11 18:45] abi-a opened #17 "Community of Practice for Product Management"
### Overview
An agenda for the CoP for the product management space.

### Action Items
- [ ] Speak with the CoP's about the current agenda
- [ ] Review the feedback from the project leads to align on time

### Resources
An Agenda Document has been added https://docs.google.com/document/d/1cZReKbBhGS3IbfnYu6rbJc-YGwascQIP_6aDvJJ1X5E/edit?usp=sharing @ExperimentsInHonesty  please review and provide

[2020-07-11 19:12] ExperimentsInHonesty commented on #6
@abi-a  please turn readme content into google doc and put the link in the header of this issue, and let me know when its ready for my review again by @ mentioning me in a comment.

[2020-07-11 19:14] ExperimentsInHonesty commented on #1
Thanks!

[2020-07-11 19:14] #1 closed

[2020-07-11 19:15] ExperimentsInHonesty commented on #2
Great.  Thanks!

[2020-07-11 19:15] #2 closed

[2020-07-12 00:26] NivenPrasad commented on #7
A list of initial product management activities from the 100Automations project that may be helpful to note here:
- Create one-sheet for project
- Create social media accounts (Twitter, FB, and Instagram)
- Create Project Management Board, new Issues and walkthrough of Issues with Product Owner
- Update Readme for repo
- Set up weekly meeting cadence (if not set up already)
- Set up Quick Links on

[2020-07-15 13:13] abi-a commented on #6
This has been added to a Google Document for your review @ExperimentsInHonesty

https://docs.google.com/document/d/1YeSn-Nt6LlfezeBlWjzVNKoYGhxEFR85MdwlfqnGsqs/edit?usp=sharing

[2020-07-15 13:20] abi-a commented on #4
The only outstanding ones are Not Today Project, Hello Gov and Lucky Parking. Others have been addressed

[2020-07-15 13:28] abi-a commented on #17
For preferred topics and cadence of the CoP is there is a dependency on Ray sending the form to all product managers so we can identify a time that works for most people

[2020-07-25 16:50] abi-a commented on #11
Duplicate of #16

[2020-07-25 16:50] #11 closed

[2020-07-26 05:42] ExperimentsInHonesty commented on #7
Hi @rframbro2 and @abi-a

@NivenPrasad and I assembled all the issues from the 100 automations board, and via a tour through TDM calculator's old issues we identified new issues to 100 automations, and Niven created them as appropriate.    Then we created Milestones and organized the tickets into them.  We put all of that information on this spreadsheet

[100 Automations Initial Issues](https://do

[2020-07-26 06:00] ExperimentsInHonesty commented on #7
@abi-a let's talk about which other new projects we need to check this against.

[2020-07-31 10:34] gregpawin commented on #3
[One-sheet for Lucky Parking](https://docs.google.com/document/d/1AVmIHCNPts_hEVMmJtvoc6V4lf032qAGOxEQ64MoqJg/edit?usp=sharing)

[2020-08-08 16:00] abi-a commented on #4
Abi to write up a draft of the job description and add here for bonnie to review. Google Document, this should be sent to the project team for their review. Document should have repo links so the people can view it from there

[2020-09-10 21:13] ExperimentsInHonesty opened #18 "Update 311 one sheet"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2020-09-10 21:22] ExperimentsInHonesty opened #19 "Conversation about modeling effective practices"
### Overview
We need to create a culture of sharing between teams and the larger civic tech eco-system so that we can avoid duplicative learning or work.

### Action Items
- [ ] Discuss with product team how you want work with the people modeling your processes.

### Resources/Instructions
https://github.com/hackforla/civic-opportunity/issues/35 

[2020-10-14 19:04] ExperimentsInHonesty commented on #4
This article will be useful for the messaging project pm https://www.theguardian.com/commentisfree/2020/sep/08/robot-wrote-this-article-gpt-3

[2020-10-30 18:30] ExperimentsInHonesty opened #20 "Create a Guide: Figma Effective Practices"
### Overview
We need to create a guide to how to use emojis,  indentation and coversheet in your figma file so that it is easy for team members to find what they are looking for.

### Action Items
- [ ] Gather examples of how other Hack for LA projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft

[2020-11-01 19:41] ExperimentsInHonesty opened #26 "Create a template: Privacy Policy"
### Overview

We need a privacy policy to comply with current legal guidelines and a template privacy policy for other projects.

### Action Items
- [x] Product/Legal
   - [x] write a general privacy policy template in google docs to genericize it.
      - [ ] create sub-sections to be included as appropriate
         - [ ] Has website
         - [ ] Has application
         - [ ] does UX surveys

[2020-12-11 00:46] ExperimentsInHonesty opened #21 "Create a Guide: Personas, User story, User Journey template/examples"
### Overview
Project Managers at Hack for LA need examples of how user stories are written, stored, used, etc.

### Action Items
Gather up all the examples from all the projects and write a guide to how to make and use user stories
- [x] 100 Automations
   - [x] Provide link to user stories
   - [x] Provide text which explains how we have
     - [x] created them
     - [x] used them
     - [x] are

[2020-12-23 20:50] ExperimentsInHonesty opened #22 "Create a Guide: Communication (style) Guide for Document Creation template/examples"
### Overview
We need to create a guide to making a Communication (style) Guide for Document Creation so that the documents that come out of their projects to have a consistent look and feel that has been coordinated with HfLA org leadership to maintain brand consistency both in their project and with other projects in the portfolio.

### Action Items
- [ ] Gather examples of how other Hack for LA

[2020-12-23 21:37] ExperimentsInHonesty opened #23 "Create a Guide: Google Form design - Gather Hack for LA examples"
### Overview

We need to to know if your project has used Google Forms and what the URLs are so that we can keep track of the Google Forms from all the Hack For LA projects.

### Special note
- This issue is part of larger initiative to get all projects communication guides done so that all their documents (forms, docs, slides, sheets, website) can have a consistent look and feel #22

### Action I

[2020-12-23 21:53] ExperimentsInHonesty opened #24 "Create a Guide: Website Style Guide and Design System"
### Overview
Product Managers, Designers and Developers need a style guide to make sure the website created is consistent.

### Action Items
- [ ] Review the existing examples project Style Guides and Design Systems
- [ ] Create your version in your project's figma
- [ ] add a link to your Communication Guide to list of Work in Progress versions below
- [ ] Review with ~Bonnie~ Design Systems team

[2020-12-27 12:57] tarang100 opened #35 "Update Project Profile: Food Oasis"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
https://www.hackforla.org/projects/food-oasis

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated informat

[2020-12-29 21:38] ahdithebomb opened #37 "Update Project Profile: LA TDM Calulcator"
### Dependency
~Waiting on implementation of https://github.com/hackforla/website/issues/989~
Waiting on implementation of https://github.com/hackforla/website/issues/1144

### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/tdm-calculator

### Action Items
Please check off everything that is ok the way

[2020-12-29 21:39] ahdithebomb opened #43 "Update Project Profile: Lucky Parking"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/lucky-parking

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [x] title
- [ ] description
- [x] image
- [ ] leadership
   - [ ] Name
   - [ ] Role

[2020-12-29 21:41] ahdithebomb opened #44 "Update Project Profile: New Schools Today"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/new-schools-today

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
   - [ ] Name
   - [ ] Ro

[2020-12-29 21:55] ahdithebomb opened #46 "Update Project Profile: Public Tree Map"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
https://www.hackforla.org/projects/public-tree-map

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the wa

[2021-01-02 05:43] ExperimentsInHonesty opened #25 "Create a wiki for your project"
### Overview
Each project needs a wiki to cover how to get started on the project so that new members can onboard easily.

### Action Items
- [ ] Copy the wiki from the default repo
- [ ] Customize the wiki for your project

### Resources/Instructions
[Hack for LA's default repo wiki](https://github.com/hackforla/.github/wiki)

Examples of good wikis
[Civic Tech Index wiki](https://github.com/civi

[2021-01-02 06:30] Olivia-Chiong commented on #23
Civic Tech Index Recruitment Form - [Edit the form](https://docs.google.com/forms/d/1nJwBAVQY4U4XdLIGeNSEdjCA6vaRb99gvymB3q8BAqA/edit) | [Share Form](https://forms.gle/A2MMBq4WYVFCoAVY6)

[2021-01-02 06:42] ExperimentsInHonesty commented on #20
Working on sorting out some details on the civic tech index project.  Project [Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=4225%3A16898) should be updated to add classes soon

[2021-01-02 06:54] ExperimentsInHonesty commented on #23
@Olivia-Chiong please remove the strikethough above when the form is finished.

[2021-01-04 23:08] ExperimentsInHonesty opened #27 "Minimum steps for new project setup"
### Overview
We need a checklist of all new projects, so that new PMs can take ownership of the process and get the resources they need from leadership

### Action Items
- [ ] Product Manager
   - [ ] Ideate on name of project (including is it available as a domain name and on socialmedia: twitter, instagram, facebook)
   - [ ] get signoff from HfLA leadership
- [ ] Hack for LA org Leader
   - [ ]

[2021-01-05 02:50] ExperimentsInHonesty commented on #20
In addition to some basic setup we also need guidance on how to use styles, etc in order to be able to create .css or .scss files Hi!

Two articles I found sounds like they have sorted out how material and Figma should be used together to make styles:
- https://www.figma.com/blog/material-design-figma-styles/
- https://www.figma.com/best-practices/components-styles-and-shared-libraries/styles-and-

[2021-01-05 08:05] ExperimentsInHonesty opened #28 "Start the formation of a new project to create automation and add institutional value"
# Who's Here?

* Bonnie
* Nina

# What did we do?
Discussed the need to create a project similar in scope to other civic projects at HFLA, except this project would be to create an application that new projects that come to HFLA could be put through (self guided by the stakeholder). This project would create a lasting resource that would be used and iterated as needed.  Both providing interactivit

[2021-01-05 08:09] ExperimentsInHonesty opened #29 "Bonnie to do a draft of the presentation for project managers"
## Overview

Bonnie and Kegan are working on a presentation for open Oakland.  Hack for LA also needs a slidedeck for project managers.  So Bonnie will create the project manager's deck and then we can create a briefer presentation from that.

## Action Item
Bonnie to create project mangers's slide deck.

[2021-01-05 08:09] #29 closed

[2021-01-05 11:31] ExperimentsInHonesty commented on #20
A search I performed once:
[How to add a font to figma](https://www.google.com/search?q=how+to+add+a+font+to+figma&rlz=1C5CHFA_enUS827US827&oq=how+to+add+a+font+to+figma&aqs=chrome..69i57j0l4.7079j0j1&sourceid=chrome&ie=UTF-8)

[2021-01-05 21:32] Olivia-Chiong opened #33 "Create a Miro account for your project"
### Overview
Create a Miro account for your project so you can create project workflows.

### Action Items
- [ ] Create a Gmail account (example: civictechindex@gmail.com) for your project if it does not yet exist
   - [ ] If it already exists, connect with Bonnie to do password recovery for the Gmail account.
- [ ] Add Gmail account to 1Password vault and use hackforla.org email as the recovery e

[2021-01-05 22:16] tarang100 opened #34 "Update Project Profile: Home Unite Us"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/home-unite-us

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
  - [ ] Member Name
  - [ ] R

[2021-01-05 22:25] tarang100 opened #36 "Update Project Profile: Engage"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/engage

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
   - [ ] Member Name
   - [ ] Role

[2021-01-05 22:31] ahdithebomb opened #38 "Update Project Profile: 311 Data"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/311-data

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github
  - [ ]

[2021-01-05 22:36] ahdithebomb opened #39 "Update Project Profile: Civic Tech Index"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/civic-tech-index

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Github

[2021-01-05 22:39] ahdithebomb opened #40 "Update Project Profile: Civic Tech Structure"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/civic-tech-structure

### Action Items
Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
- [ ] title
- [ ] description
- [ ] image
- [ ] leadership
- [ ] links
  - [ ] Gi

[2021-01-05 22:39] ExperimentsInHonesty opened #41 "Add all legacy PMs to the product-management team"
### Overview
We need to have all PM on the GitHub repo for product so that they can do updates on their issues

### Action Items
- [ ] PMs
   - [ ] Add all product manager github handles that you have update issues for to the comments below
- [ ] HfLA GitHub Owner
   - [ ] add those github handles to the pm team

### Resources/Instructions
Team: https://github.com/orgs/hackforla/teams/product-mana

[2021-01-06 14:13] pawan92 commented on #41
LA TDM Product Manager: Kevin Howley (@KPHowley)
New Schools Today Product Manager: Joshua Bubar (@jbubar)

[2021-01-06 16:52] ahdithebomb opened #45 "Update Project Profile: Civic Opportunity Project"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
 https://www.hackforla.org/projects/civic-opportunity-project

### Action Items

- [x] Civic Opportunity Team Leadership
   - [ ] Please check off everything that is ok t

[2021-01-06 17:00] ahdithebomb opened #47 "Update Project Profile: Record Clearance Project"
### Overview
Please review the following information for your project and provide any updates

### Project card
https://www.hackforla.org/projects/record-clearance-project

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [ ] title

[2021-01-06 17:09] ahdithebomb opened #48 "Update Project Profile: Undebate"
### Overview
As a product manager, I need to make sure that all the projects that are listed on the HfLA website are up to date so that my customers(visitors) can get an accurate picture of each of the projects.

### Project card
https://www.hackforla.org/projects/undebate

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the way that

[2021-01-06 17:12] tarang100 commented on #41
@ExperimentsInHonesty
   - [ ] Please add the following Github handles to the PM team
      - [ ] Civic Opportunity Project: Ray Frambro (@rfambro2)
      - [ ] Public Tree Map - Emily (@emillipede)
      - [ ] Record Clearance Project - Daniel Lee (@j100892)
      - [ ] Undebate - Missing

[2021-01-07 03:06] ahdithebomb commented on #41
@ExperimentsInHonesty

    - [ ] 311 Data: Pras (pras4u), already on github
    - [ ] Civic Tech Index - Olivia, (Olivia-Chiong ), already on github
    - [ ] Civc Tech Structure- Bonnie (ExperimentsInHonesty), already on github

[2021-01-09 04:26] Olivia-Chiong opened #49 "Create and organize your project's Google Drive"
## Steps to organize your project's Google Drive.

1. Ensure you have access to the Google Drive.
    1.  If you do not have access, ask the existing PM to add you to it.
    2. If it does not yet exist, ask Bonnie to create it.
1. Add yourself to the team roster.
    1. If it does not yet exist, create it using this template.
1. Organize the drive by numbering the folders and sorting all document

[2021-01-09 04:46] Olivia-Chiong opened #50 "Create and maintain your project's Slack channel"
### Overview
Create and maintain your project's Slack channel so it can be used as an effective communication tool with the team.

### Action Items
- [ ] Join your project's Slack channel
      - [ ] If it does not exist, create the channel by using the +Add channels link in Slack
      ![image](https://user-images.githubusercontent.com/75456721/104083156-3c907380-51f1-11eb-9977-701fc32a4613.png)

[2021-01-13 03:27] #17 closed

[2021-01-13 03:28] #19 closed

[2021-01-13 16:53] #4 closed

[2021-01-13 18:57] pawan92 commented on #37
Reached out to Kevin via slack on Jan 12 letting him know about this ticket and to verify the information is correct and whether or not we need updates along with link to this ticket.

[2021-01-13 19:01] tarang100 commented on #35
Reached out to Jenny Mikesell via Slack on 11th January 2021 at 5:51 am PST / 7:21 pm IST

Tarang Gupta  7:21 PM

[2021-01-13 20:32] captain-nimo commented on #38
@ahdithebomb, please find the list of technologies below.

`Technologies: JavaScript (React), Redux, Bulma, HTML/CSS, Python, Sanic, Pandas, NumPy, PostgreSQL, Socrata Open Data API, Docker, Figma, Miro, Adobe Creative Cloud`

[2021-01-13 22:36] Olivia-Chiong opened #51 "Update One Sheet: 100 Automations"
### Overview
Create or update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project overview is accurate
- [ ] Include project logo
- [ ] Update history/last 6 months
- [ ] Update roadmap/next 6 months
- [ ] Update last updated date

### Resources/Instructions
Check issue #3 for sample one sheets

[2021-01-13 22:36] Olivia-Chiong opened #52 "Update One Sheet: [name of project]"
### Overview
Create or update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project overview is accurate
- [ ] Include project logo
- [ ] Update history/last 6 months
- [ ] Update roadmap/next 6 months
- [ ] Update last updated date

### Resources/Instructions
Check issue #3 for sample one sheets

[2021-01-13 22:42] Olivia-Chiong commented on #52
Reached out to team on 01/13/2021 via Slack

[2021-01-13 22:49] henlatourrette opened #53 "Create a One Sheet: Heart"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project does not already have a one sheet
- [x] Speak to the team to get an overview of the project
- [x] Include project logo
- [x] Create history/last 6 months
- [x] Create roadmap/next 6 months
- [x] Include last updated date

### Resources/Instructions
Check iss

[2021-01-13 22:50] koneru123 opened #54 "Create a One Sheet: HelloGov"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-13 22:53] koneru123 commented on #54
reach out to Bonnie on slack to get up to speed on the project

[2021-01-13 22:53] henlatourrette commented on #53
Need to reach out to @ExperimentsInHonesty  on Slack - to get up to speed on the project

[2021-01-13 23:02] ktjnyc opened #55 "Create a One Sheet: Undebate"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-13 23:03] ktjnyc commented on #55
Checking with David on Slack channel for update.

[2021-01-13 23:08] Charity59 opened #56 "Update One Sheet: Record Clearance Project"
### Overview
Create or update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project overview is accurate
- [ ] Include project logo
- [ ] Update history/last 6 months
- [ ] Update roadmap/next 6 months
- [ ] Update last updated date

### Resources/Instructions
Check issue #3 for sample one sheets

[2021-01-13 23:10] nomingantulga opened #57 "Create a One Sheet: Racial Justice Project"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project does not already have a one sheet
- [x] Speak to the team to get an overview of the project
- [x] Include project logo
- [x] Create history/last 6 months
- [x] Create roadmap/next 6 months
- [x] Include last updated date

### Resources/Instructions
Check iss

[2021-01-13 23:13] ktjnyc commented on #55
Reached out to David on Slack to meet and discuss

[2021-01-13 23:15] Oluwafemi-Jegede opened #58 "Create a One Sheet: Public Tree Map"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-13 23:15] ExperimentsInHonesty commented on #56
This project is active and you can reach them by messaging in the Record Clearance slack channel to Gretchen

[2021-01-13 23:18] SarikaVandy opened #59 "Create a One Sheet: Messaging Project"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-13 23:20] ExperimentsInHonesty commented on #58
@Oluwafemi-Jegede This project is active but might be a little slow to respond.  The project lead is Emily who is super passionate about the topic and has done amazing work.  She may or may not be enthusiastic about participating in making this one sheet.  So it might be more of an interview process then come back with information we can craft into a one sheet.

[2021-01-13 23:26] shaswa opened #60 "Update One Sheet: Write for All"
### Overview
Create or update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project overview is accurate
- [ ] Include project logo
- [ ] Update history/last 6 months
- [ ] Update roadmap/next 6 months
- [ ] Update last updated date

### Resources/Instructions
Check issue #3 for sample one sheets

[2021-01-13 23:28] shaswa commented on #60
Reach out to Joel on Slack for onboarding

[2021-01-13 23:46] shaswa commented on #60
Reached out to Joel on Slack for one sheet update

[2021-01-13 23:52] ExperimentsInHonesty commented on #54
Sent this message on slack to @kate-rose and @koneru123
Bonnie  1/13/2021 3:49 PM
Hi Kate, Please meet Priyanka.  She is joining us as a new Product Manager and we are spending some time making sure we can showcase projects (both open and closed) that have come out of hack for LA.  New projects start with one sheets (overview of project and 6 month roadmap, and appropriate links). We are now going

[2021-01-14 00:16] ExperimentsInHonesty commented on #60
@shaswa is not really actively involved with the project.  Reach out to Danielle Nedivi on slack.  She will know who can provide an update.

[2021-01-14 00:24] ExperimentsInHonesty commented on #59
@SarikaVandy The project never got off the ground because the first PM had a hard time with the alignment of the purpose etc.  So here is what I have so far - [Google Drive](https://drive.google.com/drive/u/1/folders/1hhIIfbAnPmXcIstQuorrcasuZFpwplVz):

[2021-01-14 01:53] shaswa commented on #60
Thank you @ExperimentsInHonesty. Reached out to Danielle on slack.

[2021-01-14 08:41] Oluwafemi-Jegede commented on #58
@ExperimentsInHonesty Okay noted.
Let me know when we can have a comprehensive disccusion on the project

Thanks

[2021-01-14 15:53] shaswa commented on #60
@ExperimentsInHonesty Danielle said she's not actively involved in the project either. Is there anyone else that I can reach out to?

[2021-01-14 17:36] ExperimentsInHonesty commented on #53
@henlatourrette Here is some stuff for you to review before we talk:
- An issue about finishing an article about heart: https://github.com/hackforla/marketing/issues/6
- The heart project page: https://www.hackforla.org/projects/heart

[2021-01-14 17:41] ExperimentsInHonesty commented on #58
@Oluwafemi-Jegede I can talk to you after you have reached out to Emily.  If you are still unclear about what is required, please reach out to Olivia for guidance.

[2021-01-14 17:54] ExperimentsInHonesty commented on #54
<img width="777" alt="Screen Shot 2021-01-14 at 9 53 42 AM" src="https://user-images.githubusercontent.com/37763229/104629477-6b25a880-564e-11eb-9725-3dfce4f12fc4.png">

[2021-01-14 18:50] ExperimentsInHonesty commented on #55
@ddfridley @ktjnyc please provide a link to the draft in a comment here

[2021-01-14 19:47] ktjnyc commented on #55
@ddfridley and I spoke today and I am working on writing up the first draft.  I've created a [google doc here]([url](https://docs.google.com/document/d/1rAks5eydIXaepHOSjZuIwGJd-0B8QwYfQBqpDGVVrgU/edit))

There isn't a project logo so that will need to be created.

[2021-01-15 03:36] adamkendis commented on #38
@ahdithebomb, current list of technologies for 311-data:

Frontend: ReactJS, Redux, Material-UI, Mapbox, AWS
Backend: Python, FastAPI, Redis, PostgreSql, Prefect, Docker, AWS

[2021-01-15 04:01] captain-nimo commented on #18
Here's the logo of `311-data` partner `p-ai`. I'll add an info about them when I get it from Varun.

![image](https://user-images.githubusercontent.com/25173228/104679671-38b29480-56bc-11eb-9c90-b10069034ad6.png)

[2021-01-15 15:57] ktjnyc commented on #55
Draft ready review and feedback.

[2021-01-15 18:03] Olivia-Chiong commented on #51
Progress: None
Blocks: Insufficient time, but will get it done before next meeting.
Availability: 30 mins
ETA: 01/19/2020

[2021-01-15 18:30] vishrut-goel opened #61 "Update One Sheet: Civic Opportunity Project"
### Overview
Civic Opportunity Project needs a logo to finalize its messaging.

### Action Items

- [ ] Draft a message that contains the following information:
   - [ ] One Sheet URL
   - [ ] List of the meeting times
   - [ ] Ask
   - [ ] Invitation to meet with the team
   - [ ] Link to issue

### Resources/Instructions
[Civic Opportunity One Sheet](https://docs.google.com/document/d/1E4JIMNX9G

[2021-01-15 18:31] vharsh25 opened #62 "Create a One Sheet: Workshop Wednesdays DRAFT VERSION"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-15 18:52] ialv44 opened #63 "Update Project One Sheet: Civic Tech Structure"
### Overview
We need to finish the Civic Tech Structure one sheet to be able to share it with outside stakeholders

### Action Items

- [ ] Review the existing one sheet
- [ ] Write up questions in comment below.
- [ ] Ask Bonnie to look at your questions.

### Resources/Instructions
[Civic Tech One Sheet](https://docs.google.com/document/d/1GkvbJ9byBWBpZklYE6YL5nqa-KbIRz32PnMCeroV_1g/edit
)

[2021-01-15 18:53] shaswa commented on #60
Posted in channel asking for current project lead

[2021-01-15 19:02] vishrut-goel opened #64 "Create a One Sheet: GreenEarthOS (formally known as Climate)"
### Dependency
Waiting for a logo https://github.com/hackforla/GreenEarthOS/issues/56

### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project does not already have a one sheet
- [x] Speak to the team to get an overview of the project
- [x] Include project name
- [ ] Include project logo
- [x] Create history/last

[2021-01-15 19:08] MSS915 opened #65 "Create a One Sheet: Engage"
### Dependency
Waiting on logo https://github.com/hackla-engage/start-here/issues/11

### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project does not already have a one sheet
- [x] Speak to the team to get an overview of the project
- [x] Include project logo
- [x] Create history/last 6 months
- [x] Create roadm

[2021-01-15 19:19] henlatourrette commented on #53
Got access to the One Sheet Template now. I'm going to work on it for a 1st Draft with the information I have so far.

[2021-01-15 19:29] ktjnyc commented on #55
Project logo added to draft

[2021-01-15 19:31] vharsh25 opened #66 "Create a One Sheet: Livestream"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-15 19:32] muhabdulkadir opened #67 "Update project one sheet: hackforla.org"
### Overview:
We need to update the one sheet so that new team members can understand where the project is in its lifecycle

### Action Items

- [ ] Review the existing one sheet
- [ ] Meet with the team product managers to work on updates with them

### Resources/Instructions
[HackforLA.org One Sheet](https://docs.google.com/document/u/1/d/1hIAKyJwDHknPjn7I-RmZeCu_RkK-Zw4YNBA_-Ygqdoc/edit)

[2021-01-15 19:47] valerianprince opened #68 "Update Project One Sheet: HomeUniteUS"
### Overview
Create or update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project overview is accurate
- [x] Include project logo
- [x] Update history/last 6 months
- [x] Update roadmap/next 6 months
- [x] Update last updated date

### Resources/Instructions
Check issue #3 for sample one sheets
[One Sheet](https:/

[2021-01-15 20:34] alexilee opened #69 "Update One Sheet: VRMS"
### Overview
Update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [x]  Check to confirm project overview is accurate
- [x]  Include project logo
- [x]  Update history/last 6 months
- [x]  Update roadmap/next 6 months
- [x]  Update last updated date

### Resources/Instructions
Check issue [#3](https://github.com/hackforla/product-managem

[2021-01-15 21:21] Olivia-Chiong commented on #52
Progress: None
Blocks: Insufficient time, but will get it done before next meeting.
Availability: 30 mins
ETA: 01/19/2020

[2021-01-16 19:00] captain-nimo commented on #18
Here's the info I've got Varun:

```P-ai is building the modern incubator for AI projects and ideas at the Claremont Colleges—filling the gap in the state of AI/ML in our current undergrad education, enabling students to engage in the the ever-expanding field of artificial intelligence, with numerous cross-functional applications in autonomous driving, supply chain, healthcare, finance, and the so

[2021-01-16 21:23] Olivia-Chiong opened #70 "Review the Guide to Kanban document"
### Overview
All new product managers should read the guide to Kanban to familiarize yourself with how we use Kanban here at Hack for LA

### Action Items
- [ ] Read the Guide for Kanban
- [ ] Provide comments and suggestions

### Resources/Instructions
[Guide to Kanban](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit?usp=sharing)

[2021-01-17 17:11] tarang100 commented on #46
Posted the issue in the Public Tree Map Slack channel on 11th January 2021 at 9:45 PM IST / 8:15 AM PST

Reached out to Emily on 14th January 2021 at 10:45 PM IST / 9:15 AM PST
[code]

[2021-01-17 17:45] pawan92 commented on #37
**Progress:** Have reached out to and got a response from Kevin saying he will look into it on Jan 13th. Just pinged him today saying thanks and to let me know
**Blockers:** None
**Availability:** Good
**ETA:** This week

[2021-01-18 01:34] KPHowley commented on #37
### **Updated Blurb:**

**The LA TDM Calculator**

The LA TDM Calculator is a web app, created in conjunction with the L.A. Department of Transportation, to help real estate developers design better projects for Los Angeles. The Calculator is being implemented alongside a new ordinance reducing over-parking and improving the infrastructure to incentivize public transportation and discourage single

[2021-01-18 05:24] Arjayellis opened #71 "Update One Sheet: BallotNav"
### Overview
Update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project overview is accurate
- [x] Include project logo
- [x] Update history/last 6 months
- [x] Update roadmap/next 6 months
- [x] Update last updated date
- [ ] Get approval from org lead
- [ ] Make pdf
   - [ ] name it: BallotNav-Project-One-Sheet.

[2021-01-18 09:22] aadi-singh01 commented on #61
Hi team, we're looking for a designer for the Civic Opportunity Project to help design its logo. Here's the [One Sheet](https://docs.google.com/document/d/1E4JIMNX9GgD_VcLqcnJCmR8kCnVi1GmgKCoKH9H71Cs/edit#) for the project.

The team meets on Fridays at 4:30am and Sundays at 9.30pm (Pacific Standard Time), please feel free to join in and volunteer! This is the link to the [issue](https://github.co

[2021-01-19 00:53] henlatourrette commented on #53
Progress: Created a 1st Draft with the informtion gathered from the "article about heart". @ExperimentsInHonesty , would you take a look at my [draft ](https://docs.google.com/document/d/1Wj3AhwNMZBZfIyX-MFqCIVH1qD2QJR2e0FXYzUUL7bM/edit) and tell me what you think? :
Blocks: need to decide about "the roadmap" or leave it with just "results" - it looks like this project is already completed.
Availa

[2021-01-19 05:29] nomingantulga commented on #57
Spoke to @ExMember about the project, received updates and sheet for Racial justice research

Have done research on IJ, confirming next steps with Bonnie and Olivia:
- collect all information
- create buckets for organisations
- validate information with SME, academics or journalist
- Data scientist to map space visually

[2021-01-19 20:01] ktjnyc commented on #70
@Olivia-Chiong I've reviewed and added in my comments.

[2021-01-20 01:50] shaswa commented on #60
Laila Aaser is the current project lead and will be sending me the details soon.

[2021-01-20 01:59] Olivia-Chiong opened #72 "List of product management items"
### Overview
List of product management items.

### Action Items

- [ ] Google Drive
- [ ] GitHub Repository
- [ ] Slack Channel
- [ ] 1Password
- [ ] Figma
- [ ] Miro
- [ ] Team Roster
- [ ] Product One Sheet
- [ ] Competitive Analysis
- [ ] Presentation Deck
- [ ] Recruitment Form
- [ ] Readme
- [ ] Wiki
- [ ] User Persona/Journeys
- [ ] OKRs and WBS
- [ ] Storypoints
- [ ] Meeting Minutes Templ

[2021-01-20 02:17] vharsh25 commented on #72
We can create a standard template for all Product One Sheet. As projects grow and different people with varying skill set makes one sheet, we want to ensure the one sheet is standard and serves the purpose. Background, Where are we right now/How far are we? and Where are we going from now? - All one sheet should be able to answer these 3 questions

Any ideas?

[2021-01-20 04:17] nomingantulga commented on #57
Progress:
Blocks:
Availability:
ETA:

[2021-01-20 15:02] ktjnyc commented on #72
Is any kind of product support documentation, from the eyes of the end user, included in the list above?

[2021-01-20 18:49] pawan92 commented on #37
@KPHowley Bonnie says there are other individuals that need to be displayed under leadership. Bonnie says "PLEASE REVIEW THIS AGAIN"

[2021-01-20 23:45] ExperimentsInHonesty commented on #25
@Olivia-Chiong has made a wiki, which I turned into a generic template and placed on the repo: https://github.com/hackforla.org/.github  and we are in the process of documenting how to copy the wiki to a specific repo when you need it.  Here is what Thad wrote for the Civic Tech Stucture BOP project.  It still seems fairly incomprensible to me.  We need someone who can document this a little more

[2021-01-21 18:03] ExperimentsInHonesty opened #73 "Create a Guide: Product Analytics Best Practices"
### Overview
We need to create a guide to making Analytics so that we can get accurate metrics on users of your project

### Action Items
- [ ] Gather examples of how other Hack for LA projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in m

[2021-01-21 23:50] ktjnyc opened #74 "Guide for writing a One Sheet"
### Overview
Create a guide to assist with writing a One Sheet

### Action Items
Draft instructions for how to write a One Sheet for projects that don't have one yet

### Resources/Instructions
[Draft guide](https://docs.google.com/document/d/14-nYNCjrMrC8lucUNBfLOFQZk2sWbkRlJgigWDAlqlI/edit?usp=sharing)

[2021-01-22 00:15] NivenPrasad commented on #21
@ExperimentsInHonesty I would love to help take this one on for the community since we're diving into it on our project

[2021-01-22 05:57] Olivia-Chiong commented on #52
[One Sheet](https://docs.google.com/document/d/1hBKdHr5jhagXruEgykQa2DU8xH1Tp_GVhnDIrHQiYmk/edit) updated, pending approval from Bonnie.

[2021-01-22 05:59] Olivia-Chiong commented on #61
@aadi-singh01 They meet at Fridays at 4:30 am and Sundays at 9:30 pm? That seems like really odd times.

[2021-01-22 10:29] aadi-singh01 commented on #61
@Olivia-Chiong please refer to the attached screenshot, I've picked up these timings from the HfLA website
<img width="455" alt="Screenshot 2021-01-22 at 15 57 03" src="https://user-images.githubusercontent.com/77371190/105479544-96ea0380-5cca-11eb-99b3-6285b0c201a5.png">

[2021-01-22 16:26] Olivia-Chiong commented on #61
That's in your local time and it needs to be updated to reflect PST

[2021-01-22 16:44] aadi-singh01 commented on #61
Nice catch! Thanks, I've updated it @Olivia-Chiong

[2021-01-22 16:58] ktjnyc commented on #74
@Olivia-Chiong can you review my draft and let me know if you have comment/suggestions?

[2021-01-22 17:21] shaswa commented on #60
DM'd Laila for updates.

[2021-01-22 17:31] Olivia-Chiong commented on #74
@ktjnyc this is great. Please move to review column for @ExperimentsInHonesty to review. Thanks!

[2021-01-22 17:33] ExperimentsInHonesty commented on #58
@Oluwafemi-Jegede Have you heard from @emillipede ?

[2021-01-22 17:40] ExperimentsInHonesty commented on #55
@ktjnyc I am a little concerned about the tone.  Its confrontative without value.  The language hints at some kind of partisan dog whistle even though its not. Can you find out from David what he is trying to communicate with these two lines and if its necessary.

I moved the image to the left and made it bigger.

[2021-01-22 17:40] ialv44 commented on #63
Reviewed the existing one sheet. Also, looked into the Brigade Organizer's Playbook and BOP Processes and Practices data
Can we include the learnings from each project that we are doing currently in the internal projects in one sheet?
History or Roadmap needs to be included as well?

@ExperimentsInHonesty please review.

[2021-01-22 17:46] ExperimentsInHonesty commented on #53
@henlatourrette Sorry for the delay.
I reviewed the draft.
Moved one of the images
removed the roadmap
added a note for you to insert the logo

The new task items on this are
- [ ] add the partner logo
- [ ] revise the results language to be less !!.  The facts are themselves impressive. the sentences should be more matter of fact.

[2021-01-22 17:51] ExperimentsInHonesty commented on #52
@Olivia-Chiong I'll have more feedback for you later.  But in the meantime can you remove the line around the 100 Automations logo.  That is not an approved use of the brand.

[2021-01-22 17:55] ExperimentsInHonesty commented on #61
@aadi-singh01 it still seems like the times are off on your draft
https://github.com/hackforla/product-management/issues/61#issuecomment-762110493

can you add a new revised draft below?

[2021-01-22 18:07] Oluwafemi-Jegede commented on #58
@ExperimentsInHonesty I am yet to hear from @emillipede , I have gone ahead to reach out to @Olivia-Chiong for help as advised

[2021-01-22 18:50] shaswa commented on #60
Laila is working on the updates and will be sending them to me once they are ready.

[2021-01-22 18:58] Olivia-Chiong commented on #52
@ExperimentsInHonesty that was a comment, it's been fixed now.

[2021-01-22 19:27] Olivia-Chiong opened #75 "Update One Sheet: LA TDM"
### Overview
Create or update the project one sheet so it is current and can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project overview is accurate
- [x] Include project logo
- [x] Update history/last 6 months
- [x] Update roadmap/next 6 months
- [x] Update last updated date

### Resources/Instructions
Check issue #3 for sample one sheets
[One Sheet for LA T

[2021-01-22 19:32] Olivia-Chiong opened #76 "Create a One Sheet: Open Community Survey"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-22 19:43] Olivia-Chiong opened #77 "Create a One Sheet: Community Survey Empower LA Website"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-22 19:45] ktjnyc commented on #55
Reached out to David on Slack with some suggestions on changing the language for those points.

[2021-01-22 20:17] Olivia-Chiong opened #78 "Project Inventory: HackforLA Website"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-01-22 20:21] Olivia-Chiong opened #79 "Project Inventory: Record Clearance Project"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-01-23 19:06] ktjnyc commented on #55
@ExperimentsInHonesty We reviewed and made the following changes:

Electing good people is important! ----> But, an informed electorate is important!

Build a portal where responsible leaders can create Undebates for their elections ---> Build a self-service portal for election leaders to create Undebates for their elections

[2021-01-23 19:12] ktjnyc commented on #65
We are handling this through the [Engage project board issue](https://github.com/hackla-engage/start-here/issues/2)

[2021-01-23 21:09] ExperimentsInHonesty commented on #68
Reach out to Alex Le @quyenvhle

[2021-01-24 06:04] aadi-singh01 commented on #61
Hi team, we're looking for a designer for the Civic Opportunity Project to help create its logo. Here's the [One Sheet](https://docs.google.com/document/d/1E4JIMNX9GgD_VcLqcnJCmR8kCnVi1GmgKCoKH9H71Cs/edit#) for the project.

The team meets on Thursdays at 3pm and Sundays at 8am (Pacific Time), please feel free to join in and volunteer! This is the link to [the issue](https://github.com/hackforla/c

[2021-01-24 17:14] pawan92 commented on #46
@tarang100 Update please:
Progress:
Availability:
Blockers:
ETA:

[2021-01-24 20:31] ExperimentsInHonesty commented on #46
@ExperimentsInHonesty has reached out to Emily.  Will provide an update here when I hear back.

[2021-01-25 18:38] ExperimentsInHonesty opened #80 "Create a guide to doing Eco-system mapping for topic area of project"
### Overview
We need a guide to how to do eco-system research for projects

### Action Items
- Gather examples and details from projects
   - Food Oasis
   - Climate Project
   - Racial Justice

### Resources/Instructions
- [Food Oasis Eco System map in a presentation slide deck](https://docs.google.com/presentation/d/1pKv3Frjcadu6XYBsN55D9OmsnDDGy_gblA1hs_IWiKA/edit#slide=id.g7353973022_1_42)

[2021-01-25 22:16] henlatourrette commented on #53
Progress: I changed the language on the "results" paragraph and used bullet points instead. Added a section called "next steps" saying that the article will be published. Added the Github url as well.
Blocks: Looking for a good quality logo for the Partner.
Availability: Around 4 hours.
ETA: Tomorrow.

[2021-01-25 22:42] ExperimentsInHonesty opened #81 "Capture all prior work from community-survey-empowerment-website"
### Overview
We need to have all the infor for the prior project in an accessible location so that this project can refer to it.

### Action Items
- [x] Bonnie to forward all related emails to the opencommunitysurvey@hackforla.org email
- [ ] Get Product Manager to classify work
- [ ] Notify this project team

### Resources/Instructions
[community-survey-empowerment-website project board](https://

[2021-01-26 22:59] henlatourrette commented on #53
Progress: I added the Partner logo and I think it's now finished already.
Blocks: I believe I just need confirmation - or some final review and feedback from @ExperimentsInHonesty to consider it ready. Bonnie, would you [give it a look](https://docs.google.com/document/d/1Wj3AhwNMZBZfIyX-MFqCIVH1qD2QJR2e0FXYzUUL7bM/edit)?
Availability: 2 hrs.
ETA: Done, just waiting for some final feedback.

[2021-01-27 01:50] ExperimentsInHonesty commented on #58
I didn't hear from emily yet.  We will change the status of the project to completed and remove the looking for from the project card if I don't hear from her in two weeks from the day I last wrote. In the meantime we will put this issue on hold

[2021-01-27 01:58] ExperimentsInHonesty commented on #77
There is no one sheet

[2021-01-27 01:58] ExperimentsInHonesty commented on #77
I am the person to speak to about this project.  Also John Ritchey who is still around but not involved day to day, will be a resource.

[2021-01-27 01:59] ExperimentsInHonesty commented on #77
There was no logo, but I can help address that

[2021-01-27 02:00] ExperimentsInHonesty commented on #77
Here is the repository https://github.com/hackforla/community-survey-empowerment-website

[2021-01-27 02:17] ExperimentsInHonesty commented on #54
@koneru123 will update the draft

[2021-01-27 02:23] shaswa commented on #60
Reached out to Laila to set up a time to discuss about the project

[2021-01-27 02:27] ExperimentsInHonesty commented on #69
After talking with Alex at the PM meeting, I reached out to Adam on VRMS via slack and told him about why Alex was there.  Waiting for update from Alex after next contact.

[2021-01-27 03:18] mariastudnicka commented on #51
Please see Issue #143 in [CTI PM board](https://github.com/civictechindex/CTI-website-frontend/issues/143). The Issue is ready for review.

[2021-01-27 03:23] ExperimentsInHonesty commented on #21
@pvrks please reach out to the Record Clearance project.

[2021-01-27 03:26] ExperimentsInHonesty commented on #21
@DrIffathsultana Please reach out to Mahmudul on 311 or Pras

[2021-01-27 04:22] alexilee commented on #69
I messaged both Adam Spar and Khushboo Shah on slack in order to set up time to get the information necessary to update the one sheet.

[2021-01-28 00:56] ExperimentsInHonesty opened #82 "Create a Template: Create a Competitive or Comparative Analysis for your project"
### Overview
We need a template so that each project can perform a competitive or comparative analysis

### Action Items
- [ ] Review the guide: _[Project name] Competitive or Comparative Analysis Template_
- [ ] Add the format for the template in the comments below

### Resources/Instructions
[[Project name] Competitive or Comparative Analysis Template](https://docs.google.com/spreadsheets/d/1ePx

[2021-01-28 05:30] Arjayellis commented on #71
@aadi-singh01 @ExperimentsInHonesty One-sheet has been updated. We will be getting the roadmap completed this weekend. Please let me know if we need to make any edits.

[2021-01-28 18:43] ggrrettcchhenn commented on #41
Please add the following PMs:
Record Clearance Project - Gretchen Howard (ggrrettcchhenn)
Record Clearance Project - Myranda Pierce (myrandi)

[2021-01-28 22:39] Arjayellis commented on #71
@Olivia-Chiong Looping you in as I believe you are heading this.

[2021-01-29 11:29] ibrahimakintundek commented on #77
I reached out to Bonnie and John Ritchey about this project. Ritchey redirected me to Bonnie for he has handed over his role. Bonnie is yet to respond to my message on slack on when I can have a conversation with her on this project.

[2021-01-29 16:14] ktjnyc commented on #65
Updates made to NEW draft Engage One Sheet

[2021-01-29 16:52] alexilee commented on #69
No reply from either PM. Bumped the conversation in Slack to initiate a response.

[2021-01-29 16:54] ktjnyc commented on #55
Made additional updates to [second draft](https://docs.google.com/document/d/1FV5cpWRE7cQiwc8gkUbpzPiQARxU7XzPB8yB50ys9zk/edit?usp=sharing)

[2021-01-29 17:08] ddfridley commented on #55
@ktjnyc What problem were you trying to address with the previous draft?

[2021-01-29 17:11] ialv44 commented on #63
Internal Projects: Some of the best practices/processes that we are currently following across Hack for LA projects include:
- WIKI Template: This template helps new volunteers to onboard and get started on a project easily.
- Resume Content Building Tool: To help volunteers to turn their experience into bullet items on their resume.
- 1Password: To secure the passwords and make it easy for people

[2021-01-29 17:53] ExperimentsInHonesty commented on #77
@peteplass and I are going to go through the drive and make a wiki of all the project assets.  This should provide more context from which to create a one sheet.  This is on hold until that is completed.

[2021-01-29 18:03] ExperimentsInHonesty commented on #53
@henlatourrette I have made some edits.

[2021-01-29 18:04] ExperimentsInHonesty commented on #57
@nomingantulga why is this in the question column?

[2021-01-29 18:18] ExperimentsInHonesty commented on #51
@mariastudnicka I added notes to the doc itself.

[2021-01-29 18:21] Olivia-Chiong opened #83 "Project Inventory: HomeUniteUs"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-01-29 18:26] Olivia-Chiong opened #84 "Project Inventory: Engage"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-01-29 18:32] ExperimentsInHonesty commented on #51
Completed:
with checkboxes and no additional details (e.g. waiting cfa is not good)

Under Dev
pick three that are easy to understand even though there is no guide
wiki

[2021-01-29 18:33] ExperimentsInHonesty commented on #63
Completed:
with checkboxes and no additional details (e.g. waiting cfa is not good)

Under Dev
pick three that are easy to understand even though there is no guide
wiki

[2021-01-29 18:33] Olivia-Chiong opened #85 "Project Inventory: Record Clearance Project"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-01-29 18:47] Olivia-Chiong opened #86 "Create a One Sheet: Regional Data Exchange"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Speak to the team to get an overview of the project
- [ ] Include project logo
- [ ] Create history/last 6 months
- [ ] Create roadmap/next 6 months
- [ ] Include last updated date

### Resources/Instructions
Check iss

[2021-01-29 18:54] mrao2 commented on #86
Added one sheet. Need to add more information for the product roadmap and do some revisions in the history section.

[2021-01-29 19:22] ExperimentsInHonesty commented on #55
@ddfridley I have directed @ktjnyc to be clearer about the value proposition and take out anything that seemed like a dog whistle or judgemental about candidates since this platform is supposed to be agnostic on political spectrum.

Please give Katie a chance to make a full set of revision and post final version of this draft, then we can all meet to talk about it.

[2021-01-29 21:45] khushbooshah-PM commented on #69
Meeting with Alex today at 3 pm to discuss.

[2021-01-29 23:18] alexilee commented on #69
Met with Khushboo today and we are working on updating the one sheet.

[2021-01-30 00:02] ExperimentsInHonesty commented on #25
clone the brigade-playbook GitHub using ssh credentials, not HTTP
create a wiki page on brigade-playbook (or whatever new target)
cd into target repo
git submodule add git@github.com:**codeforamerica/brigade-playbook.wiki.git** .github.wiki (substitute your repo name, do not copy it from the website)
_git submodule add git@github.com:hackforla/YouthJusticeNav.wiki.git .github.wiki (substitute your

[2021-01-30 08:17] ExperimentsInHonesty commented on #82
Default Title: Create a Competitive or Comparative Analysis for [PROJECT NAME]
Labels: Product, Competitive Analysis

### Dependency

### Overview
We need a competitive or comparative feature analysis for other players in the space, so that we can plan our market position.

### Action Items
- [ ] Copy the template and follow the instructions contained on the instructions page.

### Resources/Instr

[2021-01-30 08:19] ExperimentsInHonesty commented on #82
@Olivia-Chiong can you take a look at the [above draft](https://github.com/hackforla/product-management/issues/82#issuecomment-770176334) and see if you want to make any additions/changes to it before we make a template.

[2021-01-30 08:44] ExperimentsInHonesty commented on #76
@victoriyamif Phoebe and I are working on this project, we would be happy to give you an overview.  We meet on Mondays at 12pm PST.  Reach out to Phoebe Ng to be added to the invite if you are available then.

[2021-01-30 08:48] ExperimentsInHonesty commented on #3
@Olivia-Chiong I updated the spreadsheet.  Can you update this issue, plz

[2021-01-30 09:06] ExperimentsInHonesty commented on #82
Once the draft is done, I would like to make an issue for the VRMS team that has a link to the work that Dean already did, but was never completed: https://docs.google.com/spreadsheets/d/12hAejjAlz43DIdfvvT54hSgnAswWf1NLzBcc9VminBk/edit#gid=0

[2021-01-30 10:45] ExperimentsInHonesty commented on #65
fyi, while closing my old tabs I found this doc: https://docs.google.com/document/d/1NOu1xOQuOllZvrIpybfK0eY37TWqKlmWc056UYpOHtA/edit
with this (dated end of july 2020

[2021-01-30 10:51] ExperimentsInHonesty commented on #27
@Olivia-Chiong I am thinking we should make this into a template and ask each new project to use it. But the big question I have for it, is what is the trigger.

[2021-01-31 15:46] pawan92 commented on #37
@KPHowley Any updates:
Progress:
Blockers:
Availability:
ETA:

[2021-01-31 17:18] pawan92 commented on #67
Update:
Progress: Looked through all the "in development" pages and commented on them whether they're completed or I had any questions. Looking through the pages on figma for whats missing and adding them to the one sheet
Blockers: None
Availability: Yes
ETA: 2/2/2021

[2021-01-31 19:30] ahdithebomb opened #202 "Guide Status Creation"
### Overview
We need to create a guide status so that we can keep track of the progress on each guide to maintain alignment.

### Action Items
- [x] First, we need to create a spreadsheet to track all the guides and finalize a format for data collection
- [x] Next, we need to gather all of the guide information based on the selected format
- [ ] Then, a updated cadence needs to be finalized.

###

[2021-01-31 21:08] GlowingEmber opened #87 "Documentation for Adding Images to Wiki Pages"
### Overview
Rather than being able to drag+drop images to the Wiki, you have to generate a link to your image by adding/storing it in hackforla/website#525. Information about how to do this is not present in the Wiki. The format for adding these images natively (HTML) would be: `<img src=" " alt = " " width=" ">`. Height SHOULD autosize according to entered width, but you can enter `height = " "`

[2021-02-01 00:22] ktjnyc opened #88 "Create Guide for Setting up Slack Reminders"
### Overview
We need to create a guide so that people know how to setup slack reminders.

### Action Items

- [ ] Create a guide for people to use in setting up slack reminders

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.

[2021-02-02 08:21] DrIffathsultana commented on #21
Hi @ExperimentsInHonesty, I have started working on documentation for the issue#21.
I have followed up with @NivenPrasad, @captain-nimo, @Olivia-Chiong for guidance.
I am attaching the link for the draft to review.
[https://docs.google.com/document/d/18Wmoe9n-GptmDe1FZWl_xmNqtH5dHk5z03nnp8_MATM/edit?usp=sharing]

[2021-02-02 21:48] ExperimentsInHonesty opened #89 "Add your project's role needs here"
### Overview
We have a huge onboarding happening tonight.  We need to help people find a role on your project.

### Action Items
Please tell us the following about your role needs (put your answers in the comments below ⬇️  )
- [ ] **Project Name**: [your project name replaces these brackets]
- [ ] **Volunteer Opportunity**: [your opportunity description replaces these brackets]
- [ ] **Duration**

[2021-02-02 22:13] ktjnyc commented on #65
Progress: Updated based upon notes from discussion with Bonnie.
Blocks:

- Need to discuss on team meeting updates and confirm pilot activities
- Need to discuss project logo
- Need to discuss use of engage@engage.town for contact email

Availability: pretty open this week
ETA: Can make next round of updates by Friday afternoon.

[2021-02-02 22:29] ktjnyc commented on #55
Progress: Some updates made, reached out to David on Slack for some numbers to include
Blocks: Gathering statistics
Availability:
ETA: 02/06/2020

[2021-02-02 22:47] nielseny commented on #89
We only have the one role posted here: https://github.com/hackforla/UI-UX/projects/2#card-52993612

[2021-02-03 00:03] alex-anakin commented on #89
Project Name: VRMS
Volunteer Opportunity: Frontend Developers from mid-level, Backend Developers from mid-level
Duration: Open-ended (min 2 months)
Who to communicate your interest to
* Slack channel link: [#vrms](https://hackforla.slack.com/archives/CRGH5HM0Q)
* Slack name of a person to contact in the channel: @Alex Anakin

Read more about the project:
https://github.com/hackforla/VRMS/wiki

[2021-02-03 00:34] ktjnyc commented on #74
@Olivia-Chiong - When I click on the links for the issue templates for the One Sheet, it doesn't have all the information we added during review of this document last week.  Can you please update the templates to include the below?

------------------------------------------------------------------------------------------------------------------------------------
Add instructions for all the other

[2021-02-03 00:43] Olivia-Chiong commented on #74
@ktjnyc I just fixed it. try loading it again?

[2021-02-03 00:45] gregpawin commented on #89
Project Name: Lucky Parking
Volunteer Opportunity:
- Experienced Frontend Software Engineer (Mapbox experience)
  - We have a MapboxJS-based web application that has just achieved the proof-of-concept phase. We are looking for a developer to optimize our current code as well as develop new features.
- Experienced Backend Software Engineer
  -  We are looking for someone experienced in AWS services

[2021-02-03 00:50] ktjnyc commented on #74
Thanks, now I see three templates -
[Create a NEW One Sheet: [Project Title]](https://github.com/hackforla/product-management/issues/new?assignees=&labels=documentation%2C+feature%3A+one+sheet&template=create-a-new-one-sheet---project-title-.md&title=Create+a+NEW+One+Sheet%3A+%5BProject+Title%5D) - This is the one I linked to and looks good

[Update Existing One Sheet: [name of project]](https://g

[2021-02-03 00:55] Olivia-Chiong commented on #74
deleted the extra and updated the existing. Take a look

[2021-02-03 01:03] ddfridley commented on #89
Project Name: Undebate
 Volunteer Opportunity: React Developer
 Duration: Open Ended
 Who to communicate your interest to
 Slack channel link: #undebate
 Slack name of person to contact in the channel @ddfridley
Work with React Functional Components, hooks, and  Javascript on things like animations, video recording and play back,  See github.com/EnCiv/undebate

Volunteer Opportunity: Node Develope

[2021-02-03 01:04] ktjnyc commented on #74
Thanks!  One more small update to this [Create a NEW One Sheet: [Project Title]](https://github.com/hackforla/product-management/issues/new?assignees=&labels=documentation%2C+feature%3A+one+sheet&template=create-a-new-one-sheet---project-title-.md&title=Create+a+NEW+One+Sheet%3A+%5BProject+Title%5D)

Instead of :
- [ ] Make a copy of the one sheet and store in the product management google drive/o

[2021-02-03 01:13] Olivia-Chiong commented on #74
made the change, but wondering if we want to add a link to the one sheet Google drive folder.

[2021-02-03 01:18] ktjnyc commented on #74
I put instructions in the document where to save the files.  I think we could link to the template document but I don't think we have one yet.

Once this guide is done we can add it to the links section as reference as well.

[2021-02-03 02:48] Olivia-Chiong commented on #21
@ExperimentsInHonesty can you please look at the draft and provide feedback on the direction? Thanks!

[2021-02-03 05:01] ExperimentsInHonesty commented on #37
New title for Kevin H
Product Manager / Stakeholder Project Rep.

New title for Bonnie
Agile Coach / Primary Stakeholder Relationship Manager

Add the following people
Vivek Jha
Role: Product manager
GitHub: VJ1285
Slack: U019HFZ9WM6

Kevin Shih
Role: UX Research Lead
GitHub: kevinshih613
Slack: U01K4Q3EU6R

[2021-02-03 05:03] Olivia-Chiong commented on #51
One sheet has been updated and approved

[2021-02-03 05:43] Olivia-Chiong commented on #56
@ggrrettcchhenn

Progress:
Blocks:
Availability:
ETA:

[2021-02-03 05:44] Olivia-Chiong commented on #63
@ialv44
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 05:49] Olivia-Chiong commented on #67
@pawan92
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 05:51] Olivia-Chiong commented on #54
@koneru123
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 05:52] Olivia-Chiong commented on #59
@SarikaVandy
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 05:52] Olivia-Chiong commented on #60
@shaswa
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 05:56] Olivia-Chiong commented on #66
@vharsh25
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 06:09] Olivia-Chiong commented on #71
Thanks @Arjayellis please see notes in documents and let me know if you are agreeable to the changes.

[2021-02-03 06:11] Olivia-Chiong commented on #75
@rohit-309
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 06:12] Olivia-Chiong commented on #76
@victoriyamif
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 06:14] Olivia-Chiong commented on #53
@henlatourrette
Progress:
Blocks:
Availability:
ETA:

[2021-02-03 06:34] Olivia-Chiong commented on #61
@rfambro2 can you please review and update the one sheet as necessary. Thank you.

[2021-02-03 06:52] Olivia-Chiong commented on #21
@DrIffathsultana and @pvrks Please reach out to the following projects to check if they have made Personas/User Journeys so you can include them in the guide.

311 Data, Ballot Nav, Food Oasis, Civic Tech Index, HomeUniteUs, Record Clearance Project, Undebate, VRMS

[2021-02-03 15:43] ahdithebomb commented on #89
Project Name: HackforLa.org website
 Volunteer Opportunity:  Javascript Developer
 Duration: Open Ended
 Who to communicate your interest to:
 Slack channel link: [#hfla-site](https://hackforla.slack.com/archives/C4UM52W93)
 Slack name of the person to contact in the channel: David Rubinstein
 Description: anyone wanting to learn how to do Git commits in a collaborative work environment

 Voluntee

[2021-02-03 17:24] ggrrettcchhenn commented on #56
Progress: Myranda updated One Sheet to be more accurate and concise.
Blocks: Needs review & approval
Availability: https://docs.google.com/document/d/1JFZGKxeEBWVak_GATgIt0Knyr9_gJ15CBirynebb4tg/edit?usp=sharing
ETA: Ready for review

[2021-02-03 18:09] ExperimentsInHonesty commented on #35
Meeting Times
Tuesday 6:30pm, Duration 1 hour, PM meeting
Thursday 6:00pm, Duration 1 hour, Developer Meeting

[2021-02-03 18:11] ahdithebomb commented on #35
@pawan92  please let us know if you can attend their meetings this Thursday and next Tuesday to get updates.

[2021-02-03 18:12] ahdithebomb commented on #35
Sent @pawan92  a message on slack.

[2021-02-03 18:43] tarang100 commented on #66
Bonnie reached out to @vharsh25 on Slack to try and set up a meeting

[2021-02-03 18:56] tarang100 opened #90 "Update Project Profile: BallotNav"
### Overview
As the product manager of BallotNav I need to make sure that my project is up to date on the HfLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/ballot-nav.md

### Action Items

- [ ] BallotNav Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments be

[2021-02-03 19:05] tarang100 commented on #75
Bonnie has reached out to Kevin and Vivek in the LA TDM Slack Channel

[2021-02-03 19:28] Arjayellis commented on #71
@Olivia-Chiong looks good!

[2021-02-03 19:32] tarang100 opened #91 "Update Project Profile: VRMS"
### Overview
As a product manager of VRMS I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/vrms.md

### Action Items

- [ ] VRMS Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information in the comments below:
      - [ ] t

[2021-02-03 19:46] Arjayellis opened #92 "PM RESOURCES"
### Overview
These should help with general PM development and interviewing.

### Resources/Instructions
https://www.tryexponent.com/
https://svpg.com/articles/
https://productmanagerhq.com/blog/
https://www.productplan.com/blog/
https://dailyproductprep.com/
https://www.cindyalvarez.com/blog/
https://www.youtube.com/channel/UCjm_qVkCPjOVDz9BWjNqO9A
https://productschool.com/blog/product-managemen

[2021-02-03 19:49] Arjayellis commented on #92
@Olivia-Chiong

[2021-02-03 20:09] KPHowley commented on #75
@VJ1285 @ExperimentsInHonest - I just did a quick pass on updating the timelines and bullet points on this.

[2021-02-03 20:22] Arjayellis commented on #90
@tarang100 @kcoronel

Demo site still being built

Changes:
Leadership - Randall Ellis and Karen Coronel

[2021-02-03 20:25] pawan92 commented on #67
Talked to Bonnie and will have updates by sunday (2/7)

[2021-02-03 23:40] ExperimentsInHonesty commented on #71
@Arjayellis Please make a pdf of this called: BallotNav-Project-One-Sheet.pdf , put it in the repository, and add the url here.

[2021-02-03 23:47] Arjayellis commented on #71
https://github.com/hackforla/product-management/blob/master/BallotNav-Project-One-Sheet.pdf

[2021-02-03 23:48] #71 closed

[2021-02-04 00:18] ahdithebomb opened #93 "Update Project Profile: Write For All"
### Overview
As a product manager of Write for All I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/blob/gh-pages/_projects/writeforall.md

### Action Items

- [ ] [INSERT TEAM NAME HERE] Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please provide the updated information i

[2021-02-04 01:50] ltung05 commented on #22
Need an updated logo (including transparent background) to replace the current one in the communication guide

[2021-02-04 02:36] DrIffathsultana commented on #21
@Olivia-Chiong  Thanks, sure I will reach out and include them in guide.

[2021-02-04 03:30] rfambro2 commented on #61
@Olivia-Chiong - Sure. I can take a look and update this weekend. The times indicated above are still incorrect though. We meet on Thursdays @ 4pm PST and Sundays @ 9am PST.

[2021-02-04 03:55] ktjnyc commented on #65
Changes made during team meeting tonight.

[2021-02-04 04:54] ialv44 commented on #63
Internal Projects: Some of the best practices/processes that we are currently following across Hack for LA projects include:

Completed:
- Resume content Building Tool: This tool is to help volunteers to turn their experience into bullet items on their resume. As the volunteers accomplish a work task in their projects, this tool will aid them to parallelly add those experiences in their resume.
-

[2021-02-04 11:55] henlatourrette commented on #53
Hi team, I'm out for vacations this week - with little access to my computer. I will be back by next Monday Feb 8th.

[2021-02-04 14:00] ktjnyc commented on #89
Project Name: Engage
Volunteer Opportunity: UX Program Designer.
Duration: Open Ended
Who to communicate your interest to:
- Slack channel link: #engage
- Slack name of the person to contact in the channel: Bryon Hart or Katie Jensen
Read more about the project:
[HfLA Project Page](https://www.hackforla.org/projects/engage)
[Wiki (currently being updated)](https://github.com/hackla-engage/Engage-P

[2021-02-04 19:15] ktjnyc commented on #88
First draft complete and ready for review/comments.

[2021-02-04 20:10] khushbooshah-PM commented on #91
Need to add my name in contributors: Khushboo Shah

[2021-02-05 05:30] ExperimentsInHonesty commented on #65
@ktjnyc I updated the color to match the header color on the website.  I also linked the url.  Seems like we are waiting for the logo.  So
1. please make a new issue for creating a logo on the [engage repo](https://github.com/hackla-engage/start-here) (I thought Bryon had done that, but I can't find it).
2. add a link to the logo issue to the top of this issue as a dependency and add an task item

[2021-02-05 05:36] Olivia-Chiong opened #94 "List of topics for Product Management Community of Practice"
### Overview
Create a list of topics for the weekly product management community of practice meetings. This is a work in progress. We are currently curating and updating the relevant issues for each topic and will include any resources when it is available.

### Action Items
#### Wishlist of topics

- [ ] Job Search
   - [x] Mentoring sessions
   - [ ] Interview resources
   - [x] Typical company

[2021-02-05 05:37] ExperimentsInHonesty commented on #63
@ialv44

Lets switch out this one for user stories
Communication (style) Guide for Document Creation  | Document Template Creation Guide for setting up a consistent look and feel across all documents (internal and external) for your project

Lets add all the ones with check marks to the completed..

Go ahead and put these in the one sheet, and send it back to me for review.

[2021-02-05 05:45] ExperimentsInHonesty commented on #90
@Arjayellis @kcoronel we need
 leadership
   GitHub name:
   Slack Id:
   Role name:

[2021-02-05 06:26] ExperimentsInHonesty commented on #79
@ggrrettcchhenn @myrandi Is this complete?

[2021-02-05 06:27] ExperimentsInHonesty commented on #78
@pkfynn is this complete?

[2021-02-05 06:29] ExperimentsInHonesty commented on #35
@pawan92 was supposed to go to the thursday meeting.  But I don't see any update here.  He is also supposed to go to the Tuesday meeting.  @pawan92 please update what if anything you found out at the Thursday meeting.

[2021-02-05 06:31] ExperimentsInHonesty commented on #54
If @koneru123 does not have an update by 2/4, unassign

[2021-02-05 06:32] ExperimentsInHonesty commented on #59
If no response from @SarikaVandy by 2/5 reassign

[2021-02-05 06:34] ExperimentsInHonesty commented on #60
if no update from @shaswa please reassign.  If reassigned, the mission is to communicate with them to find out their next scheduled meeting time.

[2021-02-05 06:37] Olivia-Chiong opened #95 "Create a NEW One Sheet: Youth Justice Nav"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [ ] Review one sheet and check off items on the checklist to see what it might be missing.
- [ ] Setup a meet

[2021-02-05 06:38] Olivia-Chiong commented on #95
@ltung05 and @nielseny can you add the current YJN one sheet for review please? Thanks!

[2021-02-05 06:38] ExperimentsInHonesty commented on #66
Set a meeting for 6pm pst on sunday for now.

[2021-02-05 06:41] ExperimentsInHonesty commented on #76
If not response from @victoriyamif by 2/5 reassign

[2021-02-05 07:00] ExperimentsInHonesty commented on #57
adding a dependency for adding a project name

[2021-02-05 07:03] ExperimentsInHonesty commented on #86
Notes are in document.  We need to get someone to help @mrao2 with this.  Ask for volunteers who can translate from highly technical to funder speak.

[2021-02-05 07:04] ExperimentsInHonesty commented on #69
@alexilee please provide an update

1. Progress
2. Blockers
3. Availability
4. ETA

[2021-02-05 07:11] Olivia-Chiong commented on #91
@khushbooshah-PM Can you please confirm your Role at VRMS?

Slack ID: U01EW21842X
GitHub handle: khushbooshah-PM

[2021-02-05 07:31] ExperimentsInHonesty commented on #75
@KPHowley
I deleted this: "Due to legal regulations around pending legislation user testing was previously unavailable "
I changed some of the references to lacp and ladot

This doesn't sound right, am I misunderstanding something... we have been on their server for staging and production for a while.
MVP scheduled for - Summer 2021
Production and Staging migration to LADOT servers on their Azure

[2021-02-05 07:36] ExperimentsInHonesty commented on #56
@ggrrettcchhenn & @myrandi  Still says Record Clearance and no mention of ExpungeFast.  Do you have questions about how to implement the changes (name, context, etc.)?

[2021-02-05 13:07] ialv44 commented on #63
@ExperimentsInHonesty

Have incorporated the above comments and added in the one sheet. Please find the one sheet in the link below for your review:

[](https://drive.google.com/drive/folders/1jEF6AwIHi5-82pdx-JsHoBuvxczw5Zyy)

[2021-02-05 13:25] ktjnyc commented on #65
Issue for new logo created and tasks added to update the one sheet and this issue status when complete.

[2021-02-05 13:27] victoriyamif commented on #76
@Olivia-Chiong I am trying to get a hold of @ExperimentsInHonesty and move forward on this.

[2021-02-05 14:25] pawan92 commented on #35
Update: I pinged fola slack channel multiple times on meeting time and meeting link for last night but did not get a reply. Tried @ the whole channel but that seems to bee disabled. I have also pinged @jpmikesell but have not gotten a response. I will bother them some more and also look into who else is on the project so I can bother them individually

[2021-02-05 16:27] alexilee commented on #69
1. Worked with Khushboo to update the one sheet. Project description reviewed and last updated date added. Timelines still need to be updated and it needs to be reduced to one page.
2. Adam has been busy with other things. Khushboo has had some emergency situations the last week and will have more time tomorrow. Waiting on PMs on project to finish updating one sheet.
3. I'm not quite sure if you a

[2021-02-05 16:30] alexilee commented on #69
One sheet has been updated. Ready for review.

[2021-02-05 16:31] khushbooshah-PM commented on #91
I am a Co-Product Manager in this team.

[2021-02-05 16:32] khushbooshah-PM commented on #91
i discussion with other team members to identify about Test site, demo site. I shall update the information by the weekend.

[2021-02-05 17:25] shaswa commented on #60
@Olivia-Chiong @ExperimentsInHonesty
No reply from Laila Aaser yet about a request for meeting. Reached out again today about scheduling a call and details about their next scheduled meeting.

[2021-02-05 17:29] sayalikotkar commented on #64
Progress: Draft complete - https://docs.google.com/document/d/1mVxXVz2sTPyzJ9LjeJXq2rv2Pstc9vffh5wftIusAMo/edit
Blockers: Waiting for the project name & contact email to be finalized
Availability: 2 hours
ETA: 15th Feb

[2021-02-05 17:32] nielseny commented on #95
[The one-sheet](https://docs.google.com/document/d/1NKcYSoGW2SNUrf-_osyBS9HKK7oUH7c8oQIgb5o8n2U/edit) has been updated as of today (2/5/2021)

[2021-02-05 17:53] ExperimentsInHonesty commented on #69
@alexilee Thank you for the update.

[2021-02-05 17:57] ExperimentsInHonesty commented on #60
@shaswa Please try reaching out to Christina M and/or Danielle Nedivi on slack and ask them when the next scheduled meeting is. Please put the notes about what they say here.

[2021-02-05 18:04] shaswa commented on #60
@ExperimentsInHonesty Just messaged Christina M for a meeting. Contacted Danielle Nedivi about two weeks ago but she is not involved with the project anymore

[2021-02-05 18:07] ExperimentsInHonesty commented on #69
@alexilee Please see my notes on the one sheet.  Feel free to contact me with any questions.

[2021-02-05 18:11] Olivia-Chiong commented on #76
@victoriyamif Please send me a Slack message and we will organise a meeting for this.

[2021-02-05 18:29] ExperimentsInHonesty commented on #79
@ggrrettcchhenn is checking on Miro status and will add wiki link
[Comparative analysis template](https://docs.google.com/spreadsheets/d/1ePxxsLpdC4MMvJICyMYljHawhs1j-hpFHZFOtB0fdDc/edit#gid=1259306930)

[See Communications Guide Template issue](https://github.com/hackforla/product-management/issues/22)

[2021-02-05 18:41] Olivia-Chiong commented on #86
@ag2463 will work with @mrao2 on the one sheet

[2021-02-05 18:51] ExperimentsInHonesty commented on #76
Added @victoriyamif to google calendar meet with Phoebe

[2021-02-05 18:53] shaswa commented on #68
Reached out to Alex on Slack for Updates

[2021-02-05 20:25] alexilee opened #96 "Onboard on Civic Opportunity Project"
### Overview
Read up on existing materials for Civic Opportunity in order to get up to speed on the current state of the project.

### Action Items
- [ ] Read one sheet
- [ ] Read issues on Project Management Board
- [ ] View Product Development Flowchart
- [ ] Join project Slack channel

### Resources/Instructions
[One Sheet Link](https://github.com/hackforla/civic-opportunity/blob/master/Civic_O

[2021-02-05 22:28] shaswa commented on #68
Alex will discuss with Abby about the updates and get back to me so that I can update the OneSheet

[2021-02-06 21:08] ExperimentsInHonesty commented on #68
I spoke to Abby, and she said by end of next week (before next friday meeting).  in the meantime its missing its footer.  @shaswa please add that, by copying the footer template from one of the finished one sheets.  Here they are: https://github.com/hackforla/product-management/tree/master/project-one-sheets

[2021-02-07 16:21] pawan92 commented on #67
Update: Updated one sheet with all the upcoming pages with a brief description on what and why we need it

[2021-02-07 17:33] akibrhast commented on #37
## Overview
Update implement in pull request #1008

## Action Items
1.  [request](https://github.com/hackforla/product-management/issues/37#issuecomment-761925373)
2.  [request](https://github.com/hackforla/product-management/issues/37#issuecomment-772230227)

- [x] Update Title
- [x] Update Blurb
- [x] Update Partner
- [x] Update Technologies
- [x] Update Leadership

[2021-02-07 18:17] kcoronel commented on #90
leadership: Karen Coronel, Product Manager; Randall Ellis, Product Manager; Alina Shokina, Product Manager; Jake Mensch, Lead Developer; Andrew Steman, Lead Developer; Seymour Liao, Lead Data Scientist; Federica Landini, Lead UX Designer; Irina Rostovtseva, Lead UX Designer
GitHub name:
Slack Id:
Role name:

[2021-02-07 18:31] kcoronel commented on #21
Hello! @DrIffathsultana reached out to me and this is what we have for BallotNav: https://github.com/hackforla/ballotnav/projects/2
Let me know if I can be more help

[2021-02-08 04:33] ialv44 commented on #63
[Civic Tech Structure Project One Sheet_2021Q1](https://drive.google.com/drive/folders/1jEF6AwIHi5-82pdx-JsHoBuvxczw5Zyy``)

[2021-02-08 07:03] Olivia-Chiong opened #97 "Update Community of Practice meeting times on Hack for LA website"
### Overview
We need to update VRMS on the meetings times for communities of practice on Hack for LA website

### Action Items
- [ ] Create an issue on VRMS project board to update the following communities of practice
   - [ ] UI/UX
   - [ ] Product Management
   - [ ] Marketing

### Resources/Instructions
[VRMS project board](https://github.com/hackforla/VRMS/projects/2)

[2021-02-08 16:19] shaswa commented on #68
Will update the footer before the PM meeting tomorrow

[2021-02-08 23:14] shaswa commented on #60
Meeting Christina M tomorrow for the updates. But there have been no scheduled meetings since September since the project leaders left and the other team members returned to school. Will add more details tomorrow.

[2021-02-08 23:18] DrIffathsultana commented on #21
@kcoronel Thanks for sharing the link. I will document them in guide.

[2021-02-09 01:34] DrIffathsultana commented on #21
Hi, @Olivia-Chiong  @ExperimentsInHonesty

Please review the Personas/User stories, Journeys  documentation :
(https://docs.google.com/document/d/18Wmoe9n-GptmDe1FZWl_xmNqtH5dHk5z03nnp8_MATM/edit#)

- I have included Personas/User Journeys examples and links in the guide from the following projects -100 Automations, Record Clearance Project, Food Oasis, Ballot nav, 311 Data, Civic Tech Index

- So

[2021-02-09 04:48] Olivia-Chiong commented on #55
Updates made to [draft](https://docs.google.com/document/d/1FV5cpWRE7cQiwc8gkUbpzPiQARxU7XzPB8yB50ys9zk/edit) @ExperimentsInHonesty to review

[2021-02-09 04:57] Olivia-Chiong commented on #91
@khushbooshah-PM
Progress:
Blocks:
Availability:
ETA:

[2021-02-09 04:58] Olivia-Chiong commented on #75
@KPHowley

Progress:
Blocks:
Availability:
ETA:

[2021-02-09 05:00] Olivia-Chiong commented on #60
Thanks @shaswa look forward to your updates tomorrow.

[2021-02-09 05:03] ExperimentsInHonesty commented on #55
@ktjnyc Looks like you have made great progress.  Do you need me to weigh in on it now, or wait for more polishing?  If you do want to talk to me about it, please add it to the review column with a note.

[2021-02-09 05:18] ExperimentsInHonesty commented on #67
@pawan92 Thank you for the detailed work.  Let's discuss at our next Hack for LA Product Mgr meeting.

[2021-02-09 05:26] Olivia-Chiong commented on #35
@pawan92 The Tuesday 6:30 pm meeting is the general project meeting. Suggest you try to go to this.

[2021-02-09 06:17] ExperimentsInHonesty commented on #63
Please move https://drive.google.com/drive/u/1/folders/1jEF6AwIHi5-82pdx-JsHoBuvxczw5Zyy to the Civic Tech Structure folder https://drive.google.com/drive/folders/1KjnItjPe-Acff0E98rPQWbsNiMs5rfDz?usp=sharing

[2021-02-09 06:19] ExperimentsInHonesty commented on #95
@nielseny It looks good.  Please check off the boxes in the issue above.

[2021-02-09 06:23] Olivia-Chiong commented on #63
One Sheet has been made into a PDF and uploaded to https://github.com/hackforla/product-management/blob/master/project-one-sheets/Civic-Tech-Structure-Product-One-Sheet.pdf

[2021-02-09 06:32] ExperimentsInHonesty commented on #58
@Oluwafemi-Jegede - Emily is MIA.  We will have to write the one sheet without her as a completed project.  Let's talk about this at the next pm meeting you attend.

[2021-02-09 06:34] ExperimentsInHonesty commented on #46
Emily is unreachable (tried emailing and slacking).  Will be marking the Public Tree Map project as complete.

[2021-02-09 06:44] ExperimentsInHonesty commented on #81
@peteplass please provide an update on your progress
Progress
Blocks
Availability
ETA

[2021-02-09 06:45] ExperimentsInHonesty commented on #65
@ktjnyc I moved this to the icebox and added the dependency to the top of the issue.  You can move it back after thats released and resolved.

[2021-02-09 06:53] Olivia-Chiong commented on #53
hi @henlatourrette welcome back. Have you had the time work n this at all or will you need more time? Please update

Progress:
Blocks:
Availability:
ETA:

[2021-02-09 12:17] Oluwafemi-Jegede commented on #58
Okay this is noted, I will be available for the Friday meeting

[2021-02-09 14:52] pawan92 commented on #35
@Olivia-Chiong Planning on it. I got some feedback from @jpmikesell but it wasn't all the information we needed.

[2021-02-09 16:33] sharonethomas commented on #80
I reached out to @mrao2 and he added me to the slack for the project. I also asked him to send any documentation he has and he emailed them to me.

[2021-02-09 17:15] jpmikesell commented on #35
Description: Food Oasis, foodoasis.la, is a website for food seekers in Los Angeles. Think of YELP for free food. We give people the tools to find food pantries or hot meals within a 2-mile radius of their current location. We have two teams of volunteers. One team works on the back and front end development, UX Research and Design. Another team, with the help of LA Works, validates the informatio

[2021-02-09 17:15] #35 closed

[2021-02-09 19:39] ktjnyc commented on #55
@ExperimentsInHonesty I made some additional updates today and am ready to discuss.

[2021-02-09 23:21] henlatourrette commented on #53
Progress: Approved the edits and updated the working from present tense to past tense as suggested. I believe it's quite finished by now. @ExperimentsInHonesty would you give it a final look?
Blocks: n/a
Availability: 4 hours - if required.
ETA: This week.

[2021-02-10 00:39] nielseny commented on #95
Boxes checked!

[2021-02-10 01:26] shaswa commented on #60
Rescheduled meeting with Christina.

[2021-02-10 01:26] shaswa commented on #60
Next project meeting is on Feb 25

[2021-02-10 01:34] shaswa commented on #68
Added HackForLA link and GitHub to footer. Asked Alex for contact information

[2021-02-10 02:16] mariastudnicka opened #98 "Experience Profile: Maria Studnicka"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:16] Olivia-Chiong opened #99 "Experience Profile: Olivia Chiong"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:16] shaswa opened #100 "Experience Profile: Swaroop Katika"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [x] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:19] ktjnyc opened #101 "Experience Profile: Katie Jensen"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:19] ag2463 opened #102 "Experience Profile: Aleiya Gafar"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:19] pvrks opened #103 "Experience Profile: Ravi Sastry"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:20] BryonPm opened #104 "Experience Profile: Bryon Hart"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:23] DrIffathsultana opened #105 "Experience Profile: [Iffath Sultana]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:25] ExperimentsInHonesty commented on #69
@ExperimentsInHonesty will attend their meeting and figure out what is needed.

[2021-02-10 02:27] allysmatrix opened #106 "Experience Profile: Alina"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:31] alexilee opened #107 "Experience Profile: Alex Lee"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 02:32] ExperimentsInHonesty commented on #69
wrote to Adam

[2021-02-10 02:33] snooravi opened #108 "Experience Profile: Sarah Nabelsi"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [x] Product One Sheet [Data Literacy Project](https://docs.google.com/document/d/1_CxBQ_ku4sanPIWKtPyENJ4E9hQKETQs8IWAOCzgqqk/edit)
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Ma

[2021-02-10 02:37] mariastudnicka commented on #98
Looking to work on Roadmaps

[2021-02-10 02:37] snooravi commented on #108
Most interested in learning about the ecosystem maps.

[2021-02-10 02:38] ag2463 commented on #102
Interested in
1. creating User Personas/Journeys
2. OKRs/WBS
3. Product Roadmaps

[2021-02-10 02:46] ktjnyc commented on #101
Most interested in working on next:
Product Roadmap
User Persona/Journeys

[2021-02-10 02:47] alexilee commented on #107
Areas of interest:
- Competitive Analysis
- Team Onboarding Process

[2021-02-10 02:49] BryonPm commented on #104
@Olivia-Chiong @ExperimentsInHonesty Please find my two PM interests below.

- [ ] Competitive Analysis
- [ ] OKRs and WBS

[2021-02-10 02:49] shaswa commented on #100
Looking to work on next in order of preference

1. User Persona/Journeys
2. OKRs and WBS
3. Cross functional team management
3. Product Roadmap
4. Ecosystem map of stakeholders and touchpoints

[2021-02-10 03:12] ktjnyc commented on #55
Sent invite to @ddfridley and @ExperimentsInHonesty for 2/15 @ 3 PM PST to discuss next steps.

[2021-02-10 03:23] glsonline opened #109 "Experience Profile: Gregory Ellis"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-10 03:23] mariastudnicka opened #110 "Create a Guide: Product Roadmap"
### Overview
We need to create a guide to making a Product Roadmap so that projects can stay clear and focused on the overall approved mission of the project and know where they are at any given time.

### Special Adoption note
Maria has made a guide that explain roadmaps.  Our goal with the Guides is to get specific about how to make one at Hack for LA.  So interviewing the projects that have don

[2021-02-10 03:40] ExperimentsInHonesty commented on #21
Great work.  See comments in document and add some examples from civictechindex

[2021-02-10 04:38] ExperimentsInHonesty commented on #74
@Olivia-Chiong and @ktjnyc I want to give you all a review on this.  But I am unclear what I am supposed to be looking at.  Can you add a comment that gives me explicit instructions on what I should do?

[2021-02-10 05:02] entrotech commented on #35
The test site is at http://devla.foodoasis.net.
We also have a wiki with more details at https://github.com/hackforla/food-oasis/wiki

[2021-02-10 06:34] ExperimentsInHonesty commented on #53
@henlatourrette welcome back from your trip!

I left you some comments and suggested changes on the one sheet.

[2021-02-10 06:41] Olivia-Chiong opened #111 "Create a NEW One Sheet: EMS-Triage Tracker"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
This project has already been completed so there is no team to speak to
- [x] Review the items available in the GitHub repo and the google drive
- [x] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [x] Setup a meeting with the

[2021-02-10 07:03] ExperimentsInHonesty commented on #88
@mariastudnicka Love to have your design eye on this project.  Connect with Olivia about it.

[2021-02-10 17:13] entrotech commented on #35
And the Github url is http://github.com/hackforla/foodoasis

[2021-02-10 18:27] pawan92 commented on #35
Update: @ExperimentsInHonesty Got all the information. Not sure if this is supposed to be closed or open and reassigned to prioritized backlog. Please lmk.

[2021-02-10 20:23] NivenPrasad opened #112 "Experience Profile: Niven Prasad"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [x] [Product One Sheet](https://github.com/100Automations/Website/blob/gh-pages/100-Automations-Project-One-Sheet.pdf)
- [x] [Organizing project resources (Google Drive)]()
- [x] [Managing the pr

[2021-02-10 22:19] ktjnyc commented on #74
@ExperimentsInHonesty I made edits to the draft we had reviewed a few weeks ago - the [draft linked here](https://docs.google.com/document/d/14-nYNCjrMrC8lucUNBfLOFQZk2sWbkRlJgigWDAlqlI/edit?usp=sharing) is ready for your review.

[2021-02-11 02:59] ltung05 opened #113 "Experience Profile: Leroy"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-11 03:46] eselkin commented on #25
Prerequisite on Windows:
* Download and install [git](https://git-scm.com/download/win) which includes git bash... There is a thumbdrive version of git bash so you don't need to install it on your machine!
* Make one change to the defaults that the install gives you:

![Screenshot 2021-02-10 190713](https://user-images.githubusercontent.com/5606931/107600441-a2995d80-6bd8-11eb-99bb-c582454982bf.pn

[2021-02-11 20:55] ExperimentsInHonesty commented on #26
### Instructions for HFLA team only.  Everyone else ignore
later we will need the following for the hfla site.
   - [ ] Move hackforla/website#797 from icebox to prioritized backlog
- [ ] Design
   - [ ] Create a design for a page that is just header/content/footer with content in one box
- [ ] Development
   - [ ] Deploy page
Kian said : Link to the default layout we have: https://github.com/hack

[2021-02-11 22:07] ExperimentsInHonesty opened #114 "Create a Template: Terms and Conditions"
### Overview

We need a template Terms & Conditions document for projects to use.

### Action Items
- [ ] Product/Legal
   - [ ] edit the existing terms and conditions template in google docs to genericize it.
      - [ ] create sub-sections to be included as appropriate
         - [ ] Has website
         - [ ] Has application
   - [ ] pilot it on two projects by customizing it with them:

### Re

[2021-02-12 00:23] khushbooshah-PM commented on #91
@Olivia-Chiong: - Can you please explain these items to me? I do not understand what do you need here.

Progress:
Blocks:
Availability:
ETA:

[2021-02-12 01:17] Olivia-Chiong commented on #91
@khushbooshah-PM

Progress: What is your progress on the action items?
Blocks: Are there any blockers?
Availability: What is your availability this week?
ETA: When will this be complete?

[2021-02-12 01:37] Olivia-Chiong commented on #20
[How to add more people to the Figma without paying](https://www.figma.com/proto/MX5lVWLMSTOCTDXRHaK4jF/Presentations?node-id=1%3A59&viewport=225%2C359%2C0.18814989924430847&scaling=contain)

[2021-02-12 01:52] mariastudnicka commented on #88
Will do.

[2021-02-12 05:02] VJ1285 commented on #75
@Olivia-Chiong The one sheet is updated. @KPHowley take a look it and if everything looks good please close the issue.

[2021-02-12 09:30] Olivia-Chiong commented on #91
@khushbooshah-PM said on Slack that this is now ready for review.

[2021-02-12 09:30] Olivia-Chiong commented on #75
Moved to review column for @ExperimentsInHonesty to review.

[2021-02-12 09:31] Olivia-Chiong commented on #86
@mrao2 any progress on this? Please update below

Progress:
Blocks:
Availability:
ETA:

[2021-02-12 09:33] Olivia-Chiong commented on #68
@shaswa did you manage to speak to Abby or Alex on this?

[2021-02-12 09:35] Olivia-Chiong commented on #66
@vharsh25 any updates? Please provide

Progress:
Blocks:
Availability:
ETA:

[2021-02-12 09:35] Olivia-Chiong commented on #85
@vharsh25 any updates for this list as well?
Please provide
Progress:
Blocks:
Availability:
ETA:

[2021-02-12 09:36] Olivia-Chiong commented on #76
@victoriyamif please provide updates on this:
Progress:
Blocks:
Availability:
ETA:

[2021-02-12 09:38] Olivia-Chiong commented on #53
@henlatourrette can you please provide an update on this?
Progress:
Blocks:
Availability:
ETA:

[2021-02-12 09:51] Olivia-Chiong commented on #82
@ExperimentsInHonesty I added a second action item for teams to add their examples into the template. This is ready to be made into a template, so let me know if its good to go.

[2021-02-12 15:41] quyenvhle commented on #68
Updated OneSheet, waiting @abbyhipp' review

[2021-02-12 16:43] sharonethomas commented on #80
@ExperimentsInHonesty Do you have any of the other examples listed in the action items? Or do they not have an eco system yet?

[2021-02-12 17:26] shaswa commented on #60
Reached out to Christina for a meeting for updates.

[2021-02-12 17:40] henlatourrette commented on #53
Progress: Still working on the latest suggestion made by Bonnie.
Blocks: none yet.
Availability: 2 hours.
ETA: By Monday next week.

[2021-02-12 17:52] ExperimentsInHonesty commented on #91
@khushbooshah-PM The response on this issue is not sufficient.  Please come to the product management meeting either on Friday or a tuesday that does NOT coincide with onboarding.

[2021-02-12 18:01] ExperimentsInHonesty commented on #75
@VJ1285 @KPHowley this needs to be the very first agenda item at our saturday meeting for the following reasons
1. its not one page (its literally called a one sheet why is it two pages )
2. didn't answer my question above about schedule

[2021-02-12 18:05] sharonethomas opened #115 "Experience Profile: [Sharon Thomas]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-12 18:07] ggrrettcchhenn opened #116 "Experience Profile: Gretchen Howard"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-12 18:08] pkfynn opened #117 "Experience Profile: Kwesi Fynn"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-12 18:15] sharonethomas commented on #80
Olivia suggested I speak with @sayalikotkar to see if there is an ecosystem map currently for the Climate Project. Hi Sayali, let me know if you have an ecosystem map for the climate project! Thanks!

[2021-02-12 18:15] Oluwafemi-Jegede opened #118 "Experience Profile: Oluwafemi Jegede"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-12 18:16] Olivia-Chiong commented on #111
@ibrahimakintundek connect with @henlatourrette on how to write a one sheet when the project is completed.

[2021-02-12 18:19] ibrahimakintundek opened #119 "Experience Profile: [Kabiru IBRAHIM]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-12 18:20] VJ1285 commented on #75
1. Edited it to fit in one page
2. We can discuss the "schedule" item tomorrow.

[2021-02-12 18:23] pkfynn commented on #78
@ExperimentsInHonesty I requested information from the hfla website team on 1/31/21 and I still haven't received any responses on it.

https://hackforla.slack.com/archives/C4UM52W93/p1612105029053200

[2021-02-12 19:02] Oluwafemi-Jegede commented on #58
Discussion with @ExperimentsInHonesty

Things to take note of when preparing the One-Sheet

1. Document to be in past tense has project has been completed
2. Explore scraping information from Test website (about and data sources section) and Instagram page
3. Research on Trees e.g  Santa Monica and add to one-sheet
4. Add pictures to one-sheet and sources
5. Prepare the first draft and share for r

[2021-02-12 19:19] Olivia-Chiong commented on #80
@sharonethomas Bonnie would like to pair you with a RX researcher so you can schedule a UX interview with Jenny and learn about her process of eco-mapping. It would be good if @sayalikotkar and @ag2463 can sit in on this interview so they can learn how to do it on their projects as well.

Let me know if this is clear or please reach out for clarification if you need it.

[2021-02-12 21:11] sharonethomas commented on #80
@Olivia-Chiong it's clear, thank you!

[2021-02-12 22:27] sayalikotkar commented on #80
@Olivia-Chiong sounds good, thank you! @sharonethomas please let me know when you're planning to meet with Jenny, I'd like to join. Thanks!

[2021-02-12 22:47] khushbooshah-PM commented on #91
@Olivia-Chiong:
Following is information need to be updated about my role:

Name: Khushboo Shah
Role: Product Manager
Team: VRMS
Slack ID: U01EW21842X
GitHub handle: khushbooshah-PM

Regarding Partner, it is mentioned as TBD, i am finding more details about it. The rest of the information is good to go.

[2021-02-13 05:55] Olivia-Chiong commented on #91
@khushbooshah-PM Leave the partner as TBD. I don't think a partner has been identified for this project yet.

[2021-02-13 06:58] Olivia-Chiong opened #120 "Create resume bullet points to be added into issue templates"
### Overview
We want to create a list of resume bullet points that we can add into issues to clearly define the skills each person is acquiring when they complete an issue.

### Action Items
- [ ] Make a list of resume bullet points categorized into roles
- [ ] Edit the standard template to include a link to this list and a space to put the relevant resume bullet point for the issue

### Resources

[2021-02-13 22:05] switchzer0 commented on #91
@Olivia-Chiong there is no partner for VRMS at present, unless you want to list "Hack for LA," which feels unnecessarily self-referential. Eventually we will likely have partner(s) to list

[2021-02-14 00:32] khushbooshah-PM commented on #91
Thanks Adam and Olivia! all other information is present. The issue is ready to move in to review.

[2021-02-15 04:42] shaswa commented on #68
Meeting Alex tomorrow for a sync up

[2021-02-15 04:46] myrandi opened #121 "Experience Profile: Myranda Pierce"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-15 04:48] myrandi commented on #121
[Record Clearance Project One Sheet](https://docs.google.com/document/d/1JFZGKxeEBWVak_GATgIt0Knyr9_gJ15CBirynebb4tg/edit?ts=600cc808)

[2021-02-15 19:23] ddfridley commented on #55
@ktjnyc @ExperimentsInHonesty I made a copy of draft 2 and suggested some changes: https://docs.google.com/document/d/11-fprml_ewqEUvKEYl4hahz2ku-CKtz02jqWPXVEhl8/edit?usp=sharing

I look forward to our call.

[2021-02-15 19:41] ExperimentsInHonesty commented on #25
on the mac version there needs to be some notes about what directory they are starting in, and how to list contents (ls), etc.

[2021-02-15 19:58] ExperimentsInHonesty opened #122 "Create a Template for Making Guides/Templates"
### Overview

### Action Items
- [x] Make a template issue
- [x] Add labels
   - [x] TG: Gather examples
   - [x] TG: Draft Template
   - [x] TG: Create Guide
   - [x] TG: Place Guide
[code]
### Describe purpose or uses of Guide

[2021-02-15 20:08] ExperimentsInHonesty commented on #3
Please change the last column to say Project Status

[2021-02-15 21:04] Olivia-Chiong commented on #122
### Overview
We need to create a guide to making [name of item] so that [purpose of the item]

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] _Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label_
- [ ] Create a draft template, either in markdown format in this issue or a go

[2021-02-15 21:51] #122 closed

[2021-02-15 22:31] Olivia-Chiong opened #123 "Create a document template for Guides"
### Overview
We need to create a document template for guides so all guides are standardized.

### Action Items
- [ ] Use the kanban board guide as the example
- [ ] Create a document template for the guide

### Resources/Instructions
Issue #70

[2021-02-16 04:21] ExperimentsInHonesty commented on #41
- [ ] Add Andrew from Food Oasis

[2021-02-16 04:24] #41 closed

[2021-02-16 04:42] #89 closed

[2021-02-16 04:52] Olivia-Chiong opened #124 "Create issue template to track roles on Hack for LA website and Open Roles boards"
### Overview
We need to create a template to compare the "Looking for" on the Hack for LA website project cards and compare it to the listings on the open roles board

### Action Items
Create a template that includes
- [ ] Project card link
- [ ] List of open role boards

### Resources/Instructions

[2021-02-16 04:55] #15 closed

[2021-02-16 04:56] #13 closed

[2021-02-16 04:56] ExperimentsInHonesty commented on #12
Resolved by setting up a community of practice.

[2021-02-16 04:56] #12 closed

[2021-02-16 04:57] ExperimentsInHonesty commented on #10
Resolved by setting up a community of Practice for PMs and templates for all projects, etc.

[2021-02-16 04:57] #10 closed

[2021-02-16 04:59] Olivia-Chiong commented on #124
### Overview
We need to create a template to compare the "Looking for" on the Hack for LA website project card and compare it to the listings on the open roles board

### Action Items
- [ ] Insert project card link under Resources
- [ ] Check to see if the roles listed under "Looking for" on their project card are also listed on the relevant open roles board
- [ ] If yes, check this box and close

[2021-02-16 05:12] Olivia-Chiong commented on #124
### Overview
We need to ensure the roles you are "Looking for" on the Hack for LA website project cards are consistent with the listings on the open roles board.

### Action Items
- [ ] Current listings on the Hack for LA website project card [_Insert project card link_]
   - [ ] _Example: UX Researcher_
- [ ] Relevant open role boards
   - [ ] [_Example: UI/UX Research Open Roles_](https://github

[2021-02-16 05:16] #5 closed

[2021-02-16 05:50] ExperimentsInHonesty commented on #16
related issue #11

[2021-02-16 05:56] Olivia-Chiong commented on #124
Templates created, closing issue.

[2021-02-16 05:56] #124 closed

[2021-02-16 06:08] ExperimentsInHonesty commented on #72
@ktjnyc can you elaborate on this question? https://github.com/hackforla/product-management/issues/72#issuecomment-763684055

[2021-02-16 06:11] ExperimentsInHonesty commented on #120
Example can be found on one Issue in the Hack for LA repo.  See bonnie for details

[2021-02-16 14:17] ktjnyc commented on #72
@ExperimentsInHonesty I was asking whether any type of guides/support documentation for the end user should be part of the list - for example, on a project like undebate, we would want something to send to the candidate with instructions on where to click, how to save, how to re-record if they messed up, etc.  I wasn't sure if that was covered in the wiki or the readme

[2021-02-17 00:14] henlatourrette commented on #53
**Progress:**
Made some changes in the "Results" part:
Added a new Bullet point and combined the previous two related to the numbers into just one.

**Blocks:** Bonnie told me to ask her if I didn't know what was wrong. I made some changes but I'm not sure whether those are the ones it needed. @ExperimentsInHonesty can you please [take a look at it ](https://docs.google.com/document/d/1Wj3AhwNMZBZ

[2021-02-17 02:14] Olivia-Chiong commented on #81
@ExperimentsInHonesty
@peteplass has consolidated the resources - https://github.com/hackforla/community-survey-empowerLA-website/wiki/Resources

Please advise next steps.

[2021-02-17 02:17] shaswa commented on #68
Met Alex yesterday and reviewed OneSheet

[2021-02-17 02:30] Olivia-Chiong commented on #86
@mrao2 please provide any updates, @ag2463 is waiting on your response.

Progress:
Blocks:
Availability:
ETA:

[2021-02-17 02:31] shaswa commented on #60
Meeting Laila and Christina tomorrow

[2021-02-17 03:04] DrIffathsultana commented on #21
@ExperimentsInHonesty
Thanks Bonnie for your comments and suggestions.

- Please review the guide and the User story template.
- I have edited the document after last weeks discussion and added few more examples.

[2021-02-17 03:38] mrao2 commented on #86
Hello. I apologize for not being responsive.

Progress:
- I created a 'info dump' document with @ag2463 a week or two ago.
- I am supposed to write down information about the project.
Blocks:
- I dont know what information to write down. I need help in figuring out what information is needed so that I can then provide it. Can we setup a meeting to talk? @ag2463
Availability:
I am free in the eveni

[2021-02-17 16:11] ktjnyc commented on #74
Send out note to PM Slack channel requesting peer review.

[2021-02-17 17:37] alexilee commented on #74
Peer review:
- Overall, the guide is very detailed and easy to follow
- It may be helpful to have an FAQ and address the question of, "What happens when the product managers are not responsive?" as this seemed to be the most common yet most detrimental obstacle
- Does the duplicate Google Doc ever replace the original one sheet? Or do multiple copies of a one sheet exist after a one sheet is updat

[2021-02-17 18:06] NivenPrasad opened #125 "Create a Guide/Template: Story Points for your project"
### Overview
We need to create a guide to using Story Points so that teams can estimate work to be done, predict launch dates, track velocity, and report out to stakeholders.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label

[2021-02-17 19:36] tarang100 commented on #3
Please create an Issue for Food Oasis One Sheet @Olivia-Chiong and add this to that issue https://github.com/hackforla/website/issues/844#issuecomment-776996800

[2021-02-17 22:42] kcoronel commented on #74
Peer review;
- I agree with Alex and believe an FAQ at the end or the beginning of the document may be more helpful in folks looking to join a project. At this moment the document is a useful PM tool

[2021-02-18 00:21] ExperimentsInHonesty commented on #37
@KPHowley @VJ1285 it seems like the updates have been made.  Can you review and mark this as closed if satisfactory.

[2021-02-18 01:49] shaswa commented on #60
Met with Christina for updates. Will edit the Onesheet before next meeting

[2021-02-18 01:52] shaswa commented on #68
The only thing left is Contact email in the footer. Waiting for Abby to provide the email address.

[2021-02-18 02:01] mariastudnicka commented on #88
@ExperimentsInHonesty @Olivia-Chiong  Here's a [formatted draft ](https://docs.google.com/document/d/1LswgqbtK_vjYIMp-Go8--NHtzg1M3fZtnOH94bMHQJA/edit#)of the doc that @ktjnyc put together.

[2021-02-18 04:35] ggrrettcchhenn commented on #79
Meeting minutes are kept in the Record Clearance Project Google Drive Admin > Meeting Minutes folder. Our meeting template is:

### [Template] Date

### Agenda:
- Stand up
- PM updates

### Notes:
- Attendees:
- Text
- Text

### Action Items:
- Person will do x
- Person will do x

### Questions:
- Text
- Text

[2021-02-18 14:27] ktjnyc commented on #65
@ExperimentsInHonesty Ryan added the logo to the One Sheet so the dependency is lifted and ready for your final review.

[2021-02-19 01:22] ggrrettcchhenn commented on #49
@myrandi @ExperimentsInHonesty & I discussed adding something to this guide about **enforcing location of team documents**. The Record Clearance team has lost access to some team documents that are not in the team folder. Bonnie recommended avoiding this in the future by instituting a policy where anytime anyone on the team clicks on a link someone sent, don’t click the Request Access link, just a

[2021-02-19 02:42] ExperimentsInHonesty commented on #91
@khushbooshah-PM @switchzer0 @Olivia-Chiong Thanks for the updates.  I have opened an issue on the hfla website repo for them to update:  https://github.com/hackforla/website/issues/1077

This will go back to the icebox until its time for UAT.

[2021-02-19 03:08] ExperimentsInHonesty commented on #75
@KPHowley @VJ1285 - Perfect!  Please open a new issue on your repository that has the following and then close this issue by adding the link to the issue in a comment below.

[code]

[2021-02-19 03:15] ExperimentsInHonesty commented on #75
I have added a task item to an existing issue that is open on the hackforla website repo.  The task item will add the pdf to the TDM calc project board as a link called Overview.

https://github.com/hackforla/website/issues/1056

[2021-02-19 03:21] ExperimentsInHonesty commented on #78
Hi @pkfynn Sadly the slack does not go back that far and I just missed checking what happened.  But the project page is updated, so you can reach out to the PMs directly in the channel by at messaging them in the public message https://www.hackforla.org/projects/website

[2021-02-19 03:27] ExperimentsInHonesty commented on #78
Also, some of this info can be found on the wiki.   For instance, I went to https://github.com/hackforla/website/wiki/ clicked on Joining the team and there was a the roster.

This task is not a "get it done as fast as possible" this task is a journey for you to explore the project and if this stuff is visible in their wiki or readme, or on their project board get exposure to where they put it, et

[2021-02-19 05:05] ExperimentsInHonesty commented on #53
Hi @henlatourrette I made a bunch of edits.  Can you review it now and tell me if you think it's good to go.

Thanks!

Bonnie

[2021-02-19 05:22] ExperimentsInHonesty commented on #68
@shaswa They have an email, I looked it up and added it.  I changed the formatting to be consistent with our other worksheets (changed text color to match logo, made the top paragraph a little larger text (since there was room for it).

I have some questions about the content on this.  So I am going to slack Abby about adding a discussion of this to our Home Unite Us mgmt meeting (its the second t

[2021-02-19 05:32] ExperimentsInHonesty commented on #65
@ktjnyc Words are probably fine.  Please take a look at how some of the other one sheets are formatted, and take another pass at the formatting.

[2021-02-19 06:07] ExperimentsInHonesty commented on #74
@ktjnyc I updated the template to reflect the format form the best of docs.  This should help with the Engage one sheet as well as the guide you are drafting.

[2021-02-19 06:49] ExperimentsInHonesty commented on #88
@mariastudnicka Love where you are going with this Guide format.  Let's customize it to be clear its from Hack for LA.  You have some flexibility, but should draw your inspiration from the Hack for LA website.  If you want to see all the different headers and stuff we use on that project (much is not published, but is in our figma).

Here is the link that starts on the current pages: [Figma, Curre

[2021-02-19 06:55] ExperimentsInHonesty commented on #82
good to go.

[2021-02-19 07:02] Olivia-Chiong opened #127 "Create a NEW One Sheet: Food Oasis"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [x] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [x] Review one sheet, fill in what details you can find and check off items on the checklist to see what it might be missing.
- [x] Setup a meeting with the PM to go over the

[2021-02-19 07:13] ExperimentsInHonesty commented on #21
The link you provided for "Draft- Template for User story" is saying I need user access, which means its not in a hack for la folder.  Please put it in [Product Management Google Drive](https://drive.google.com/drive/folders/1ddF8xiDjlCZH97lRCUa2f_PmlDb9nr9S?usp=sharing)

[2021-02-19 07:18] Olivia-Chiong commented on #61
@rfambro2
Progress:
Blocks:
Availability:
ETA:

[2021-02-19 07:22] Olivia-Chiong commented on #66
@vharsh25 It's been a week, can you please provide
Progress:
Blocks:
Availability:
ETA:

[2021-02-19 07:22] Olivia-Chiong commented on #85
@vharsh25 It's been a week, can you please provide
Progress:
Blocks:
Availability:
ETA:

[2021-02-19 07:24] ExperimentsInHonesty commented on #66
@vharsh25 Updates are required

Progress:
Blocks:
Availability:
ETA:

[2021-02-19 08:52] DrIffathsultana commented on #21
@ExperimentsInHonesty
 I have added both guide and template in respective folders of [Product Management Google Drive](https://drive.google.com/drive/folders/1lO8k_0Z1UejkuRlNMYlUl2xlqgyBmvrF)
 - Guides - [Draft- Create a Guide: Epic, Feature, User story, Persona, User journey maps/Templates/Examples](https://docs.google.com/document/d/18Wmoe9n-GptmDe1FZWl_xmNqtH5dHk5z03nnp8_MATM/edit)
 - Template

[2021-02-19 09:00] Olivia-Chiong opened #128 "Tracker: Templates & Guides"
### Overview
This is an issue to track the templates and guides we have available at Hack for LA

### Action Items

| Topic                                                                  | Guide Link                                                                                                | Template Link

[2021-02-19 09:18] Olivia-Chiong opened #129 "Tracker: Project Inventory"
### Overview
This issue is used to track project inventory for each Hack for LA project.

### Action Items
| Project Name                        | Issue                                                            | Status         |
| ----------------------------------- | ---------------------------------------------------------------- | -------------- |
| 100 Automations                     |

[2021-02-19 14:53] shaswa commented on #68
Thank you, @ExperimentsInHonesty! I will attend the meeting on Saturday, just added it to my calendar.

[2021-02-19 16:52] ag2463 commented on #86
Hi @mrao2 please fill our the doodle below, It has my availabilities for the upcoming week. I'd suggest picking at least 2 time slots as I think we will need it.
https://doodle.com/poll/3ft4wnyz32yqftwi?utm_source=poll&utm_medium=link

Before our first meeting these are a few questions I'd like you to consider and possibly have general answers for:
1. Whats the addressable market?
2. Who is this b

[2021-02-19 17:55] shaswa commented on #60
@ExperimentsInHonesty Updated the first draft of the OneSheet, will work on it a bit more over the weekend to make it better. We need to reclaim the email address, the person who handled it previously is no longer with the project.

[2021-02-19 19:14] ExperimentsInHonesty commented on #60
@shaswa I wrote write to Joel, who I think owns the domain name writeforall.org. Looking forward to your draft.

[2021-02-19 19:18] Olivia-Chiong opened #130 "Project Inventory: Food Oasis"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-02-19 19:18] Olivia-Chiong commented on #130
@henlatourrette please work with @ktjnyc to work on getting the project inventory done for Food Oasis

[2021-02-19 19:22] ExperimentsInHonesty commented on #67
@tarang100 please make an agenda/issue for the HfLA product manager meeting and put this on it.

[2021-02-19 19:24] henlatourrette commented on #53
@ExperimentsInHonesty I just corrected some punctuation marks and I think it's now good to go. We can move forward with the next steps for the One Sheet.

[2021-02-19 19:28] ExperimentsInHonesty commented on #67
skipped one more week, but no more.

[2021-02-19 19:33] ExperimentsInHonesty commented on #55
@ktjnyc @ddfridley We need to schedule another meeting. Can you both do 2pm PST / 4 pm EST on Monday the 22nd.  If Yes, Katie, please send an invite out.

[2021-02-19 19:36] ktjnyc commented on #55
@ExperimentsInHonesty I meant to bring this up earlier.  2PST works for me.  I'll send out the invite once I hear from David.

[2021-02-19 19:43] Olivia-Chiong opened #131 "Product Management CoP Weekly Agenda"
### Overview
This is an issue to track meeting agendas for the weekly CoPs

### Action Items
List of agenda items in comments below.

### Resources/Instructions

[2021-02-19 19:48] ExperimentsInHonesty commented on #69
asked for a meeting with Adam.

[2021-02-19 19:58] ExperimentsInHonesty commented on #56
@myrandi @ggrrettcchhenn Please update the colored headers and links to use the logo color.  Then you can place this issue back into the bottom of the skip column with the project inventory

[2021-02-19 20:54] ExperimentsInHonesty commented on #25
1. Check to see if you have an ssh key: [GitHub instructions](https://docs.github.com/en/github/authenticating-to-github/checking-for-existing-ssh-keys)
   1. If you don't have one, generate a new one: [GitHub instructions](https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent)

Go to your own GitHub profile and click Settings
![Screen S

[2021-02-19 21:00] ExperimentsInHonesty commented on #25
Prerequisite on Windows:
* Download and unzip the thumbdrive version [git](https://git-scm.com/download/win)

Step 2:
* On a PC, open your Windows/start menu and locate the `Git Bash` application and open it.
* Open a file explorer window and find or make a directory/folder where you want to place your work
* In the `Git Bash` window type `cd` then drag the folder into the Git Bash window (REPLACE

[2021-02-19 21:11] ExperimentsInHonesty opened #132 "Create a Guide/Template: Landing page with mailing list (pre product launch) for your project"
### Overview
We need to create a guide to making a Landing page with mailing list so that projects can have a place to part their domain name and gather interest in the project, so that they launch to an interested audience.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Exam

[2021-02-20 16:37] rfambro2 commented on #61
@Olivia-Chiong - One-Sheet has been updated. My apologies, I couldn't find this issue to give an update. Thanks for the reminder.

[2021-02-20 23:36] shaswa commented on #68
@ExperimentsInHonesty I should have asked this earlier. Is the meeting time on the website in EST or PST?

[2021-02-21 00:06] Olivia-Chiong commented on #68
Meeting time on the website is always in your own timezone.

On Sat, 20 Feb 2021 at 15:36, Shanthi Swaroop Katika <
notifications@github.com> wrote:

[2021-02-21 00:36] shaswa commented on #68
@Olivia-Chiong Thank you for the information! I wrongly assumed the time to be in PST and missed today's meeting.

I think if the website can determine user's timezone, it should be displayed in the UI too to improve accuracy. I will bring it up in the Hack for LA website PM meeting.

[2021-02-21 01:30] khushbooshah-PM commented on #110
As requested, added a link for VRMS Product Roadmap. Let me know if any more information is required.

https://docs.google.com/document/d/1BlhtbYBbSBlwSKNFupqUwdtKiUluCErIt0Mr4vNzxlA/edit

[2021-02-21 03:03] ExperimentsInHonesty opened #133 "Do you have write access to the Product Management community of practice repository?"
### Overview
We want to make sure that all Product Managers have write access to their community of practice repository so that they can be self assign issues.

### Action Items
- [ ] Check to see if you have write access
- You have write access If you see the gear on the top right next to Assignees
![Screen Shot 2021-02-20 at 6 42 04 PM](https://user-images.githubusercontent.com/37763229/10861397

[2021-02-21 17:21] ExperimentsInHonesty commented on #61
@muhabdulkadir Sorry for the confusion.  This issue should have been in the IceBox.  This team is waiting for their logo.  Ihttps://github.com/hackforla/civic-opportunity/issues/84.  I will remove you from this issue.  Please grab another issue from the prioritized backlog.

[2021-02-22 09:21] muhabdulkadir commented on #61
Hi Bonnie,

I'm not in the civic responsibility repo.

On Sun, Feb 21, 2021 at 6:21 PM Bonnie Wolfe <notifications@github.com>
wrote:

[2021-02-22 15:55] shaswa commented on #60
Updated OneSheet. Requested Christina to review it too

[2021-02-22 16:15] rfambro2 commented on #61
@muhabdulkadir - Hey Mo, she means to grab another issue from the Product Management repo.

[2021-02-22 16:42] muhabdulkadir commented on #61
Thanks for the clarity Ray Sent from Mail for Windows 10 From: Ray FambroSent: Monday, 22 February 2021 5:16 PMTo: hackforla/product-managementCc: Muhammed Abdulkadir; MentionSubject: Re: [hackforla/product-management] Update One Sheet: Civic Opportunity Project (#61) @muhabdulkadir - Hey Mo, she means to grab another issue from the Product Management repo.—You are receiving this because you were

[2021-02-22 23:17] Olivia-Chiong commented on #130
@henlatourrette we are going to unassign you from this and make a new issue for you to do this for 100 Automations.

[2021-02-22 23:21] Olivia-Chiong opened #134 "Project Inventory: 100 Automations"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-02-23 01:28] mariastudnicka commented on #88
@ExperimentsInHonesty  In trying to create a look and feel that is similar to the Hack for LA website,  I added the Hack for LA logo, created a header with placeholder text (that can easily be modified) and hopefully addressed your comment.  I created a [new version](https://docs.google.com/document/d/1T-h3YJ8Pp4hsfq9ouRHRnwrrHROSz0-kQz5O9VTE62U/edit#) to show the delta between the two designs.

[2021-02-23 03:53] henlatourrette commented on #130
Hi! OK, I will do it for 100 automations

[2021-02-23 04:51] Olivia-Chiong commented on #66
@vharsh25 Please provide updates before the Product Management meeting tomorrow

Progress:
Blocks:
Availability:
ETA:

[2021-02-23 04:52] Olivia-Chiong commented on #85
@vharsh25 Please provide updates before product management meeting on 2/23
Progress:
Blocks:
Availability:
ETA:

[2021-02-23 04:52] Olivia-Chiong commented on #58
@Oluwafemi-Jegede
Please provide an update before 2/23 meeting.
Progress:
Blocks:
Availability:
ETA:

[2021-02-23 05:04] Olivia-Chiong commented on #125
@NivenPrasad and @khushbooshah-PM  I discovered today that there is some usage of story points on Food Oasis. Check with @ktjnyc for more information.

[2021-02-23 07:24] Olivia-Chiong opened #135 "PM CoP Meeting Agenda - Week of Feb 22 2021"
### Overview
The agenda for this week's product management community of practice and weekly roll call for projects.

#### Agenda
- If you have open roles on your team, please add them to the open roles board
- Discussion topic: effective meeting agendas, meeting management and timeboxing
- Confirm each CoP member has access to PM CoP repo by checking issue #133
- (Discuss how HfLA uses Google driv

[2021-02-23 10:46] Oluwafemi-Jegede commented on #58
@Olivia-Chiong I will not be joining today's meeting because of time zone differences, I will attend the Friday meeting to give a better update.

Progress: Data gathering ongoing
Blocks: Some personal events delayed the delivery, last Friday
Availability: Friday, 26th
ETA: Friday, 26th

[2021-02-23 19:18] ExperimentsInHonesty opened #136 "Create a NEW One Sheet: Slack Redactor"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [ ] Review one sheet and check off items on the checklist to see what it might be missing.
- [ ] Setup a meet

[2021-02-23 22:34] ag2463 commented on #86
@ExperimentsInHonesty - The Draft of the One sheet is ready for review/comments.

[2021-02-23 23:15] ag2463 commented on #74
Peer Review
-The document is clear an easy to follow
- Agree with previous comments about what happens to multiple versions of One Sheets
- A FAQ section would be helpful, but how would that continue to get updated and added to once the guide is published?

[2021-02-24 00:46] ktjnyc commented on #65
Progress: Was able to make some updates
Blocks: Availability
Availability:
ETA: Updates can be made by Friday 2/26

[2021-02-24 01:23] ktjnyc commented on #130
Linked Github, Github project board and slack channel.

[2021-02-24 02:03] ExperimentsInHonesty commented on #53
@henlatourrette Thank you for your work on this!  I'll unassign you now.

[2021-02-24 02:04] ExperimentsInHonesty commented on #53
This is ready to make into a pdf and update the chart  #3

[2021-02-24 02:10] ExperimentsInHonesty commented on #86
@ag2463 Seems like some good progress has been made here.  I look forward to seeing a new draft again when you are ready.

[2021-02-24 02:19] ExperimentsInHonesty commented on #60
@shaswa lease make a copy of the current doc and name it the same + - new draft and then roll back the current version to the original.  and then paste both copies urls into a comment with notes about which one is which.

[2021-02-24 02:20] ExperimentsInHonesty commented on #69
emailed Adam again.

[2021-02-24 02:25] mrao2 commented on #86
I saw the comments @ExperimentsInHonesty and I edited the one sheet.

[2021-02-24 02:26] ExperimentsInHonesty commented on #81
@Pete we need to make a time to go over the materials.  I am glad you are feeling better.  Can you write back with your general availability this week?

[2021-02-24 02:26] Olivia-Chiong commented on #135
Miro Board for Product Manager Experience with current PM process, templates and guides - https://miro.com/welcomeonboard/4RSvPoMdljv2ZtV5BoyxCY1l5qqzkWrqlzrMik7VO3HJ0gaY67VLrNbPWFlBHTDx

[2021-02-24 02:33] peteplass commented on #81
@ExperimentsInHonesty Tomorrow is the last day I have to wake up at 4:30am (ugh), so I'll be available Thurs/Friday and then I can make time over the weekend- though Sat. looks rough. I'm nearly asleep right now.

[2021-02-24 02:33] NivenPrasad commented on #133
Niven Prasad, @NivenPrasad, I'm in!

[2021-02-24 02:47] NivenPrasad commented on #125
[Draft Guide](https://docs.google.com/document/d/1GSFbnNWI7BsxIN3lPrRMN_qoILJ_ighc5ne-ED4MpKQ/edit)

[2021-02-24 03:25] DrIffathsultana commented on #21
@ExperimentsInHonesty
I have added both guide and template in respective folders of [Product Management Google Drive](https://drive.google.com/drive/folders/1lO8k_0Z1UejkuRlNMYlUl2xlqgyBmvrF)
 - Guides - [Draft- Create a Guide: Epic, Feature, User story, Persona, User journey maps/Templates/Examples](https://docs.google.com/document/d/18Wmoe9n-GptmDe1FZWl_xmNqtH5dHk5z03nnp8_MATM/edit)
 - Templates

[2021-02-24 07:36] DrIffathsultana commented on #74
Peer Review
- Guide is clear with all the links and information
- How often guide needs to be updated. Is there a timeline?

[2021-02-24 14:05] ktjnyc commented on #133
Katie Jensen, @ktjnyc, I'm in!

[2021-02-24 18:36] ag2463 commented on #80
@sharonethomas @sayalikotkar  were you able to have a meeting with Jenny? If so could I set up a time with one of you to go over what you learned? If it hasnt happened yet, can I be added to the meeting. Thanks!

[2021-02-24 22:53] #46 closed

[2021-02-25 05:03] VJ1285 commented on #37
@ExperimentsInHonesty

- [ ] We need to remove "The" from the project title
- [ ] Need to update the one sheet. Made minor edits to it. The updated one sheet can be found below
https://docs.google.com/document/d/1ORNo1bTC-Sx0Rd64_-XfTXj_dN15Wu1Feiax2gGNJTw/edit

[2021-02-25 14:38] ktjnyc commented on #65
Changes made:
- Color matched the headers and bolded font to the color of the project name in the logo.
- Added the divider line between the overview and history/roadmap sections
- Moved the project logo down

[2021-02-25 15:32] VJ1285 commented on #75
@ExperimentsInHonesty - Please re-review the pdf of the one-sheet. I removed the periods from the bullet points from the items under "Alpha Version"

[2021-02-25 17:39] ktjnyc commented on #74
Incorporated comments and feedback from peer review and attempted to apply format from Slack Reminders Guide.  Ready for review.
[Draft guide](https://docs.google.com/document/d/14-nYNCjrMrC8lucUNBfLOFQZk2sWbkRlJgigWDAlqlI/edit?usp=sharing)

[2021-02-26 00:26] henlatourrette commented on #133
Henry Latourrette, @henlatourrette, I'm in!

[2021-02-26 00:43] henlatourrette commented on #74
Peer review: I really like the design, it's easy and fun to read. Well done so far!

Perhaps I would add a comment saying that "you can check [this issue for examples](https://github.com/hackforla/product-management/issues/3)" or something similar.

[2021-02-26 06:03] ExperimentsInHonesty commented on #49
@ggrrettcchhenn please provide an update on this issue.

[2021-02-26 07:58] rmcrowell commented on #123
@Olivia-Chiong is the end user for this the Product Management team (to document internal policies) or is this for other teams/uses as well? I'm expecting the use case is internal documentation, and is not intended to be used for new feature documentation.

[2021-02-26 09:03] Olivia-Chiong commented on #123
@mariastudnicka created a very nice design for [this guide](https://docs.google.com/document/d/1T-h3YJ8Pp4hsfq9ouRHRnwrrHROSz0-kQz5O9VTE62U/edit#) and I am told we can make it into a template.

[2021-02-26 09:18] Oluwafemi-Jegede commented on #58
@Olivia-Chiong One sheet Updated.

Please let me know if you have questions.

NB: Project road map converted to project milestones.

[2021-02-26 17:01] sharonethomas commented on #80
@ag2463 we have not had the meeting yet. I will be working with @smgmode to come up with questions on what to ask Jenny and then we will have the meeting. cc @sayalikotkar

[2021-02-26 17:54] khushbooshah-PM commented on #125
I and Niven have gathered information from the different teams from HFLA and tried to gain more information about the usage of Story Points industry-wide.
The draft guide is attached below. It is still in DRAFT status. I and Niven are going to refine it further.

[Story Points](https://docs.google.com/document/d/1GSFbnNWI7BsxIN3lPrRMN_qoILJ_ighc5ne-ED4MpKQ/edit)
)

[2021-02-26 22:29] ktjnyc commented on #65
Updated the links and last edited date.
File PDF'd and added to [repo](https://github.com/hackforla/product-management/tree/master/project-one-sheets)
Updated [one sheet tracker file](https://docs.google.com/spreadsheets/d/1OJOKJDhUzzMzaFwmbGoOdh5Ohh53LCwS4u7LulVvBsQ/edit#gid=0) with status and approval dates

[2021-02-27 00:40] Andan-Eddy commented on #133
Andan Eddy @Andan-Eddy, I'm in!

[2021-02-27 02:10] henlatourrette commented on #70
I've reviewed the guide and I have no comments by now - other than I think that it's easy to read and understand.

[2021-02-27 02:35] henlatourrette commented on #134
Progress: Reviewing the status of each item. Found out the following:
        On the Readme file, there's a existing one but need some updates:
	Link to 100 automations One Sheet is not working and it looks that there's already an
        available PDF we can use. However, it doesn't link directly to a PDF, instead it links to an
        issue on the PDF.
Blocks: Nothing so far, just need more tim

[2021-02-27 03:04] erigilg commented on #22
Wasn't able to access the Get Your Refund Communications Guide for Document Creation doc. Is it in the right folder?

[2021-02-27 03:22] erigilg commented on #33
It seems that the links for the Gmail and Miro guides in the description are broken.

[2021-02-27 18:25] #135 closed

[2021-02-27 18:28] Olivia-Chiong opened #138 "PM CoP Meeting Agenda - Week of Mar 1 2021"
### Overview
The agenda for this week's product management community of practice and weekly roll call for projects.

#### Agenda
- Discussion topic: Problem, Solution and Impact statements for your project
- If you have open roles on your team, please add them to the open roles board
- Confirm each CoP member has access to PM CoP repo by checking issue #133
- (Discuss how HfLA uses Google drive) D

[2021-02-27 20:13] erigilg opened #139 "Experience Profile: Erika Gil"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-02-27 21:08] erigilg commented on #128
I updated the tracker for all the guides and templates I could find in the projects tab. I gave it some formatting as well, let me know if it is clear or if any guides/ templates are missing.

[Templates and guides google sheet ](https://docs.google.com/spreadsheets/d/1OJOKJDhUzzMzaFwmbGoOdh5Ohh53LCwS4u7LulVvBsQ/edit#gid=334170522)

[2021-02-27 23:19] ExperimentsInHonesty commented on #134
@henlatourrette once you do this part in the top of this issue

Then you will paste the link to the press release
https://docs.google.com/document/d/1Rr3ueR6lTIAwcDGrEqyS0HJVIjmqlGRaldrcMkCMcGA/edit
into the new issue you just created.

[2021-03-01 17:57] ExperimentsInHonesty commented on #37
@VJ1285 I have created an [issue](https://github.com/hackforla/website/issues/1144) on the Hack for LA website team to remove the "The" from the name.  Sorry for the delay.

[2021-03-01 17:58] ExperimentsInHonesty commented on #37
Added Dependency.  This issue is waiting for this [issue](https://github.com/hackforla/website/issues/1144) to be resolved, so that pm can do signoff

[2021-03-01 18:43] ahdithebomb opened #142 "Medium Article: Hack for LA UCD Case Study"
### Overview

We need to create an article around UCD for Hack for LA to create more awareness of opportunities to join and the type of work we do.

### Action Items

- [ ] Review sample articles
- [ ] Brainstorm article content
- [ ] Create a brainstorm and draft document
- [ ] Create flow diagram of UX process
- [ ] Draft outline of article
- [ ] Review/revise article outline
- [ ] Draft article

[2021-03-01 18:46] ExperimentsInHonesty commented on #142
I moved this the product-management repo and put it on the templates and guides board.  But it also could be on the UX/UI board.  The reasoning for moving it to PM board is because @nielseny @ahdithebomb are both PMs so they are approaching it from that perspective.  Here is the message I sent to them on slack

<img width="871" alt="Screen Shot 2021-03-01 at 10 46 41 AM" src="https://user-images.g

[2021-03-01 19:36] ExperimentsInHonesty commented on #76
Current todo
   - [ ] It needs a tiny amount editing to be finished with wording
   - [ ] Be clear which partner for which initiative (super by design #1)

[2021-03-02 08:49] Olivia-Chiong opened #143 "Tracker: Deck Project Card"
### Overview
We need each project to come up with the Problem, Solution and Impact statements to be included in the Hack for LA presentation deck.

### Action Items

| Project Name                        | Status           |
| ----------------------------------- | ---------------- |
| 100 Automations                     |                  |
| 311 Data                            |

[2021-03-02 22:09] sayalikotkar commented on #25
Prerequisites:
The link to github asks you to check to see if you have SSH, but it requires you to have Git Bash in order to check

[2021-03-03 00:20] shaswa commented on #60
@ExperimentsInHonesty
[Original OneSheet with suggestions](https://docs.google.com/document/d/1CoPW1rrrdA5-jn5tYd1axZ07HqqXfHgSsVIWjw-ZfAA/edit)
[My earlier draft](https://docs.google.com/document/d/1fuTG4bgr7qqbPDs823yu6NDP72XS5Oo8LQTYiZo1F2c/edit)

[2021-03-03 01:51] mrao2 commented on #86
added a rudimentary techinal to do list. https://docs.google.com/document/d/1meMHrAb8ALr3OK7skej3lYPJhSxW9GjJxQAJv1VXnIc/edit?usp=sharing

[2021-03-03 02:02] erigilg commented on #133
Erika Gil, @erigilg, I need access

[2021-03-03 02:36] alexilee opened #144 "Deck Profile Card: Civic Opportunity"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)

[2021-03-03 02:37] Olivia-Chiong opened #145 "Deck Profile Card: Heart"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
One Sheet Issue #53

[2021-03-03 02:42] peteplass opened #146 "Deck Profile Card: [community-survey-empowerLA-website]"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[Empower LA](https://empowerla.org/)

[2021-03-03 02:51] suvyrao opened #147 "Deck Profile Card: Civic Tech Structure"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)

[2021-03-03 02:52] erigilg commented on #53
Hi @henlatourrette @ExperimentsInHonesty. I'm working on the slide of Heart for the ppt "[What is Hack for LA?](https://docs.google.com/presentation/d/16ayq8ur_bLy-3bYtXI3lyuQ2zvOcGUlszIaHZG6AK3M/edit#slide=id.gbfc3cf2292_0_119)".
Could you make sure the [one sheet doc](https://docs.google.com/document/d/1Wj3AhwNMZBZfIyX-MFqCIVH1qD2QJR2e0FXYzUUL7bM/edit?usp=sharing) is in the right folder? I don't

[2021-03-03 02:52] suvyrao opened #148 "Deck Profile Card: BOP"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)

[2021-03-03 03:01] khushbooshah-PM commented on #125
We have gathered examples, now we are creating draft.

[2021-03-03 03:01] alexilee commented on #144
**Problem**
There is a growing gap between employment and skilled technology workers. Tech companies have a hard time recruiting new talent while the unemployment rate continues to rise across the country.

**Solution**
The mission of the Civic Opportunity project is to develop volunteers into skilled technology workers to boost the pipeline of potential employees while contributing to impactful p

[2021-03-03 03:19] erigilg commented on #145
I'll just add the link to the ppt so I don't lose it. https://docs.google.com/presentation/d/16ayq8ur_bLy-3bYtXI3lyuQ2zvOcGUlszIaHZG6AK3M/edit#slide=id.gbfc3cf2292_0_119

[2021-03-03 03:36] abbyhipp opened #149 "Deck Profile Card: HomeUniteUs"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-03-03 03:37] abbyhipp commented on #149
**Problem**
PSY found a solution to help solve homeless youth but it does not scale. Case workers must set up host and guest matches with little or no input from the guest. Skilled case workers are also spending time on admin tasks and they cannot focus on human interaction.

**Solution**
Gives agency to youth experiencing homelessness by allowing them to pick their host and significantly improves

[2021-03-03 04:34] DrIffathsultana opened #150 "Deck Profile Card: [Civic Tech Index]"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
[One sheet ](https://docs.google.com/document/d/19yXIx6xcm4IW5Dun5O-a-t8J7bmvWQN-mBNIlsY-BHc/edit)

[2021-03-03 04:44] DrIffathsultana commented on #133
Iffath Sultana,  @DrIffathsultana , I'm in !

[2021-03-03 22:16] sharonethomas commented on #80
I spoke with @smgmode and we said we would circle back next Wednesday or Thursday to have a chat.

[2021-03-04 18:29] ExperimentsInHonesty opened #151 "Gather all the information we have about our NC contacts"
### Overview
We need to a folder that has all the details about all the NC contacts we have had so that we can manage the relationships at an org level and create best outcomes with projects and partners.

### Action Items
- [ ] Find a PM who is interested in stakeholder management
- [ ] Add them to the google drive
- [ ] Dig through the Agendas in the 311 Agendas folder and update the copy of the

[2021-03-04 23:20] henlatourrette commented on #53
Hi Erika, send me your email address on Slack @ Henry Latourrette and I'll "share" the document to you from the Drive.

[2021-03-04 23:21] ktjnyc commented on #74
Incorporated new comments and feedback from peer review and attempted to apply format from Slack Reminders Guide. Ready for review.
[Draft guide](https://docs.google.com/document/d/14-nYNCjrMrC8lucUNBfLOFQZk2sWbkRlJgigWDAlqlI/edit?usp=sharing)

[2021-03-04 23:27] ktjnyc commented on #130
Progress: Updated links for Figma, Google Drive, Team Roster
Blocks: So many documents to sift through!
Availability: variable
ETA: Can make some additional progress by next meeting

[2021-03-04 23:57] erigilg opened #152 "Create a Guide: Data analysis tools for your project"
### Overview
We need to create a guide for data analysis tools so that teams know the right tools to use for getting the desired results.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, eithe

[2021-03-05 00:04] erigilg opened #153 "Create a Guide/Template: Readme for your project"
### Overview
We need to create a guide to making [name of item] so that [purpose of the item]

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in markdown format in this issue or a goog

[2021-03-05 00:08] erigilg opened #154 "Create a Guide: Hosting for your project"
### Overview
We need to create a guide to hosting your project in Github (free), Heroku or AWS so that teams know how to host their projects.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, e

[2021-03-05 00:16] Olivia-Chiong commented on #25
@sayalikotkar the instructions have been updated. Let me know if you are able to follow now.

[2021-03-05 00:19] erigilg opened #155 "Create a Guide/Template: Prioritizing features for your project"
### Overview
We need to create a guide for prioritizing features in your project so that teams know what feature is worth pursuing next.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either

[2021-03-05 00:22] erigilg opened #156 "Create a Guide: What does a PM do readme"
### Overview
We need to create a guide for what does a PM do readme so that members know the responsibilities of a PM in Hack for LA.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in

[2021-03-05 00:42] erigilg opened #157 "Create a Guide/Template: Strategy and vision for your project"
### Overview
We need to create a guide to establish the strategy and vision for projects so that every project has one and team members are aligned.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft temp

[2021-03-05 00:47] erigilg opened #158 "Create a Guide/Template: MoSCoW prioritization for your project"
### Overview
We need to create a guide to applying MoSCoW prioritization so that stakeholders of a project understand the importance of certain initiatives throughout its timeline.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template"

[2021-03-05 00:50] erigilg opened #159 "Create a Guide/Template: Release plan for your project"
### Overview
We need to create a guide to making a release plan for your project so that launching is a success.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in markdown format in t

[2021-03-05 00:53] erigilg opened #160 "Create a Guide/Template: Product requirements document for your project"
### Overview
We need to create a guide to making a product requirements document for your project so that everyone knows what needs to be developed.

### Action Items
- [x] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [x] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [x] Create a draft temp

[2021-03-05 00:57] erigilg opened #161 "Create a Guide/Template: Theme epic feature story tasks for your project"
### Overview
We need to create a guide to making theme epic feature story tasks so that there's a consistent storyboard of the persona with the product.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft

[2021-03-05 01:06] erigilg opened #162 "Create a Guide/Template: Brand Sprint for your project"
### Overview
We need to create a guide to brand sprinting so that everyone knows how to execute a brand sprint, which helps team members be aligned with the vision of the brand.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" la

[2021-03-05 01:10] erigilg opened #163 "Create a Guide/Template: Product marketing for your project"
### Overview
We need to create a guide to product marketing for your project so that teams know how to reach the right audiences.
### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in mark

[2021-03-05 01:15] erigilg opened #164 "Create a Guide/Template: Mockups/wireframes for your project"
### Overview
We need to create a guide to making mockups and wireframes so that project members get a better idea how the end result may look like.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft templ

[2021-03-05 01:17] erigilg opened #165 "Create a Guide/Template: A/B testing for your project"
### Overview
We need to create a guide to making A/B testing so that teams know how to experiment and determine the best option of the product for their audience.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Creat

[2021-03-05 01:22] erigilg opened #166 "Create a Guide/Template: Agendas and Meeting minutes for your project"
### Overview
We need to create a guide to making meeting minutes so that a established format will make easier to make, read and share the meetings minutes.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a dr

[2021-03-05 01:24] erigilg opened #167 "Create a Guide/Template: User research for your project"
### Overview
We need to create a guide to making user research for your project so that members of the project have a defined process of how to approach user research.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ]

[2021-03-05 01:27] erigilg opened #168 "Create a Guide/Template: Google fonts for your project"
### Overview
We need to create a guide to defining Google fonts for your project so that all documents use the same fonts.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in markdown f

[2021-03-05 06:03] DrIffathsultana commented on #150
Adding Link to [slides ]( https://docs.google.com/presentation/d/16ayq8ur_bLy-3bYtXI3lyuQ2zvOcGUlszIaHZG6AK3M/edit#slide=id.gbfc3cf2292_0_119)for reference.

[2021-03-05 07:13] ag2463 opened #169 "Deck Profile Card: [Public Tree Map]"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)

[2021-03-05 16:36] ag2463 commented on #169
Problem Statement: Many municipalities compile and maintain a database on public trees in their jurisdiction. However the data is often not easy to navigate or visualize.

Impact Statement: Having a public tree map can be used to help plan tree planting and maintenance activities in the community.

[2021-03-05 17:43] NivenPrasad commented on #125
@ExperimentsInHonesty @Olivia-Chiong @khushbooshah-PM I'd like to QA/feasibility test these extensions (perhaps with a developer):

1. https://github.com/brthrs/github-project-story-points
2. https://github.com/banyan/github-story-points

Potentially even update scripts for HfLA specific context.

Benefit is that task-by-task visualization and easy reporting can be integrated within GitHub project

[2021-03-05 18:14] ggrrettcchhenn opened #170 "Deck Profile Card: Record Clearance Project"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)

[2021-03-05 18:17] ExperimentsInHonesty commented on #75
@VJ1285 I am not sure what you are asking for on this part
https://github.com/hackforla/website/issues/1119#issue-816542083
" description - Need to update the one-page"
If we need to make a change to the pdf then we just upload a new pdf after I sign off and it automatically updates on the website.   Can you confirm that is what you are asking for, is a change to the existing pdf that is showing u

[2021-03-05 18:19] ExperimentsInHonesty commented on #75
@VJ1285 I just looked at https://docs.google.com/document/d/1ORNo1bTC-Sx0Rd64_-XfTXj_dN15Wu1Feiax2gGNJTw/edit. which is what is linked above as the current one sheet, but it has the same date as the pdf now online here: https://github.com/hackforla/product-management/blob/master/project-one-sheets/TDM-Calculator-Product-One-Sheet.pdf

so what is the difference?

[2021-03-05 18:22] ExperimentsInHonesty commented on #81
Let me know when you are ready for me to look at it again and meet up online

[2021-03-05 18:27] ExperimentsInHonesty commented on #53
@Olivia-Chiong please sort out craziness above !! 🙈

[2021-03-05 18:44] ExperimentsInHonesty commented on #58
I made some updates to the one sheet.  Please reach out to Ben Swerdlow on slack to see if he has any other items to add to the technical milestones.  Or if he can recommend we talk to anyone else besides Emily who is not responding.

https://docs.google.com/document/d/1paiAKHTot8YmKgAayNC3jjg_rRblwIOXR2sM4WVczqU/edit

[2021-03-05 18:46] ExperimentsInHonesty commented on #65
@ktjnyc thanks!

[2021-03-05 18:46] #65 closed

[2021-03-05 18:58] ExperimentsInHonesty commented on #88
@mariastudnicka I can't say enough how much I love what you have done.  Question for you... do you think we could add a red map pin (color matching with logo) with concentric circles radiating out from LA to this image
<img width="778" alt="Screen Shot 2021-03-05 at 10 55 07 AM" src="https://user-images.githubusercontent.com/37763229/110161007-9c466d80-7da1-11eb-83f1-ba6e0f9d9d19.png">

might look

[2021-03-05 19:07] Olivia-Chiong commented on #53
@henlatourrette do not share the document directly. please make sure the document is moved to the correct One Sheet folder in the product management Google Drive so @erigilg can access it.

[2021-03-05 19:33] myrandi commented on #170
Started working draft here https://docs.google.com/document/d/1ShGowsLHabWZcW4ITzrTrScqFJj6OgHL6tbPI6iEfYc/edit

[2021-03-05 20:50] mariastudnicka commented on #88
Thanks! @ExperimentsInHonesty. Let me take a pass at it.

[2021-03-05 21:54] mariastudnicka commented on #88
Hi @ExperimentsInHonesty. Here are two versions. Let me know your thoughts.

![World LA v2](https://user-images.githubusercontent.com/75585533/110177713-3b775f00-7dba-11eb-8fb3-e292abd48395.png)
![World LA v1](https://user-images.githubusercontent.com/75585533/110177716-3dd9b900-7dba-11eb-9f5e-1a7eafe08b90.png)

[2021-03-05 22:12] mariastudnicka commented on #147
Comments at [page](https://docs.google.com/presentation/d/16ayq8ur_bLy-3bYtXI3lyuQ2zvOcGUlszIaHZG6AK3M/edit#slide=id.gbea2b32e18_0_64) in deck include:

- **Minor tweaking of Problem Statement:** "But until now, it has been impossible to create a single authoritative source. It had always required a big effort of data entry on the part of each project and marketing by the registry owner."

- **Sug

[2021-03-06 01:36] VJ1285 commented on #75
@ExperimentsInHonesty - Seems like the new pdf is uploaded on the pdf page. I updated the pdf on 2/25 where I removed all the periods. Seems like everything is up to date now.

[2021-03-06 01:43] #75 closed

[2021-03-06 01:44] #37 closed

[2021-03-06 05:32] Olivia-Chiong commented on #138
Friday meeting notes:

- New Zoom protocols
- Problem, Solution, Impact Statements with SDGs for Deck Project Card
- Creating usability/preferential and a/b tests on usability hub
- Story points plugins with Chrome extension

[2021-03-06 05:32] #138 closed

[2021-03-06 05:44] Olivia-Chiong opened #171 "PM CoP Meeting Agenda - Week of Mar 8 2021"
### Overview
The agenda for this week's product management community of practice and weekly roll call for projects.

#### Agenda
- Discussion topic: essential marketing materials for your project
- #admin channel
- Zoom Guide #172
- Update topic tags for your repo: hack-for-la civictechindex
- If you have open roles on your team, please add them to the open roles board
- Confirm each CoP member ha

[2021-03-06 07:33] Olivia-Chiong opened #172 "Guide to using Zoom at Hack for LA"
### Overview
We need to create Zoom meeting protocols to ensure all meetings are safe from bombing.

### Action Items
- [x] Remove all Zoom links from GitHub
- [x] Create guide for Zoom meeting settings and include the following information
   - [x] Meetings should be set up with password and/or waiting room
   - [x] Select Only registered zoom users allowed in meetings
   - [x] For meetings that

[2021-03-06 09:31] Olivia-Chiong commented on #66
Project put on hold

[2021-03-06 09:32] Olivia-Chiong commented on #85
Project has been put on hold

[2021-03-06 18:42] peteplass commented on #81
@ExperimentsInHonesty Hi Bonnie! It should be this weekend. Two-Bit Circus asked me to help them out today, but I should still be able to have something for you by the end of the weekend.

[2021-03-06 20:43] henlatourrette commented on #53
Hi @Olivia-Chiong , actually I don't have access to its original folder so I cannot move the file. What I can do is to create a copy and put it into the Product Management Folder but I think it would not be the best option to have 2 different files. I see that @ExperimentsInHonesty is the owner. Anyway, I'll send a request on the Slack channel for admin stuff.

![image](https://user-images.githubu

[2021-03-09 00:12] Olivia-Chiong commented on #68
@shaswa any updates?

Progress:
Blocks:
Availability:
ETA:

[2021-03-09 00:12] peteplass commented on #81
@ExperimentsInHonesty I took a whole bunch of notes over the weekend and added them to the wiki. There is some info I'm not sure what to do with, but I've definitely plugged some gaps in what was missing. Let me know when you're available and I'll make the time. Sorry for the delay on this.

[2021-03-09 02:29] ggrrettcchhenn commented on #143
The Record Clearance Project:
**Problem:** Having a criminal record can be a barrier to getting a job, education, housing and more. While millions of convictions and arrests in CA can legally be cleared by filing a petition, this process is time-consuming and often requires legal help.

**Solution:** The Record Clearance Project has partnered with local expungement clinics and legal experts to bui

[2021-03-09 04:20] nagesh23nayak opened #173 "Experience Profile: [Nagesh Nayak]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-09 10:31] Olivia-Chiong commented on #147
@mariastudnicka I think you commented on the wrong issue. Can you please move your comment to #150  Thanks!

[2021-03-09 14:18] shaswa commented on #68
@Olivia-Chiong I should have had moved this to in review column.

Tagging @ExperimentsInHonesty as per comment above

[2021-03-09 18:19] mariastudnicka commented on #147
Sorry about that. Updating now.

[2021-03-09 18:22] mariastudnicka commented on #150
Comments at [page](https://docs.google.com/presentation/d/16ayq8ur_bLy-3bYtXI3lyuQ2zvOcGUlszIaHZG6AK3M/edit#slide=id.gbea2b32e18_0_64) in deck include:

Minor tweaking of Problem Statement: "But until now, it has been impossible to create a single authoritative source. It had always required a big effort of data entry on the part of each project and marketing by the registry owner."

Suggestion to

[2021-03-09 21:27] ktjnyc commented on #130
Linked in user stories and updated project email

[2021-03-09 23:59] ggrrettcchhenn commented on #170
The Record Clearance Project:
**Problem:** Having a criminal record can be a barrier to getting a job, education, housing and more. While millions of convictions and arrests in CA can legally be cleared by filing a petition, this process is time-consuming and often requires legal help.

**Solution:** The Record Clearance Project has partnered with local expungement clinics and legal experts to bui

[2021-03-09 23:59] erigilg commented on #145
Already added the comments in the corresponding slide for problem, solution and impact.

Posting them here as well if needed:
Problem: The [HEART](https://communityjusticeinitiative.wordpress.com/heart/) program, which helps homeless people resolve some infractions with community hours rather than paying fees, didn't have an efficient way for tracking the progress and status of their participants.

[2021-03-10 00:04] erigilg opened #174 "Create a Guide: Usability testing vs A/B testing"
### Overview
We need to create a guide to make clear the difference between usability testing vs A/B testing so that the UX team members know when to use each.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a

[2021-03-10 00:27] erigilg opened #175 "Create a Guide/Template: Create/manage the Github repository for your project"
### Overview
We need to create a guide to making and managing your Github repository so that every project is organized in a similar way.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, eithe

[2021-03-10 00:30] erigilg opened #176 "Create a Guide/Template: Github project board"
### Overview
We need to create a guide to making a Github project board for your projects so that all projects follow a similar structure.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, eith

[2021-03-10 00:32] erigilg opened #177 "Create a Guide/Template: Issue templates in Github"
### Overview
We need to create a guide to making issue templates in Github so that teams know how to do this and eventually save some time when generating issues and sharing a similar structure.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: D

[2021-03-10 00:35] erigilg opened #178 "Create a Guide/Template: Using 1password for your project"
### Overview
We need to create a guide for using 1password for your project so that all passwords are safely stored and team members can access the existing project platforms.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" labe

[2021-03-10 00:38] erigilg opened #179 "Create a Guide/Template: Create an email for your project"
### Overview
We need to create a guide to creating an email for your project so that teams know how to get a Hack for LA email and a gmail for its different purposes.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] C

[2021-03-10 00:45] erigilg opened #181 "Create a Guide/Template: OKRs and WBS for your project"
### Overview
We need to create a guide to establishing OKRs and WBS for your project so that each teams knows how to define their objectives, key results and work breakdown structure. This will make the project management smoother.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gath

[2021-03-10 00:46] erigilg opened #182 "Create a Guide/Template: Creating a Figma account for your project"
### Overview
We need to create a guide to creating a Figma account for your project so that every project knows how to operate their Figma account and how to integrate different team members in a free account.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and

[2021-03-10 00:48] erigilg opened #183 "Create a Guide/Template: Presentation deck for your project"
### Overview
We need to create a guide to making a presentation deck for your project so that the presentation follows brand guidelines and portrays the same look and feel of HfLa and the project.

### Action Items
- [x] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [x] Once done, remove the "TG: Gather Examples" label and add the "TG:

[2021-03-10 00:50] erigilg opened #184 "Create a Guide/Template: Website analytics setup for your project"
### Overview
We need to create a guide to setting up website analytics for your project so that teams can measure results.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in markdown f

[2021-03-10 01:30] nagesh23nayak commented on #133
@ExperimentsInHonesty I need access

[2021-03-10 02:08] suvyrao commented on #147
Problem Statement
Brigades and brigade leaders interested to provide civic tech capabilities to local govt will benefit from processes and best practices that make it easy to start up and manage projects and people and platforms
 Solution Statement
 Impact/Intended Impact Statement

[2021-03-10 03:36] nagesh23nayak commented on #133
I am in

[2021-03-10 03:39] sharadgaurav7 opened #185 "Experience Profile: Sharad Gaurav"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 03:40] dsnye opened #186 "Experience Profile: Derek S Nye"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 03:40] kstur opened #187 "Experience Profile: Kathy Sturdevant"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 03:42] roundhousetally opened #188 "Experience Profile: Tahlia Roper"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 03:43] PLoiya opened #189 "Experience Profile: Puneet"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 03:43] kkhandavilli opened #190 "Experience Profile: Krishna Khandavilli"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 03:45] sanober-pm opened #191 "Experience Profile: [Sanober]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 03:47] smritigupta261 opened #192 "Experience Profile: Smriti"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 04:00] Auduhenry opened #193 "Experience Profile: [Audu Henry]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-10 09:16] Olivia-Chiong opened #194 "Deck Profile Card: Engage"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
[Current Profile Card](https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--QYiqs6

[2021-03-10 09:17] Olivia-Chiong opened #195 "Deck Profile Card: Lucky Parking"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
[Current Profile Card](https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--QYiqs6

[2021-03-10 09:20] Olivia-Chiong opened #196 "Deck Profile Card: Open Community Survey"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
[Current Deck Profile](https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--QYiqs6

[2021-03-10 09:38] Olivia-Chiong opened #197 "Deck Profile Card: Green Earth OS"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
[Current Deck Profile](https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--QYiqs6

[2021-03-10 09:40] Olivia-Chiong opened #198 "Deck Profile Card: LA TDM"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
[Current Deck Profile Card](https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--Q

[2021-03-10 10:24] Olivia-Chiong opened #199 "Deck Profile Card: Undebate"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[LA City SDGs](https://sdg.lamayor.org/)
[Current Deck Profile Card](https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--Q

[2021-03-10 10:25] Olivia-Chiong opened #200 "Deck Profile Card: Jobs for Hope"
### Overview
We need to create a project deck profile card for Hack for LA presentation decks.

### Action Items
- [ ] Problem Statement
- [ ] Solution Statement
- [ ] Impact/Intended Impact Statement
- [ ] Sustainability Development Goals

### Resources
[Current Deck Profile](https://docs.google.com/presentation/d/12YxUxDE3yCSws4k6XxRjBqKN36K8QHGuH--QYiqs6rM/edit#slide=id.gc5eba6fabf_0_2283)
[LA

[2021-03-10 11:31] #112 closed

[2021-03-10 18:53] ExperimentsInHonesty opened #201 "Create a guide: Displaying your Civic Tech - Open Source - Volunteer Experience on LinkedIn"
### Overview
We need a guide for people at Hack for LA that need to work on their linkedin so that they can get jobs.

### Action Items

- [ ] PM and Bonnie
   - [ ] Gather Requirements
      - [ ] Identify people by these roles
      - [ ] Development (12)
      - [ ] UI/UX (15)
      - [ ] Business Analyst (1)
      - [ ] Ops (2)
      - [ ] SEO/Marketing (4)
      - [ ] Content (6)
      - [ ]