[2021-03-10 18:58] tarang100 commented on #202
Bonnie says we need to create integrated tracking between the guides that are on the HfLA website and the guides that are on the Communities of Practice. Moving this issue here to speed that up.

[2021-03-10 20:32] tarang100 opened #203 "Update Project Profile: Brigade Organizers Playbook"
### Overview
As a product manager of Brigade Organizers Playbook I want my project's details to be up to date on the HackforLA website

### Project card
https://github.com/hackforla/website/tree/gh-pages/_projects/brigade-organizers-playbook.md

### Action Items

- [ ] Brigade Organizers Playbook Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if not, please

[2021-03-11 00:42] gregpawin commented on #195
Sustainability Development Goals is fine

New problem statement:
For a car-centric city like Los Angeles, parking regulations are a major concern to those who have to use street parking during the course of business or because off-street parking is not provided at their residence. For these reasons, the effect of parking citations is unevenly felt across different socio-economic strata of the comm

[2021-03-11 04:12] ag2463 commented on #203
name: Aleiya Gafar
    role: Product Manager
    links:
      slack: 'https://codeforamerica.slack.com/team/U01QZF4NUQ0'
      github: 'https://github.com/ag2463'
      picture: https://avatars.githubusercontent.com/ag2463

[2021-03-11 04:57] ExperimentsInHonesty commented on #88
Hi Maria,  Yes I think you have the general idea.  But we would like to communicate the actual impact we are having.. so more rings spreading out and some kind of differentiation between the pin and the rings.
https://www.123rf.com/photo_57019831_ecuador-earthquake-with-map-pin-point-damage-and-loss-.html

[2021-03-11 05:24] Rabia77 opened #204 "Experience Profile: Rabia Shaikh"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-11 20:44] myrandi opened #205 "Create a Guide/Template: Trauma-informed Facilitation for your project"
### Overview
We need to create a trauma-informed facilitation guide for product managers and leaders order to be able to create spaces which are open for participants to engage with and learn about sensitive or difficult topics, but also prepare facilitators to be aware of signs of participants being triggered and be able to respond appropriately.

### Action Items
- [ ] Gather examples of how oth

[2021-03-11 21:14] myrandi commented on #205
Some resources added

[2021-03-12 17:10] pkfynn commented on #203
Name: Kwesi Fynn

Role: Product Manager

GitHub Handle: @pkfynn

[2021-03-12 18:17] sharadgaurav7 commented on #133
Have Access

[2021-03-12 18:17] Andan-Eddy commented on #133
have access

[2021-03-12 19:11] Olivia-Chiong opened #206 "Project Inventory: BallotNav"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-03-12 19:12] Olivia-Chiong commented on #206
Refer to https://github.com/hackforla/product-management/issues/90#issuecomment-774725376 for current project leadership

[2021-03-12 19:21] myrandi commented on #133
have access

[2021-03-12 21:11] ljhsu10 opened #207 "Experience Profile: Leland Hsu"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-13 03:36] pawan92 opened #208 "Experience Profile: Pawan Murthy"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-13 19:52] henlatourrette commented on #53
The Heart One Sheet file was moved to the correct folder [here](https://drive.google.com/drive/u/0/folders/1jEF6AwIHi5-82pdx-JsHoBuvxczw5Zyy).

[2021-03-14 23:41] pras4u commented on #18
@Olivia-Chiong @superbunker Can you please confirm scope of this issue. Is it for the 311 One Sheet ? or to update the Org Structure on the 311-data project card on H4LA site (Product Managers are missing on the Project Card for some reason & Bonnie pointed out to get that updated) ?

[2021-03-14 23:46] pras4u commented on #18
@Olivia-Chiong Please find link below for the latest 1 sheet for 311-data. This is the city facing version. @superbunker Hope you can access through Olivia
https://docs.google.com/document/d/1vC9TH4VAX20IKFghlUkZfsurbA4QOHyRHBYp5uRzJKA/edit

[2021-03-15 00:07] Olivia-Chiong opened #209 "Update Project Profile: 311"
### Overview
As a product manager of 311 I want my project's details to be up to date on the HackforLA website

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects_

### Action Items

- [ ] 311 Team Leadership
   - [ ] Please check off everything that is ok the way that it is, and if

[2021-03-15 00:08] Olivia-Chiong commented on #18
@pras4u this is not for the project card. This is the one sheet for display on Hack for LA website and for organization purposes.

The issue you are looking for is #209

[2021-03-15 00:20] Olivia-Chiong commented on #171
During discussion about marketing, the community agreed each project should have a definition of success and consider the analytics to measure it.

For marketing, we want to have a set of marketing essentials and a list of good to haves.

[2021-03-15 00:21] #171 closed

[2021-03-15 00:24] Olivia-Chiong opened #210 "PM CoP Meeting Agenda 2021"
### Overview
This issue tracks the agenda for the product management community of practice and weekly roll call for projects.

Please check in on the [Roll Call Spreadsheet](https://docs.google.com/spreadsheets/d/1hsV9S6AEDS7MeN9j4qR-koMk9wRXVqGiiAeCRkvowJI/edit?pli=1#gid=389106417)

### Weekly Agenda
[Week of Feb 22 2021](https://github.com/hackforla/product-management/issues/135)
[Week of Mar 01

[2021-03-15 02:43] superbunker commented on #18
I'm getting "access denied" on that link. I might need access to the 311-data google docs?

[2021-03-15 02:49] Olivia-Chiong commented on #18
I've made a copy [here](https://docs.google.com/document/d/1D-CoQMvdRP9IpHRLF3do8r4K-k6E3H5AKEaS5eIFolQ/edit).

To be clear, this copy is a customer facing one sheet. We need another one for organizational use.

[2021-03-15 17:21] Olivia-Chiong commented on #125
I think it would be good to test this out on a project. @NivenPrasad Can we try implementing this on 100A?

[2021-03-15 17:22] Olivia-Chiong commented on #202
@tarang100 we do have a template/guides tracking in the PM CoP. It's here #128

[2021-03-15 17:25] Olivia-Chiong commented on #110
@mariastudnicka Can you please update

Progress:
Blocks:
Availability:
ETA:

[2021-03-15 17:26] Olivia-Chiong commented on #80
@sharonethomas can you please update

Progress:
Blocks:
Availability:
ETA:

[2021-03-15 17:29] Olivia-Chiong commented on #70
We need to convert this guide into the new template #123

[2021-03-15 17:31] Olivia-Chiong commented on #33
Links have been fixed.

[2021-03-15 17:32] Olivia-Chiong commented on #49
@ag2463 do you have any updates?

Progress:
Blocks:
Availability:
ETA:

[2021-03-15 17:32] Olivia-Chiong commented on #92
@alexilee Do you have any updates?

Progress:
Blocks:
Availability:
ETA:

[2021-03-15 17:35] Olivia-Chiong commented on #142
Hi @ahdithebomb and @nielseny do you have any updates on this?

Progress:
Blocks:
Availability:
ETA:

[2021-03-15 17:36] Olivia-Chiong commented on #88
Hi @mariastudnicka do you have any updates on this?

Progress:
Blocks:
Availability:
ETA:

[2021-03-15 17:38] Olivia-Chiong commented on #21
@ExperimentsInHonesty please review the links above this comment.

[2021-03-15 18:06] alexilee commented on #92
Progress:
**Finished Sections**
- Who is this guide for?
- What consists of a typical product manager interview?
- Before applying
- How to apply
- Interview prep
**Need to Finish**
- Offer
- Resources
Blocks: None
Availability: weekdays
ETA: Will likely finish draft of guide by Tuesday or Friday PM meeting and ready for peer review.

[2021-03-15 18:23] mariastudnicka commented on #88
@olivia So sorry, I update this Saturday when I get back.

[2021-03-15 19:10] ExperimentsInHonesty commented on #123
@rmcrowell sorry for the delay in getting back to you

**Formatting Issues:**
See [slack guide](https://docs.google.com/document/d/1T-h3YJ8Pp4hsfq9ouRHRnwrrHROSz0-kQz5O9VTE62U/edit#) for examples of how it should look
- [ ] Logo and Title Format
- [ ] (2nd page onward) header

**Examples:**
- [ ] Please use examples everywhere.  There are some people who will not know what you are talking about un

[2021-03-15 23:29] sayalikotkar opened #211 "Create a Guide/Template: Running a Usabilityhub.com survey for your project"
### Overview
We need to create a guide to making a survey using Usability Hub so that project teams can leverage the surveys to get opinions/feedback on any subject from Hack for LA community members.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the

[2021-03-15 23:37] sharonethomas commented on #80
@Olivia-Chiong

Progress: Had conversation with Stephanie and created a rough draft of the overview and questions to ask
Blocks: No blocks. Just need what I have currently to be reviewed and any suggestions on how to make it better
Availability: If this is my availability, I will be at the Tuesday PM meeting
ETA:

[Ecosystem Map Guide.docx](https://github.com/hackforla/product-management/files/614

[2021-03-15 23:43] sayalikotkar commented on #128
I created a new issue - #211

[2021-03-16 04:05] Olivia-Chiong commented on #210
Agenda for Week of Mar 15 2021

- Discussion topic: Hack for LA PM pain points and brainstorming solutions for it.
- Please use #admin channel on Slack for any admin requests such as adding someone to repo, 1Password, etc
- Please read the Zoom Guide #172 and ensure best practices are used for your meetings
- Update topic tags for your repository to include `hack-for-la` and `civictechindex`
- If

[2021-03-16 13:07] pkfynn commented on #203
Image for Reem Mehdoui isn't showing - is he/she still on the project?

[2021-03-16 17:13] Rabia77 commented on #206
I did find the links to the Team Roster and Google Drive but I was denied access. I have pasted the links anyway. Please advise.

[2021-03-16 17:17] Rabia77 commented on #206
On the github repository:
5. Add yourself to the Team Roster. Then, Slack our PM with "Added to Roster".
7. Read project details and review our Project Management Board
The links to both Team Roster and Project Management Board lead to the Volunteer Signup Page.
Needs to be fixed?

[2021-03-16 18:23] ag2463 opened #212 "Validate and Update UX role descriptions"
### Overview
We need to Validate/update current UX role descriptions and create new ones as needed. We want them to match role descriptions universally used on career/job boards.

### Action Items

- [ ] Review current Roles/Descriptions
- [ ] Research/lookup roles on career websites
- [ ] Update existing role descriptions
- [ ] Add new roles

### Resources/Instructions
Here is where we have the j

[2021-03-16 18:25] ag2463 commented on #212
For context - Bonnie posted this in the UX/UI slack channel:

Bonnie  1:40 PM
@Andre Oosthuizen meet @Aleiya Gafar.  She is working on the BOP project as a PM and we were hoping that you might be able to lend a hand on a specific issue.  We need to figure out if we have the right names/descriptions/responsibilities  for all the UX roles we are recruiting for across projects.  Here is the list of r

[2021-03-16 21:56] erigilg commented on #127
This is the first draft of the [one sheet](https://docs.google.com/document/d/1ibYpIyshRo5VteE9vQYzjLDX4PKBURNYqdXITSkw6Hk/edit#heading=h.d4rcuyaxhqts), some info is still missing and before submitting it to review could you @ktjnyc please check that the info is correct?

[2021-03-16 23:26] alexilee commented on #92
Draft is done and ready for PM CoP review.

[2021-03-17 01:11] pawan92 commented on #133
Pawan Murthy, @pawan92 Im in!

[2021-03-17 01:15] dsnye commented on #133
Derek S Nye,  @dsnye I'm in!

[2021-03-17 01:35] sharonethomas commented on #80
@Olivia-Chiong updated the guide with a screenshot.
[Ecosystem Map Guide.docx](https://github.com/hackforla/product-management/files/6153109/Ecosystem.Map.Guide.docx)

[2021-03-17 01:46] Olivia-Chiong commented on #80
@sharonethomas Jenny is leaving Food Oasis at the end of this month. I would suggest you quickly meet with her before the end of March. She has availability on Mon-Fri from 8 am to 9 am. Let me know when you would like me to book a time with her.

[2021-03-17 02:10] sharonethomas commented on #80
@Olivia-Chiong I can do this Friday March 3/19 at 8am PST (10 am CST)
cc @sayalikotkar @ag2463

[2021-03-17 02:19] Olivia-Chiong opened #213 "Project Inventory: VRMS"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-03-17 02:21] Olivia-Chiong opened #214 "Project Inventory: 311"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-03-17 03:03] connie-yu-dotcom opened #215 "Experience Profile: Connie Yu"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-17 03:04] connie-yu-dotcom commented on #215
I'm new to HFLA so I cannot add any links at this time.

[2021-03-17 05:24] Civic-Opportunity-Project opened #216 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1WFiWycdt_i3Oi11YFld5k-IBMpnOmJmdmOaZvLIvBsk/edit)

- [ ] Review Value in column D (Value in column C) in Row 1
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-03-17 05:27] rjdoria commented on #216
Zapier test successful

[2021-03-17 05:27] #216 closed

[2021-03-17 05:31] Civic-Opportunity-Project opened #217 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1WFiWycdt_i3Oi11YFld5k-IBMpnOmJmdmOaZvLIvBsk/edit)

- [ ] Review (The channels below have been reviewed) (Slack Workspace) in Row 2
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-03-17 05:33] rjdoria commented on #217
Zapier test complete. Pipeline document now live.

[2021-03-17 14:27] ktjnyc commented on #130
Progress: Linked in issues for marketing assets and objectives, roadmap and one sheet.  Story point labels set up but many conflicting so we need to clean up and simplify.
Blocks: So many documents to sift through!
Availability: variable
ETA: Can make some additional progress by next meeting

[2021-03-17 21:44] ktjnyc commented on #92
HI Alex, I updated the image on header to match the name of the guide and left a comment or two in the interview prep section.  I haven't done PM interviews before but hear they are much different than a typical behavioral interview so I think it would be helpful to add other prep/examples specific to product

[2021-03-17 23:13] Olivia-Chiong commented on #80
@sharonethomas I took a look at the guide and I don't think the questions you have listed there are specific enough to the Food Oasis mapping we had discussed. I think we need to have a meeting before you meet with Jenny. Please reach out on Slack to set this up.

[2021-03-17 23:30] BryonPm commented on #194
I revised the Deck Profile Card for clarity and concision with guidance from the new One Sheet.
**Resources**
[Deck Profile Card Draft 1](https://docs.google.com/presentation/d/1i6o6vCUcW0nbw8iqht4LDya4QRphjlmA_MRkA9w2-N8/edit#slide=id.gc5eba6fabf_0_561)

[2021-03-18 02:51] ebele-oputa opened #218 "Experience Profile: Ebele"
### Overview
A collection of my achievements at HackForLA.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-pages/github-issues)]()
   - [ ] [Prioritizing the backlog]()
   - [ ] [Storypoints]()
- [ ] [R

[2021-03-18 03:13] ahdithebomb commented on #142
@Olivia-Chiong
Progress: Gathered survey responses from additional stakeholders
Blocks: Need to pivot article strategy based on survey responses.
Availability: Next Weekend
ETA: TBD

[2021-03-18 05:08] rjdoria commented on #217
Zapier test complete. Pipeline doc now live.

[2021-03-18 05:08] #217 closed

[2021-03-18 09:24] rmcrowell commented on #123
I'm making these updates. I'm delayed right now because I just figured out how to insert clear drawings into the document, and will add steps to explain that as well. (linked image is the difference between the unedited image, the Google drawing embedded directly into the document, and the clearer image after a few steps.)
![image illustration](https://user-images.githubusercontent.com/79116965/11

[2021-03-18 16:14] alexilee commented on #92
@ktjnyc Appreciate the changes and comments. I will take a look!

[2021-03-18 17:44] myrandi commented on #205
Additional resources: https://docs.google.com/document/d/1mdj3lna0KFi67al2MX3zdjpZ-bAEFRT-SCwsh7AvzeM/edit

[2021-03-18 19:47] ggrrettcchhenn commented on #133
Gretchen Howard, @ggrrettcchhenn, I'm in!

[2021-03-19 01:30] pras4u commented on #18
@Olivia-Chiong Hope this one works https://docs.google.com/document/d/1WgTN4kTT2LNoNxq7AHp5tOl9RhMIBTjqYonPzEXPmkE/edit

[2021-03-19 07:17] rmcrowell commented on #123
This document is updated and ready for review.

Document can be found at https://docs.google.com/document/d/1-8gmeC-wnfM8C8fVvmTP1BLA2WfNjKH_XJrHB1OAV6Q/edit?usp=sharing

[2021-03-19 15:03] sharonethomas commented on #80
@Olivia-Chiong That was the guide/questions list I put together with Stephanie on general questions you would ask for future ecosystems. I worked with @ExperimentsInHonesty yesterday to write the specific questions to ask Jenny! I have uploaded both into the Product Management Guides google drive.
[Ecosystem Map Guide Interview](https://docs.google.com/document/d/1yWuV6VTLooTqHpw_HYT_jNclh8Igj3KP0

[2021-03-19 16:58] ExMember commented on #133
Damien Burke, @ExMember, I'm in.

[2021-03-19 17:54] kcoronel commented on #133
Karen Coronel, @kcoronel, I'm in!

[2021-03-19 18:16] Olivia-Chiong opened #219 "Project Inventory: Lucky Parking"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-03-19 18:23] Olivia-Chiong opened #220 "Project Inventory: Civic Tech Index"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-03-19 18:27] Olivia-Chiong opened #221 "Project Inventory: Youth Justice Nav"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-03-19 18:28] ExperimentsInHonesty commented on #123
@ktjnyc is going to take a look to see if the template encompases everything she would have needed if there was a template before she started.

@Olivia-Chiong we should assign anyone who is done with a guide draft now, to review this template and see if same as above.

[2021-03-19 18:29] ExperimentsInHonesty commented on #123
@rmcrowell the guide is missing a WHEN section.  See the [slack guide](https://docs.google.com/document/d/1T-h3YJ8Pp4hsfq9ouRHRnwrrHROSz0-kQz5O9VTE62U/edit) for an example

[2021-03-19 20:42] Olivia-Chiong opened #222 "Create a Guide/Template for practical applications for Code of Conduct"
### Overview
We need to create a guide to practical applications for Code of Conduct so that we know how to manage and escalate any situations as appropriate.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a

[2021-03-19 22:27] nagesh23nayak commented on #213
Had a meeting with @khushbooshah-PM
**Date: 3/19/21 Time 3:00 PM PST**

Open Questions
Is Wireframe same as Figma?
What exactly is Presentation Deck? What is it related to? Is it related to any subject or context since Team has many Presentation decks
Ux Research > Included 'User Persona' Research document. Need confirmation
For OKR and WBS included MVP Requirement document. Need confirmation

[2021-03-20 22:47] peteplass commented on #81
@ExperimentsInHonesty I am around today if you'd like to review this, otherwise we can schedule for this week.

[2021-03-21 01:24] nagesh23nayak commented on #92
Hi Alex, This is a good document. I made some comments. Please see if they could be incorporated.

[2021-03-21 15:03] ialv44 opened #223 "Experience Profile: [Ishwari Alve]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-23 01:22] Andan-Eddy opened #224 "Partner Outreach Email Template"
### Overview
We need to create a guide to making email so that we can create new organizational partnerships.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in markdown format in this

[2021-03-23 02:15] sv4 commented on #133
Swetha Vadlamudi, @sv4, I need access

[2021-03-23 02:17] sv4 commented on #133
Swetha Vadlamudi, @sv4, I need access.

[2021-03-23 04:42] DrIffathsultana commented on #220
@connie-yu-dotcom , Hi Connie, Thanks for reaching out . Here is the link to Figma CTI-https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=4225%3A16898.  If you are added as member then it would show up, otherwise just copy and paste this link.

[2021-03-23 04:45] DrIffathsultana commented on #220
@connie-yu-dotcom
1. Issue Template- https://github.com/hackforla/product-management/issues/new/choose
2. Presenation deck- https://docs.google.com/presentation/d/1b1jSYubCOkwvHwv8woxVfT33uCevjYQjrPrtoReXxIY/edit#slide=id.p

[2021-03-23 13:20] ktjnyc commented on #127
@erigilg Erika, I reviewed and made some comments.

[2021-03-23 18:26] Olivia-Chiong commented on #210
Agenda for Week of Mar 22 2021

- Discussion topic: Developing Writing Skills as a Product Manager
- Call for volunteers to present future weekly topics (Great opportunity to practice presentation skills)
- Please use #admin channel on Slack for any admin requests such as adding someone to repo, 1Password, etc
- Please read the Zoom Guide #172 and ensure best practices are used for your meetings
-

[2021-03-23 19:06] mariastudnicka commented on #110
Sorry no progress. I can have a draft of this at the end of the week.

[2021-03-23 20:56] Olivia-Chiong commented on #123
@erigilg Since you made the tracker for the guides, can you review this template Rose has come up with and provide any suggestions/comments? Thanks!

[2021-03-23 22:19] mariastudnicka commented on #88
@ExperimentsInHonesty I tried to match the image you included, but it looks like that was done in Photoshop. I did 2 versions in Figma the best I could to match it.
![LayerBlur](https://user-images.githubusercontent.com/75585533/112226216-1d4b9480-8beb-11eb-8c40-07da8bd22269.png)
![Drop Shadow](https://user-images.githubusercontent.com/75585533/112226227-1fadee80-8beb-11eb-94b1-7a09b48087dc.png)

[2021-03-24 00:01] #212 closed

[2021-03-24 00:50] superbunker opened #225 "Experience Profile: Jason Brown"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-03-24 01:28] superbunker commented on #18
I'll work on reformatting this so it matches the other completed guides
https://github.com/hackforla/product-management/tree/master/project-one-sheets

[2021-03-24 01:32] nagesh23nayak commented on #213
@Olivia-Chiong Need review

[2021-03-24 02:15] Olivia-Chiong commented on #213
Reviewed in meeting on 3/23. Nagesh will continue to update the items.

[2021-03-24 02:21] Olivia-Chiong opened #226 "Project Inventory: Civic Opportunity"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-03-24 02:24] nagesh23nayak commented on #213
Updated 3/23

[2021-03-24 02:57] Olivia-Chiong opened #227 "Create a Guide/Template: How to assign and work on an issue"
### Overview
We need to create a guide on how to assign and work on an issue so that new people know how to self assign and work on issues.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, eit

[2021-03-24 03:50] DrIffathsultana commented on #220
@connie-yu-dotcom Please use the Link to [ CTI Project Board ](https://drive.google.com/drive/folders/1aPv0s5Y0nGBSffTzpK5yV05nk9jzhiV3), we have add all the links in reference column . Please let me know if you have further questions.

[2021-03-24 06:25] superbunker commented on #18
Hi @captain-nimo. Are you or @pras4u able to make it to any of the Product Management community of practice meetings? If not, could we schedule a time to talk about this?

[2021-03-24 08:18] Olivia-Chiong commented on #227
[Draft Guide](https://docs.google.com/document/d/15KE8jVvp2ZhmkX7MY7Rethoye0LF5H0Gb8F29lrqeG0/edit#) is ready for peer review

[2021-03-24 17:31] ExperimentsInHonesty opened #228 "Create a Guide/Template: for using <details> tag in an issue"
### Overview
We need to create a guide to using `<details>` tag so that issues can be more consise.

### Action Items
- [ ]
- [ ] Update issue #128 with the name of item you are working
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ]

[2021-03-24 17:36] ExperimentsInHonesty commented on #128
@Olivia-Chiong I have created this new issue, can you add it to the tracker?  https://github.com/hackforla/product-management/issues/228

[2021-03-24 18:20] ktjnyc commented on #123
I left a few comments in the document as well, but some general feedback:
- It would have been good when I was creating the guide to know what sections I needed to address (we could standardize to include What/When to Use/Why/FAQs/Glossary of terms
- It would have been good to have had a shell document with all the styling available to create the copy from
- Some guides have table of contents and

[2021-03-24 19:33] captain-nimo commented on #18
Hi @superbunker, sorry I couldn't attend last `Community Practice` meeting. I'll be there in next Tuesday's meeting. If you want to talk before that, please slack me or @pras4u.

[2021-03-24 21:45] akibrhast commented on #228
# Drop Down Template Syntax
### IMPORTANT: THE EMPTY LINE AFTER THE SUMMARY TAG MUST EXIST FOR IMAGES TO RENDER PROPERLY
[code]

[2021-03-24 22:34] Olivia-Chiong commented on #213
@nagesh23nayak the links for the issues you created on the marketing board should go into the main bullet point, not the sub bullet link.

[2021-03-25 00:14] connie-yu-dotcom commented on #220
@DrIffathsultana @mariastudnicka

For UI/UX I don't see templates for the following, nor did I see them in any column in the Kanban project board. Can I assume we have no plans to add the following?
Competitive analysis
Communication Style Guide (including documents, spreadsheets and forms)
User Research Guide/Template
Website analytics software setup
Miro - maybe not used at Civic Tech Index?

1P

[2021-03-25 02:23] nagesh23nayak commented on #213
Moved the link to main bullet point.

[2021-03-25 17:28] erigilg commented on #128
@ExperimentsInHonesty guide added to the tracker 👍

[2021-03-25 18:06] erigilg commented on #123
Added my comments to the doc but in general:
1. It would be clearer if the beginning of the guide for guides included the purpose of guides and in this case what this specific guide is for.
2. Agree with Katie on adding sections based on other great guides that have been made.
3. It would be helpful to have a general overview of what steps should be taken when making a guide and then deep dive int

[2021-03-25 18:54] erigilg commented on #127
@ktjnyc I finished updating the one sheet taking into account your comments.

I'll submit it to review, the only thing pending is the right logo to use. I used the one that's used in food oasis site but @ExperimentsInHonesty mentioned something about a new one. Is this one the one?
![image](https://user-images.githubusercontent.com/20444275/112527910-c4057180-8d60-11eb-829a-8057e4ac4a07.png)

If n

[2021-03-26 00:21] Olivia-Chiong commented on #123
@tan-zhou and @daniellex0 this is the guide/template for creating guides. It's a WIP, but would love to have your input. Thanks!

[2021-03-26 14:09] kcoronel commented on #222
@Olivia-Chiong I went through the projects and I didn't see any examples that I can add onto here, should I perform a quick google search or move forward?

[2021-03-26 16:03] ExperimentsInHonesty commented on #74
@ktjnyc @Olivia-Chiong I left notes on this doc, mostly for Katie, but one for Olivia.  Also, I noticed that it has a last updated date.  I think we should add that to the template.

[2021-03-26 17:56] ktjnyc commented on #128
Suggestions for additional guides:
How to update VRMS (and what it is)
How to update items on the website (meeting times, etc)

[2021-03-26 18:01] mariastudnicka commented on #220
Hi @connie-yu-dotcom. I"m wondering if it's best for us to meet via Slack phone so I can help you with info you need. Are you available later today or tomorrow for a quick call?

[2021-03-26 18:07] Olivia-Chiong commented on #206
For one sheet, please use PDF @Rabia77

[2021-03-26 18:07] myrandi commented on #227
@Olivia-Chiong  added one comment under section on labels

[2021-03-26 18:20] ktjnyc commented on #127
Created an [issue on Food Oasis repo](https://github.com/hackforla/food-oasis/issues/917) to have the UI/UX team sort through the logos -

[2021-03-26 18:26] Olivia-Chiong commented on #222
move forward to the next steps please! @kcoronel

[2021-03-26 19:47] Olivia-Chiong opened #229 "Recruiting for Product Manager"
### Overview
I'm looking for a Product Manager for a project that's currently brewing.

### Action Items
The requirements are:
- You have gone through the product management onboarding and completed at least one issue on the product management repository
- You have between 10 - 15 hours of availability weekly.
- You must be available to meet Mondays 4-5 pm and Thursdays 2:30-3:30 pm PST.
- The foc

[2021-03-26 21:00] henlatourrette commented on #134
Progress: Added all the links available by now. Except for a few that need to ask for some clarifications.

Blockers:  As for the Storypoints, I need to clarify with the Product team whether there's a Google Sheets/Google Docs version of the story points written on the Miro board - or are they already detailed on the User Journey document?

Availability: Up to 3 hours by the coming week.

ETA: Ong

[2021-03-26 22:22] ExperimentsInHonesty opened #230 "All issues need to be assigned to a board for Kanban to work"
### Overview
We also need to make sure that all issues created get assigned to the correct project board and any other action that needs to happen at creation so that we can track things properly.

### Action Items on issues not on the project board
- [ ] Run this url which shows [items not on any project board](https://github.com/hackforla/product-management/issues?q=is%3Aissue+is%3Aopen+no%3Apro

[2021-03-26 22:31] ExperimentsInHonesty opened #231 "Cleanup meeting with Olivia and Bonnie"
### Overview
We need to make sure that all the issues that are not in our neat buckets are still getting worked on and closed out.

### Action Items on Unbucketed items
- [ ] Review if there is anything that needs to be added to this url
   - [ ] [URL that excludes all the issues with a current feature label](https://github.com/hackforla/product-management/issues?q=is%3Aopen+is%3Aissue+-label%3A%2

[2021-03-26 22:39] ExperimentsInHonesty commented on #223
@ialv44 Please add this issue to the Project board `05 Product Manager Experience Profile`

[2021-03-26 22:40] ExperimentsInHonesty commented on #204
@Rabia77 Please add this issue to the Project board `05 Product Manager Experience Profile`

[2021-03-26 22:41] ExperimentsInHonesty commented on #139
@erigilg Please add this issue to the Project board `05 Product Manager Experience Profile`

[2021-03-26 22:42] ExperimentsInHonesty commented on #139
opps, and I forgot to say, and assign it to yourself

[2021-03-26 22:43] ExperimentsInHonesty commented on #119
@ibrahimakintundek Please
- [ ] add this issue to the Project board `05 Product Manager Experience Profile`
- [ ] assign it to yourself
- [ ] edit the title so it does not have the brackets `[ ]` around your name

[2021-03-26 22:45] ExperimentsInHonesty commented on #106
@allysmatrix Please
- [ ] add this issue to the Project board `05 Product Manager Experience Profile`
- [ ] assign it to yourself

[2021-03-26 22:45] ExperimentsInHonesty commented on #223
I forgot to also ask you to
 - [ ] assign it to yourself

[2021-03-26 22:46] ExperimentsInHonesty commented on #204
I also forgot to ask you to
- [ ] assign it to yourself

[2021-03-26 22:48] ExperimentsInHonesty commented on #149
@abbyhipp Please add this issue to the Project board `02 Project Updates for Website and Org`

[2021-03-26 22:49] ExperimentsInHonesty commented on #146
@peteplass Please
- [ ] add this issue to the Project board `02 Project Updates for Website and Org`
- [ ] assign this to yourself

[2021-03-26 22:55] ExperimentsInHonesty commented on #230
Ran the cleanup on : [2021-03-26]
- [ ] Run this url which shows [items not on any project board](https://github.com/hackforla/product-management/issues?q=is%3Aissue+is%3Aopen+no%3Aproject)
- [ ] Check against last weeks issues to see if our messaging is making a difference
- [ ] Posted something on each of the issues so that the person whose issue it is will add it to the correct location and sel

[2021-03-26 23:13] ExperimentsInHonesty opened #232 "PM CoP PRE Meeting Agenda 2021"
### Overview
This issue tracks the **PRE meeting** agenda for the product management community of practice

### Action Items
- [ ] Add next meetings items below in a comment
- [ ] Copy in the Recurring Items

### Weekly Agendas
- [Week of Mar 29 2021](https://github.com/hackforla/product-management/issues/232#issuecomment-808583648)

### Recurring Items
- [ ] [Cleanup review](https://github.com/ha

[2021-03-26 23:19] ExperimentsInHonesty commented on #232
Pre Meeting Agenda for Week of Mar 29 2021
Unique Agenda Items
- [ ] Onetime cleanup of [Old and new Agenda Issues](https://github.com/hackforla/product-management/issues?q=is%3Aopen+is%3Aissue+label%3A%22feature%3A+agenda%22)

Ongoing Agenda Items
- [ ] [Cleanup review](https://github.com/hackforla/product-management/issues/231)
- [ ] [Check the Issues tab for issues not assigned to a project boa

[2021-03-27 00:05] ExperimentsInHonesty commented on #210
@Olivia-Chiong Can we add this to the next agenda?

Teaching everyone to do a comparative analysis by doing one of these
https://github.com/hackforla/community-survey-nc-websites/issues/15

[2021-03-27 16:35] connie-yu-dotcom commented on #220
@mariastudnicka Sorry Maria, I wasn't available yesterday. I have free time over the weekend. Let me know what works for you.

[2021-03-27 22:49] averdin2 commented on #91
@switchzer0 @khushbooshah-PM Updated project card for issue #1077. Need UAT. I have put a link to my comment with screenshots of the update.
- Link: https://github.com/hackforla/website/issues/1077#issuecomment-808445229

[2021-03-28 04:55] ialv44 commented on #223
@ExperimentsInHonesty Done.

[2021-03-28 20:52] kcoronel commented on #222
@Arjayellis hello! as you can see I am on step two, want to get started on step two?

[2021-03-28 22:53] ktjnyc commented on #74
Addressed and closed out all but 2 comments:
- Outline color - did you want that to use the same HfLA color scheme or the orange in the guide template?
- Is there a pull request guide/documentation from the DEV CoP that we can refer to?  Might be better to have that as a separate guide linked in instead of buried within this guide

[2021-03-29 16:12] kcoronel commented on #206
@Rabia77 thanks for the tag. I am typing below some responses/comments from your post above.
1. You can give us your email address and we can get you access to our drive
2. Repository and read me are updated, thank you!
3. We will take a look at other projects wiki and attempt to recreate something similar

[2021-03-29 19:08] Olivia-Chiong commented on #210
Agenda for Week of Mar 29 2021

Discussion topic: Competitive & Comparative Analysis

We will have Randall (@Arjayellis), PM of BallotNav come to talk about how BallotNav created their analysis and how it was helpful in developing BallotNav's features.

After that, we will have a short hands-on exercise on doing a comparative analysis for neighborhood council websites in LA County. This is a proje

[2021-03-29 20:35] kcoronel commented on #222
[Draft Template](https://docs.google.com/document/d/1Zin9TViBqZyU-X06yGXXs4LqKh6ZNcI0TVEfKtrWOxM/edit?usp=sharing)

[2021-03-30 00:01] erigilg commented on #128
@ktjnyc added your suggestions to the tracker.
@Olivia-Chiong what do you think should I create the issues for Katie's guides suggestions?

[2021-03-30 00:35] Olivia-Chiong commented on #128
Yes, I think we should have one for project page on the website

And one for VRMS

[2021-03-30 04:00] DrIffathsultana commented on #111
@henlatourrette
Hi Henry, I need some help on creating one sheet for the project EMS-Triage Tracker. As this project is completed I am not sure how to complete the sections -Proceed with road map for next 6 months.Please guide me thru on How to write a One-sheet when the project is completed.

[2021-03-30 04:06] DrIffathsultana commented on #111
@ExperimentsInHonesty
Hi Bonnie, I need some guidance on creating a one sheet for the project EMS-Triage Tracker. I went through google drive and resources regarding this project. I would be happy if could go over the project and help me understand the basic project information to gain more clarity. Please let me know your availability next week.

[2021-03-30 04:30] DrIffathsultana commented on #111
@Olivia-Chiong
Progress: I have created a [Draft ](https://docs.google.com/document/d/1ly8rrgzJIYr6LLZEIZ05LUpaNxQxLgU22Bw6HQAok9Y/edit)in google drive and and started researching the projects resources.
Blockers: Communication issues as the project is already completed. I still researching about the project.
Availability: I am available next week mostly after 3 pm.
ETA: Still not sure .

[2021-03-30 17:35] myrandi commented on #224
Added comments to make the interview explanation a little simpler for a first outreach email

[2021-03-30 21:13] ktjnyc commented on #128
FYI, I saw this [today ](https://www.producthunt.com/posts/product-management-templates)- might be helpful for some of the guides we are creating.

[2021-03-30 21:43] erigilg commented on #128
That is pretty cool Katie, that could help us for user personas, customer journeys and roadmaps. This could be useful so the templates don't have to be made from zero.

[2021-03-30 21:47] erigilg opened #233 "Create a Guide: Updating the VRMS of your project"
### Overview
We need to create a guide for how to update the VRMS of each project so that members of the team can update it when needed.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either

[2021-03-30 21:48] Rabia77 commented on #204
Done!

[2021-03-30 21:48] Rabia77 commented on #204
Done!

[2021-03-30 21:52] erigilg opened #234 "Create a Guide: Updating your project's page in HfLA site"
### Overview
We need to create a guide on how to update your project information (meeting times, slack channel, etc.) in your project's page inside Hack for LA's website. The purpose of this guide is to let everyone know how that is done for keeping the information as updated as possible.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the

[2021-03-30 22:31] henlatourrette commented on #53
I can see that the PDF is now available [here ](https://github.com/hackforla/product-management/blob/master/project-one-sheets/Heart-Project-One-Sheet.pdf)and that the [Product One Sheet tracker](https://github.com/hackforla/product-management/issues/3) was updated. Is it OK to close this issue now @ExperimentsInHonesty , @Olivia-Chiong ? or should we keep it opened for future updates?

[2021-03-31 02:13] alexilee commented on #92
Thanks all for the helpful comments. Ready for leadership review.

[2021-03-31 02:19] superbunker commented on #18
Created another draft that follows the standard on-sheet format. A couple areas in that format (history bullets, impact) don't have clear content for them

https://docs.google.com/document/d/1H73QnE7B8CIWIuOxBWCec41GKO9qxiIA3FZhudfKHwk/edit#

[2021-03-31 03:04] PLoiya commented on #214
@Olivia-Chiong Moving the issue to review section for review.

[2021-03-31 16:07] sharonethomas commented on #80
@Olivia-Chiong @ExperimentsInHonesty Just had my meeting with Jenny. I have the interview on the drive:

[Ecosystem Map Guide Interview](https://docs.google.com/document/d/1yWuV6VTLooTqHpw_HYT_jNclh8Igj3KP0ZBj3g2bS9I/edit)

Jenny recorded the meeting and said she will send it.

[2021-03-31 19:16] tarang100 commented on #70
@alexilee @Oluwafemi-Jegede @henlatourrette @vharsh25 @rmcrowell
Hi everyone.  We think the guide is ready to be published.  If you are doing reviewing it and you have an issue already assigned to you in the product-management community of practice you can unassigned yourself from this issue.  If anyone is left because this is the only issue they are assigned to, then please put this content into

[2021-03-31 20:50] connie-yu-dotcom commented on #220
@Olivia-Chiong
I'm moving this project into review on the PM board.
The following are still empty:
1Password - not sure what is needed here, the login?
Meeting Minutes Template - minutes in google drive, but not a template
Miro - the login? does not seem to be used by CTI
Competitive Analysis - waiting for Google link from Randall Ellis to use his as a good example
Communication Style Guide - did

[2021-04-01 18:54] ebele-oputa commented on #221
- ReadMe seems to be in progress; edited by Bonnie
- https://github.com/hackforla/YouthJusticeNav/projects
- https://github.com/hackforla/YouthJusticeNav/tree/main/.github/ISSUE_TEMPLATE
- Team Roster (Google Docs)
- https://github.com/hackforla/product-management/blob/master/project-one-sheets/Youth-Justice-Nav-Product-One-Sheet.pdf
- No recruitment form but there's an onboarding process which su

[2021-04-01 19:20] ebele-oputa commented on #221
@Olivia-Chiong Up fo review!

[2021-04-02 16:54] ExperimentsInHonesty commented on #144
@alexilee This is a great start.  Additional points to address:
1. DEI
2. Unusual learning paths
I notice that this project does not have an approved one sheet and that the one sheet and the wiki are not in alignment.  Let's discuss

https://github.com/hackforla/civic-opportunity/wiki

[2021-04-02 16:57] ExperimentsInHonesty commented on #230
Ran the cleanup on : 2021-04-02
- [ ] Checked the Issues list with the URL that shows Issues in the Product Management Repo not on any project board
- [ ] Check against last weeks issues to see if our messaging is making a difference
- [ ] Posted something on each of the issues so that the person whose issue it is will add it to the correct location and self assign if appropriate.
- [ ]  Here is t

[2021-04-02 17:00] ExperimentsInHonesty commented on #146
I make the assignments

[2021-04-02 17:22] ExperimentsInHonesty commented on #106
@allysmatrix Please

 add this issue to the Project board 05 Product Manager Experience Profile
 assign it to yourself

[2021-04-02 17:26] ktjnyc commented on #130
Progress: Created an [issue ](https://github.com/hackforla/food-oasis/issues/921)on the Food Oasis to have the UX/IU team identify the assets.  We are working on the One Sheet and some of the others are in progress too so we don't have current versions yet.
Blocks: So many documents to sift through!
Availability: variable
ETA: Can make some additional progress by next meeting

[2021-04-02 17:31] ExperimentsInHonesty commented on #80
@sharonethomas sounds like the next step is interviewing the GreenEarthOS project.  Are you able to attend their meeting time? We meet at 2:30pm PST on Thursdays.

[2021-04-02 17:38] ExperimentsInHonesty commented on #74
@ktjnyc I think it's a great idea to have how to make a pr into its own guide.  And specifically how to do a pr using github's visual interface.

[2021-04-02 17:43] ktjnyc commented on #128
Per issue - we should have a separate guide for how to make a pr - specifically how to do a pr using github's visual interface.

[2021-04-02 18:21] peteplass commented on #81
@ExperimentsInHonesty
Done for Friday 4/2:

Sorted existing Wiki Links into corresponding folders. Created additional links for the following:

Survey:
Landing Page Draft
Comms + Logistics Schedule - Survey/Discovery Workshop

Project Discovery:
Community Survey - EmpowerLA.org Website Redesign One-Sheet - DRAFT

Added slide deck and youtube video to wiki HOME screen under “What is this project?”

[2021-04-02 18:22] ktjnyc opened #235 "Create a Guide/Template: How to make a pr"
### Overview
We need to create a guide to making [name of item] so that [purpose of the item]

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in markdown format in this issue or a goog

[2021-04-02 19:00] Olivia-Chiong opened #236 "Update Existing One Sheet: Lucky Parking"
### Overview
Update the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project already has a one sheet
- [ ] Make a copy of the one sheet and store in the product management google drive/one sheet revisions
- [ ] Review one sheet and check off items on the checklist to see what it might be missing.
- [ ] Setup a meeting with the PM to

[2021-04-02 19:12] ExperimentsInHonesty commented on #127
@ktjnyc any luck on this?
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-04-02 19:21] Olivia-Chiong commented on #68
SPY logo
![image](https://user-images.githubusercontent.com/75456721/113447055-f856de80-93ad-11eb-95cf-e9fe7be54632.png)

[2021-04-02 19:24] ExperimentsInHonesty commented on #68
@Olivia-Chiong the one sheet is done

[2021-04-02 19:42] Olivia-Chiong commented on #68
Done

[2021-04-02 19:42] #68 closed

[2021-04-02 20:08] ExperimentsInHonesty commented on #61
Messaged @pawan92 @Arjayellis @alexilee about the one sheet.  Also we can check the wiki for details that Ray provided there.

[2021-04-02 21:14] ExperimentsInHonesty commented on #67
I finished updating it from the awesome work that @pawan92  did.  I made a new page with the url: https://docs.google.com/document/d/15euICw3ueDNu4qZaS5rrjLRVn4QBYCjJT92AdJ28jJg/edit. But kept the old page so that we have the wording for sections that did not get included: https://docs.google.com/document/d/1hIAKyJwDHknPjn7I-RmZeCu_RkK-Zw4YNBA_-Ygqdoc/edit

[2021-04-02 21:14] #67 closed

[2021-04-02 21:19] ExperimentsInHonesty commented on #54
@ljhsu10 @koneru123 Which one of you wrote up the text in the draft that is there now. I think if we can talk about the draft I can help you get it completed.

Bonnie

[2021-04-03 19:24] alexilee commented on #61
Thanks @ExperimentsInHonesty

[2021-04-03 21:27] erigilg commented on #128
@ktjnyc I would suggest you add the description in the issue #235 as well as the purpose so people that don't know what a pr is have a better idea?

[2021-04-05 13:31] ktjnyc commented on #127
@ExperimentsInHonesty the issue to confirm the logos is still open on our project board but i think the One Sheet is ready for review.

[2021-04-06 19:25] Olivia-Chiong commented on #210
Agenda for Week of Apr 05 2021

Discussion topic: Agile methodologies

We will have Iffath (@DrIffathsultana), PM of Civic Tech Index, PMP® Certified Project Manager | Certified SAFe® 5 Product Owner come to talk about Agile and the different types of Agile methodologies.

- Reminder about HfLA's Code of Conduct
- Call for volunteers to present future weekly topics (Great opportunity to practice p

[2021-04-07 02:03] shongsath opened #237 "Experience Profile: Stephanie Hongsathavij"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-pages

[2021-04-07 02:20] Baleja opened #238 "Interview Questions"
### Overview
Collect and discuss product interview questions. Add a question below you would like a detailed explanation for..

### Action Items
- Add a question you have been asked as a comment below.

### Resources/Instructions
[Ultimate Interview Prep](https://docs.google.com/document/d/1zIERUqMUq74A4kXdloa7xd5EtvJig8Nk5eN6A-Ac6OA/edit)

[2021-04-07 02:28] Olivia-Chiong opened #239 "Project Inventory: Undebate"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-04-07 13:22] nagesh23nayak opened #240 "HackforLA Citizen Engagement Program"
### Overview
Create a Partner Management System with connections, processes, checklists and product detail to communicate with different Citizen bodies in an organized way to increase visibility for Hack for LA and help Citizen bodies with tools necessary for social and human upliftment.

### Action Items
Meet with resident Hack for LA Product Managers
 - Team Engage - Bryan
 - Team 311 - Pras
 -

[2021-04-07 17:32] Baleja commented on #238
"How would you handle pushback from an higher up?"
"How would you calculate the amount of babies born on any given day in the usa."

[2021-04-07 17:50] ExperimentsInHonesty opened #241 "Create a Guide/Template: SDLC for your project"
### Dependency
Olivia and Bonnie to discuss what we are doing with the assets from the HfLA issues.

### Overview
We need to create a guide to making SDLC so that people can understand the overview of how a software is developed at HfLA

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG:

[2021-04-07 19:41] ktjnyc commented on #238
Lewis Lin's slack channel has a huge list of questions from PM interviews.
https://docs.google.com/spreadsheets/d/1rz10oEeLx-eGnilahKczYPhGfCUzIEKL-xRnjoQ-SX4/htmlview

[2021-04-07 20:44] ExperimentsInHonesty commented on #74
@ktjnyc
Outline color: I mentioned that I thought we should ask the UI/UX community of practice to weigh in on the red vs yellow highlights. Did you do talk to them about adding that to the agenda?
Pull Request guide: Can you pull that out of this doc, and put it into a new guide draft doc and link to that.  It dosen't have to be perfect, it just needs to be the start of it.

[2021-04-07 20:47] Olivia-Chiong commented on #111
@DrIffathsultana Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-04-07 20:48] ExperimentsInHonesty commented on #18
@superbunker at our last conversation I asked you to model this on some other one sheets that are completed.  See here for completed one sheets and tips on making a one sheet: https://github.com/hackforla/product-management/tree/master/project-one-sheets

[2021-04-07 21:04] ExperimentsInHonesty commented on #127
@ktjnyc I have changed the formatting on one sheet and a few words.  We will use this temporarily. When you get the logo sorted out, and find the stacked one, please add it to this issue and put it back in review and tag me and olivia.

[2021-04-07 21:27] ExperimentsInHonesty commented on #236
@gregpawin
Comments
The one sheet is improved from the last time I looked at it.
I changed the screen shot out for something that made the pie chart larger, even though its not the way your app normally displays on desktop (its the responsive version).

Changes requested
It could benefit from being more like the other one sheets in terms of wording.  Please look at the simplicity of the sentences

[2021-04-07 21:31] ExperimentsInHonesty commented on #56
@ggrrettcchhenn @myrandi @Andan-Eddy Does the ExpungeAssist project have a logo?  Please update the one sheet so we can wrap this up.  The Q1 update is overdue by 7 days.

[2021-04-07 21:41] ExperimentsInHonesty commented on #69
Made some minor edits and olivia closed this.

[2021-04-07 21:41] #69 closed

[2021-04-07 21:44] nagesh23nayak commented on #82
Completed First Draft: [Document Link](https://docs.google.com/document/d/12D--k82V3hMyue8bFJEFTz1Q4_OHSwt0B9e-RJTPOPc/edit#)

Need Suggestion/Recommendations

[2021-04-07 21:48] Olivia-Chiong opened #242 "Create a NEW One Sheet: SEIE"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project does not already have a one sheet
- [x] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [x] Review one sheet and check off items on the checklist to see what it might be missing.
- [x] Setup a meet

[2021-04-07 21:52] Olivia-Chiong opened #243 "Create a NEW One Sheet: Slack Redactor"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [ ] Review one sheet and check off items on the checklist to see what it might be missing.
- [ ] Setup a meet

[2021-04-07 22:35] ExperimentsInHonesty commented on #55
@ktjnyc I want to wrap this up.  What is the latest draft that you and I worked on.  The one with the percent changes on the impact section.

[2021-04-07 22:54] superbunker commented on #18
I've made another version using the template, and pulling selected content from the two drafts provided by @pras4u
https://docs.google.com/document/d/1T6Pg_J1nBNQgGa_yDcoqALqYcXTJ2U1WRaKcOcWlsaA/edit#

@captain-nimo and @pras4u — could you please take a look and see if the selected info is what you'd like to have and if it's up to date?

[2021-04-07 22:59] Olivia-Chiong commented on #80
Meeting recording uploaded here: https://drive.google.com/file/d/1XBTfXnw9OojxjXCrhuvJ6Lh9rpS9PXN1/view?usp=sharing

[2021-04-07 23:17] gregpawin commented on #236
Will do. Updated the url to reflect the working http version vs the https version. Will look into trying to set AWS to launch http by default too.

[2021-04-08 02:33] pras4u commented on #18
@superbunker Have requested access to add comments on to the onesheet. Summary here

1. Will help to add a pic of the app showing graphs/charts [@captain-nimo Can you please link / share the H4LA - 311 web page image Kev created recently - one on the desktop]

2.  Updates to 'Under progress' -

ADA Compliance
Mobile Version
Search your home NC by address
311-Data 101 report
Other Improvements to U

[2021-04-08 03:35] superbunker commented on #18
Hi @pras. I've asked the admin channel to make sure you have edit access to the Project Management google drive.

[2021-04-08 03:45] superbunker commented on #18
For adding additional content, something would need to come out for it to all fit on one page within the format. Looking over some of the other ineternal one-sheets, they don't include the optional history section. Would that be a better trade-off for adding more to the roadmap and progress? Maybe we could add some of the history items as additional points.

Here's what the other completed project

[2021-04-08 03:52] captain-nimo commented on #18
![311mockup_600x400](https://user-images.githubusercontent.com/25173228/113965797-09637d80-97fc-11eb-8316-d2e25408c04c.png)

@pras4u, please find the image attached here.

[2021-04-08 04:25] superbunker commented on #18
I've added this image to the text, but it needs to be extremely small to fit within the template. I don't think it's going to be legible. Could you have a look at it and at the other completed one-sheets as examples?

[2021-04-08 13:14] captain-nimo commented on #18
@superbunker, I think you're looking for this one instead (considering the other one sheet examples). Also, the image is lot smaller.

![311_data](https://user-images.githubusercontent.com/25173228/114032899-c5e43000-984a-11eb-8e1c-c0a916a3979e.png)

[2021-04-08 13:19] ktjnyc commented on #55
@ExperimentsInHonesty - here's the [last version](https://docs.google.com/document/d/1VL_rVwbpcOUjtfHNyzBcsXbOfpKKK-lPNT2UGq1S214/edit?usp=sharing) we had.

[2021-04-08 17:50] superbunker commented on #18
@captain-nimo The 311data logo is already in the document

https://docs.google.com/document/d/1T6Pg_J1nBNQgGa_yDcoqALqYcXTJ2U1WRaKcOcWlsaA/edit#

[2021-04-08 18:59] erigilg commented on #238
What product non-techy do you like a lot, why? and what would you change about it?
Change in product you've made, talk about the situation, hypothesis, action and results?
Challenge in a product you've had?
Why your experience matches the role?

[2021-04-08 21:07] superbunker commented on #18
@pras4u @captain-nimo
I've edited the text to incorporate the updates listed above. Please let me know if there are any further changes. If not, I'll send this to leadership for review.

[2021-04-08 22:37] superbunker commented on #18
As requested by @pras4u I've cropped the laptop image to only show the screen.

Sending one-sheet to review

[2021-04-08 22:46] pras4u commented on #18
@superbunker The cropped image looks good. When you get a chance please move the Partner logos to the front page - there is some alignment issue & the logos are in the 2nd page.

[2021-04-08 23:06] superbunker commented on #18
@pras4u thanks for catching that - fixed.

[2021-04-09 00:05] wanderingspoon commented on #130
I have a question about the term "user stories" as applied and [linked](https://github.com/hackforla/food-oasis/wiki/User-Stories) above.

They currently read more like user roles than discrete units of functions/features for dev team's work.

Or perhaps I'm looking at the wrong document? Could someone please clarify? Thanks!

Otherwise, I recommend that a separate issue is required for creating u

[2021-04-09 00:35] ktjnyc commented on #130
@wanderingspoon that should have been unlinked - John mentioned that he had just written that and posted it so we had something.   I've searched the rest of the Google drive and haven't found anything else.   We have an issue on the Food Oasis repo to [review and update the personas ](https://github.com/hackforla/food-oasis/issues/885).  We can create a separate one for user stories as well.

[2021-04-09 02:35] ktjnyc commented on #127
@ExperimentsInHonesty @Olivia-Chiong i've added the stacked logo to the doc.

[2021-04-09 03:14] ExperimentsInHonesty commented on #61
Please look at the comments here: https://github.com/hackforla/civic-opportunity/issues/64#issuecomment-815075713 from Patrick Tam

[2021-04-09 03:35] ExperimentsInHonesty commented on #61
Make sure we align with this site: https://www.wiblacity.org/

[2021-04-09 06:00] DrIffathsultana commented on #111
@Olivia-Chiong
Progress: Created a [draft](https://docs.google.com/document/d/1ly8rrgzJIYr6LLZEIZ05LUpaNxQxLgU22Bw6HQAok9Y/edit)
Blocks: Reached out to Henry and Bonnie, waiting for their response.
Availability: Next week anytime after 3 pm.
ETA: Still not sure , need more time to research as the project is already completed.

[2021-04-09 13:19] ktjnyc commented on #74
@ExperimentsInHonesty
1 - I talked to Danielle this week and it's on the agenda for next week
2 - I pulled the PR info out into a new [HOW TO for PMs](https://docs.google.com/document/d/1_J7x_Q6MmbPItHpQTst4r8p-V6fRBqxdNHsNbBXpvK4/edit?usp=sharing) and linked into this doc.

[2021-04-09 17:15] kcoronel commented on #90
Hi team, I think the dependency for this issue has changed. We are hoping to finalize our demo site once HackforLA has AWS access. I don't want to change it up top before talking without getting @Arjayellis and @tarang100 opinion :)

[2021-04-09 17:23] kcoronel commented on #128
Hii! The issue #222 is not included in the guide, let me know if there are any questions :)

[2021-04-09 17:24] ag2463 commented on #49
Link to document (https://docs.google.com/document/d/1vBcfndEQSU_Edz8h745aMeTNl55_6ZQlEVl90gibcDU/edit?usp=sharing)

[2021-04-09 17:33] ktjnyc commented on #80
Resources provided in advance of the interview:

-  Some of her [notes from discussions with Pearson King](https://drive.google.com/drive/u/0/folders/1YElyWkfcpsKbiUcDUHLLCiv6-esJmw09) from Food Forward are here (this person was very helpful in information gathering, etc)
- Some of the [graphics for the ecosystem](https://drive.google.com/drive/u/0/folders/10a7bUv1AwoEUIyM8DLTIGMts7stvTGev) as wel

[2021-04-09 18:02] ggrrettcchhenn commented on #49
Expunge Assist recently had to consolidate two google drives, so we used this an outline as a guide but altered it a bit to what felt more intuitive for our team. We categorized top level folders into our teams (Admin (PM), Design, Research, Development) instead of file types (forms, meeting documentation, working files).
<img width="372" alt="Screen Shot 2021-04-09 at 10 47 02 AM" src="https://us

[2021-04-09 18:39] ggrrettcchhenn commented on #49
As a part of this process, we also adopted certain file naming conventions for our team moving forward. I will paste them below.

###File Naming Conventions

Please use these standard practices for naming all Expunge Assist documents, as applicable.

Remember to save all documents you work on for this project in our shared Expunge Assist Google Drive. This is so that we do not lose access to any d

[2021-04-09 21:30] henlatourrette commented on #134
Progress: Added "Recruitment Form" and "Website Analytics"

Blockers: I still need to clarify with the Product team the Story Points main source.

Availability: A few hours on the following week.

ETA: Ongoing as the project is being developed.

[2021-04-10 14:13] pawan92 commented on #61
Updated [One Sheet Doc](https://docs.google.com/document/d/1gXUFvnuMHOzT3xuiosE3gqwQ_1uCWYMQc-nwXILHakE/edit?usp=sharing) I created. @patrickm-tan @alexilee Do you guys know where I can get information on our roadmap and where we currently stand?

[2021-04-11 15:34] Arjayellis commented on #61
Proposed [one-sheet](https://docs.google.com/document/d/1F-XHusz1HxSx9ORRYl8LrNPLRXD1PHPh/edit) with updates @ExperimentsInHonesty @pawan92 @alexilee

[2021-04-11 20:59] ggrrettcchhenn commented on #56
Update the logo and last updated date.

[2021-04-12 17:27] Olivia-Chiong commented on #82
@nagesh23nayak Great first draft, we need to make a time to discuss the way examples and templates are used in this guide. Can you please reach out to me with your availability? Thanks!

[2021-04-12 17:49] Olivia-Chiong commented on #21
@DrIffathsultana can you book a time with me to do a review of this please? Thanks!

[2021-04-12 17:50] Olivia-Chiong commented on #240
@nagesh23nayak can you also book a time with me to discuss this? Thanks

[2021-04-12 18:13] ExperimentsInHonesty commented on #240
ToDo items
- [x] [Setup Google Drive](https://drive.google.com/drive/u/1/folders/1iZjqmUPNCy0t54STBjX7Rc2s9nwzmt8Q)
- [ ] [Create a Repo]() called program-area-citizen-engagement
- [ ] setup email called citizenengagement@hackforla.org
- [ ] create slack channel called citizen-engagement
   - [ ] Add the following purpose to the channel `A place for all the project that are under the Citizen Engag

[2021-04-12 18:53] ExperimentsInHonesty commented on #27
Here is the next project that we did this on.  See if we added anything new and update the template
https://github.com/hackforla/product-management/issues/240#issuecomment-818021339

[2021-04-12 23:41] Olivia-Chiong commented on #210
Agenda for Week of Apr 12 2021

Discussion topic: Crafting a Great LinkedIn Profile

We will review LinkedIn profiles together and discuss what are some effective practices and strategies to making your profile standout.

- Reminder about HfLA's Code of Conduct
- Call for volunteers to present future weekly topics (Great opportunity to practice presentation skills)
- Please use #admin channel on S

[2021-04-14 01:04] alexilee commented on #92
Posted a reminder for leadership in Slack #admin channel. Still waiting on leadership review.

[2021-04-15 17:37] ExperimentsInHonesty commented on #123
![Screen Shot 2021-04-15 at 10 36 28 AM](https://user-images.githubusercontent.com/37763229/114913938-9dbe7900-9dd6-11eb-8942-6ac09e9b34ae.png)

[2021-04-15 19:05] ExperimentsInHonesty commented on #123
The guide needs to be updated to say that if there is a long url and a name for a thing it needs to be clean.  So for instance this:

![Screen Shot 2021-04-15 at 10 42 07 AM](https://user-images.githubusercontent.com/37763229/114916284-7ae19400-9dd9-11eb-93ed-bd1227699a5a.png)

Should look like this

![Screen Shot 2021-04-15 at 12 03 54 PM](https://user-images.githubusercontent.com/37763229/114924

[2021-04-15 19:07] ExperimentsInHonesty commented on #123
Keep content together not split between pages
![Screen Shot 2021-04-15 at 12 06 26 PM](https://user-images.githubusercontent.com/37763229/114924649-1592a080-9de3-11eb-9f86-fbcc5905df3b.png)

[2021-04-15 19:10] DrIffathsultana commented on #21
@Olivia-Chiong
I have created a new [draft.](https://docs.google.com/document/d/1ZzFeBBbtsL1HEC317zxRNZFMiv0wVtdsdIsSr1mDSKs/edit#heading=h.cn8wzyv0w6vs)
Please review .

[2021-04-15 20:00] ExperimentsInHonesty commented on #123
Header should be formatted in such a way that people writing guides can create them.  See the template that the UX team is creating: https://github.com/hackforla/UI-UX/issues/55

Here is the one appearing in our guide:
![Screen Shot 2021-04-15 at 12 08 49 PM](https://user-images.githubusercontent.com/37763229/114925233-b1bca780-9de3-11eb-8074-bb308d470bc9.png)
Here is an example of one appearing i

[2021-04-15 21:24] Arjayellis commented on #61
Please see updated [one sheet](https://docs.google.com/document/d/1F-XHusz1HxSx9ORRYl8LrNPLRXD1PHPh/edit)

[2021-04-16 19:05] Arjayellis commented on #61
Met with @pawan92 @alexilee to assess project goals and will review with the team to ensure we are aligned on the mission and current status of each initiative.

[2021-04-20 01:40] gregpawin commented on #236
Progress: unfortunately not a lot. Will get to this issue this week.

[2021-04-20 17:20] pascuas commented on #63
Updated Civic Tech Structure Project Overview link

[2021-04-20 17:35] Olivia-Chiong commented on #210
Agenda for Week of Apr 19 2021

Discussion topic: Effective Communication Methods with UI/UX teams

This week we will have @daniellex0 Co-lead of the UI/UX Community of Practice come and discuss what are some of the best ways to provide constructive feedback for UI/UX folks and how to best collaborate with them.

[2021-04-21 00:33] DrIffathsultana commented on #111
I am working on it . Need more time.

[2021-04-21 00:50] Olivia-Chiong commented on #92
I've done a first past review, picked up on a lot of formatting errors. Made a few suggestions.

[2021-04-21 02:35] natenateo opened #244 "Experience Profile: Nathan Saunders"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-04-23 14:32] ktjnyc opened #245 "Update Project Profile: Food Oasis"
### Overview
Update the following fields for your project. These updated fields will then be updated to be shown on the website.

### Action Items
- [ ] Update wording of anything currently on the project card (see [hackforla.org](https://www.hackforla.org/))
- [ ] Provide information on which Tools your team is using for the project (Ex: figma, Balsamiq, photoshop, etc.) . This is different than

[2021-04-23 14:34] ktjnyc commented on #245
Closing - wrong board.

[2021-04-23 14:34] #245 closed

[2021-04-23 15:19] rakhibansod06 opened #246 "Experience Profile: Rakhi Bansod"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-04-23 15:27] Olivia-Chiong commented on #221
Hey @ebele-oputa you actually need to update the links in the original issue to reflect the correct links. Let me know if you have questions.

[2021-04-23 15:31] Olivia-Chiong commented on #214
Thanks for the great work @PLoiya

I am closing this issue.

[2021-04-23 15:31] #214 closed

[2021-04-23 15:33] Olivia-Chiong commented on #213
Thanks for the good work @nagesh23nayak I am closing the issue.

[2021-04-23 15:33] #213 closed

[2021-04-23 15:35] Olivia-Chiong commented on #206
@Rabia2219 This project has other assets such as competitive analysis template etc. Could you please do a more in depth check?

[2021-04-23 15:37] Olivia-Chiong commented on #83
@sharadgaurav7 This project does have a project email. Did you reach out to the product managers to check if they have any other items on this list?

[2021-04-23 15:52] Rabia2219 commented on #206
Yes...will do.

[2021-04-23 16:31] Olivia-Chiong commented on #220
@connie-yu-dotcom

The project email is available on the one sheet.
Meeting minutes - if not a template, then it doesn't exist
re: marketing sections, you need to follow the instructions and create issues on the marketing board, then check off the items there if relevant.

moving back to in progress for you to work on. thanks!

[2021-04-23 16:32] Olivia-Chiong commented on #18
Is there no project email for 311? @pras4u can you confirm?

[2021-04-23 16:43] Olivia-Chiong commented on #61
Hi team, please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-04-24 18:42] pras4u commented on #18
@Olivia-Chiong we have 311-data@hackforla.org

[2021-04-24 23:18] Olivia-Chiong opened #247 "Project Inventory: LA TDM"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-04-25 05:32] kceddinger commented on #95
Link to the overview (one sheet) has been added ([see issue](https://github.com/hackforla/website/issues/1022)).

[2021-04-25 16:19] tan-zhou commented on #61
Hi guys, thank you for updating the one sheet. It looks good. I left my comment in the google doc. Let me know what you think.

[2021-04-26 00:34] kcoronel commented on #210
@Olivia-Chiong not sure if this is the correct place for this, but my idea last week was to create an audit of PM tools out in the market and getting a count for folks within the community who can give a training on the tool. It can also be great to have a glossary of these tools and a quick summary of what it is good for.

[2021-04-26 01:41] kcoronel commented on #222
@Olivia-Chiong @ExperimentsInHonesty would love to review this with both of you, not sure if this necessarily needs a template and guide or just one [draft template for Practical Applications of Code of Conduct](https://docs.google.com/document/d/1hW14H9v2crBcZYSLja4AJaF6zUFWtWZrPZKZD1T15Fs/edit?usp=sharing)

[2021-04-26 16:29] ebele-oputa commented on #221
Done!

[2021-04-26 20:00] ExperimentsInHonesty commented on #92
@alexilee I added some comments to the template file.  The one where we are setting standards for guides.  I assume you have not had the person or people who are managing that process do the review since you have not incorporated the items I have addressed in that issue.  It applies to this guide and several others.  So its more efficient for me to post on that guide.  If you need me to I can post

[2021-04-26 20:07] alexilee commented on #92
I'll find it. Thanks.

[2021-04-27 00:16] nagesh23nayak commented on #82
Updated as per suggestion, Document in same link

[2021-04-27 20:11] Olivia-Chiong commented on #210
Agenda for Week of Apr 27 2021

Discussion topic: Pre-launch user testing

This week we will be meeting with the 100 Automations team and testing out their pre-launch website. Come dogfood with us as we test drive the shiny new website and use your critical product lens on what works and what doesn't.

Other items on agenda
- All projects need to update their Hack for LA website project profile ca

[2021-04-27 20:13] Olivia-Chiong commented on #210
Sounds good. Do you want to create an issue for this and start the ball rolling? I know some tools were already discussed in the list of topics issue.

[2021-04-27 20:57] superbunker commented on #18
I added the email to to the footer

[2021-04-27 21:43] Olivia-Chiong commented on #240
@nagesh23nayak Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

Can you provide an update for every team/ whether you have met them etc

Also we need a monthly management meeting where

[2021-04-27 22:00] nagesh23nayak commented on #240
Progress: Had a meeting with Bryon from Team Engage. I will be updating the Sheet in Google drive and will have follow up with Bryon this week
Blocks: I am hoping to move things forward this week and will inform if any roadblocks by end of this week.
Availability: 10 hours. Last one week was busy at personal level.
ETA: Pras has not responded to my chat (will try again) and schedule a call with Ka

[2021-04-28 01:27] alexilee opened #248 "Update Project Profile: Civic Opportunity"
### Overview
As a product manager of Civic Opportunity I want my project's details to be up to date on the HackforLA website.

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects_

### Action Items

- [ ] [INSERT TEAM NAME HERE] Current Team Members
   - [ ] Please check off everythin

[2021-04-28 02:14] nicolefeder opened #249 "Experience Profile: Nicole Feder"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-04-28 02:16] Olivia-Chiong opened #250 "Project Inventory: GreenEarthOS"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-04-28 19:25] natenateo commented on #242
Link to SEIE Survey One Sheet:
https://docs.google.com/document/d/1R4zT0z5_qzsJowekJPyEE-LpyMDmGEdDz8U6ja7IHhU/edit?usp=sharing
I spoke to Ryan Swan about getting a logo for data science to use for all one sheets as the projects they do are normally short-term. So for now it doesn't have a logo -- but they may have one in the future.

[2021-04-28 19:25] natenateo commented on #242
Also, I change the 6 Month Roadmap to 3 Months as they estimate that would be the max for this project.

[2021-04-29 22:41] Arjayellis commented on #61
Met wirh the product team and determined that we really need to refine the initiatives and goals of the project before getting too much farther into the weeds We have created a new one-sheet and will be discussing over the next couple weeks.

[2021-04-30 02:59] ebele-oputa opened #251 "Update Project Profile: Open Community Survey"
### Overview
As a product manager of Open Community Survey, I want my project's details to be up to date on the HackforLA website

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects_

### Action Items

- [ ] [INSERT TEAM NAME HERE] Current Team Members
   - [ ] Please check off every

[2021-04-30 08:06] superbunker commented on #18
I cant make it to the meeting this morning, but please let me know if this needs any further updates

[2021-05-02 16:48] connie-yu-dotcom opened #252 "Update Project Profile: Civic Tech Index"
### Overview
As a product manager of Civic Tech Index I want my project's details to be up to date on the HackforLA website

### Project card
_insert url of their card here before sending - their cards can be found in this folder: https://github.com/hackforla/website/tree/gh-pages/_projects_

### Action Items

- [ ] Civic Tech Index Current Team Members
   - [ ] Please check off everything that is

[2021-05-03 13:48] nagesh23nayak commented on #240
@Olivia-Chiong I have received information from different groups and I would like to schedule a call tomorrow to discuss their information and synthesize which one's are useful and which one's we need to go with. Please let me know.

Team | Date | Time | Person | Result
-- | -- | -- | -- | --
Engage | 04/15/2021 | 10:00 pm EST | Bryon Hart | Received contact details
311-Date | 4/29/2021 | 8:00 PM

[2021-05-04 02:29] connie-yu-dotcom commented on #252
List of CTI Recent Members
https://docs.google.com/spreadsheets/d/1oF4NgWa6MsxhG1pDE14tJPlj_62g31UlSBF153dakms/edit?usp=sharing

[2021-05-04 22:49] Olivia-Chiong commented on #210
Agenda for Week of May 03 2021

Discussion topic: What are your favorite product books and what are top 3 lessons you have learned from them?

Come share your favorite product books and help create a reading list for a future product book club for our CoP.

Other items on agenda

- Review of assigned items in the PM repository
- All projects need to update their Hack for LA website project profile

[2021-05-05 00:23] DrIffathsultana commented on #111
@Olivia-Chiong @ExperimentsInHonesty
Please review the [Draft](https://docs.google.com/document/d/1ly8rrgzJIYr6LLZEIZ05LUpaNxQxLgU22Bw6HQAok9Y/edit)

[2021-05-05 00:48] connie-yu-dotcom commented on #252
![image](https://user-images.githubusercontent.com/80801490/117086228-0041cf80-ad1a-11eb-827a-bcf08912ee98.png)

[2021-05-05 01:09] sdimran opened #253 "Experience Profile: Syed Danish Imran"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-05-05 01:10] peteplass opened #254 "Experience Profile: Pete Plass"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-05-05 01:11] AliHaider20 commented on #253
What the above task are for?

[2021-05-05 01:19] alexilee commented on #248
@pawan92 I assigned you this ticket since it already exists and it covers what we last discussed in our PM meeting yesterday.

[2021-05-05 01:31] NivenPrasad opened #255 "Product Management Book Club"
### Overview
We are starting a monthly book club at HfLA!

### Action Items
Come up with a list of PM books and pick books for each month.

### Resources/Instructions
**Books**
- **Escaping the Build Trap by Melissa Perri**
- Cracking the PM Interview by Gayle MacDowell and Jackie Bavaro
- Cracking the PM Career by Gayle MacDowell and Jackie Bavaro
- Inspired by Marty Cagan
- Empowered by Marty Ca

[2021-05-05 02:55] robzoneinc opened #256 "Experience Profile: [Richard]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-05-05 03:58] smithasindagi opened #257 "Experience Profile: [Smitha Sindagi]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-05-05 17:17] erigilg commented on #255
The First 90 Days - Michael D Watkins

[2021-05-07 17:09] natenateo commented on #255
How to Decide - Annie Duke, great for major decisions

[2021-05-07 17:13] Olivia-Chiong commented on #255
The Design of Everyday Things - Don Norman

[2021-05-07 17:15] ggrrettcchhenn commented on #255
Not sure that these are exactly product related books but here are some related books I'm interested in:
[A Civic Technologist's Practice Guide](https://www.goodreads.com/book/show/55225556-a-civic-technologist-s-practice-guide) by Cyd Harrell
[The Design of Everyday Things](https://www.goodreads.com/book/show/840.The_Design_of_Everyday_Things?ac=1&from_search=true&qid=3tOtaBg8LD&rank=1) by Donald

[2021-05-10 19:30] Olivia-Chiong commented on #255
Book for May is Inspired by Marty Cagan. The reading schedule is as follows

![image (3)](https://user-images.githubusercontent.com/75456721/117714180-6bacf680-b18b-11eb-9387-b8ba6b78f583.png)

[2021-05-12 02:45] alt-h opened #258 "Experience Profile: [Hannah Liu]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-05-12 17:07] kcoronel opened #259 "Glossary of PM Tools"
### Overview
In an effort to help support a learning experience for our Community of Practice. We will create a list of PM tools available in the market and take account of which members of our community can offer trainings or support for novices. We will also create a glossary of the tools on our list. This can be useful for folks inside and outside of our community.

### Action Items
Different t

[2021-05-12 17:09] kcoronel commented on #222
@Olivia-Chiong bumping this up, let me know how you want me to proceed :)

[2021-05-12 22:41] sayalikotkar opened #260 "Experience Profile: Sayali"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-05-14 16:54] ktjnyc commented on #235
@Olivia-Chiong would you have time to review this with me?

[2021-05-18 22:24] Olivia-Chiong commented on #210
Agenda for Week of May 17 2021

Discussion topic: Working & Networking meeting - We will be reviewing and assigning issues. Product Managers who are not yet assigned to a project will be provided shadow projects. After that, we will be doing a speed networking session in small groups.

[2021-05-19 00:37] Olivia-Chiong commented on #70
[Guide formatted](https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit#) by @daniellex0

[2021-05-19 00:40] Olivia-Chiong commented on #82
Hi @nagesh23nayak can you review the format of the guide and ensure it is inline with the guidelines in https://github.com/hackforla/product-management/issues/123 and https://github.com/hackforla/UI-UX/issues/55

[2021-05-19 00:45] Olivia-Chiong commented on #201
@IAgbaje We have a new guide format - https://github.com/hackforla/product-management/issues/123 and https://github.com/hackforla/UI-UX/issues/55

Are you able to make the changes?

[2021-05-19 00:46] Olivia-Chiong commented on #202
We have a guides tracker. Closing this issue.

[2021-05-19 00:46] #202 closed

[2021-05-19 00:48] Olivia-Chiong commented on #21
Thanks for the great work @DrIffathsultana There is still some minor fonts/formatting issues including header graphic. Can you please refer to https://github.com/hackforla/product-management/issues/123 and https://github.com/hackforla/UI-UX/issues/55 to fix them? Thanks!

[2021-05-19 00:51] Olivia-Chiong commented on #110
@mariastudnicka thanks for the comprehensive work on this. However, there needs to be more HfLA examples. Linking to what has been done but not showcasing it as an example doesn't allow for our community to efficiently work using those templates/examples. Please revise accordingly. Thank you!

[2021-05-19 00:52] Olivia-Chiong commented on #153
hi @Rabia2219 Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 00:53] Olivia-Chiong commented on #33
Hi @sharadgaurav7
Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 00:53] Olivia-Chiong commented on #49
Hi @ag2463
Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 00:54] Olivia-Chiong commented on #23
Hi @pawan92
Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 00:54] Olivia-Chiong commented on #142
Hi @nielseny and @ahdithebomb
Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 00:55] #172 closed

[2021-05-19 00:56] Olivia-Chiong commented on #205
Hi @myrandi
Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 00:58] Olivia-Chiong commented on #125
Hi @NivenPrasad  I know we did not implement this on 100A, but is the guide good to go?

It will need to be reformatted to https://github.com/hackforla/product-management/issues/123 and https://github.com/hackforla/UI-UX/issues/55

[2021-05-19 01:00] Olivia-Chiong commented on #222
@kcoronel Thanks, this is a good start. Could we convert it to the correct template by using https://github.com/hackforla/product-management/issues/123 and https://github.com/hackforla/UI-UX/issues/55 please?

[2021-05-19 01:06] Olivia-Chiong commented on #92
@alexilee
Please update the following

- **Progress:** _How much progress have you made on the issue?_
- **Blocks:** _Are you facing any blockers?_
- **Availability:** _How much time do you have to work on it this week?_
- **ETA:** _When do you think it will be completed?_

[2021-05-19 01:09] henlatourrette commented on #53
I'm closing this issue as the updated PDF is already done.

[2021-05-19 01:09] #53 closed

[2021-05-19 01:11] connie-yu-dotcom commented on #80
@Olivia-Chiong
Progress: I'm watching the video between Sharon and Stephanie
Blocks: Are you facing any blockers? Being a mom and looking for work.
Availability: 2 hours a week
ETA: When do you think it will be completed? In 3 weeks possibly

[2021-05-19 01:18] peteplass commented on #146
Currently working on interns. Should be working on this in the next week or so.

[2021-05-19 02:01] NivenPrasad commented on #210
Learning from Tuesday, May 18, 2021: great people with diverse backgrounds and multiple skills at HfLA. Loved meeting everyone 1:1!!!

[2021-05-19 02:02] natenateo commented on #210
Fun fun

[2021-05-19 02:16] connie-yu-dotcom commented on #210
Learning from Tuesday, May 18, 2021: We have great people at Hack for LA. Super supportive and we're all here to learn, grow, and not judge, it's an open safe space to become a Product Manager.

[2021-05-20 19:19] ExperimentsInHonesty commented on #56
I added the domain name to the one sheet.  It looks good to go.

[2021-05-20 19:22] ExperimentsInHonesty commented on #56
@Olivia-Chiong this is ready

[2021-05-21 12:03] gautham-l commented on #229
Dear @Olivia-Chiong

I am interested in making my first contribution as a Product Manager and would love to help with this.

[2021-05-21 18:00] Sihemgourou commented on #210
Really kindhearted people in the community, really glad to get to know them !

[2021-05-22 22:02] Rabia2219 commented on #153
Hi
Do we have something like this for Readmes?
(https://github.com/hackforla/product-management/issues/3)
(https://docs.google.com/spreadsheets/d/1OJOKJDhUzzMzaFwmbGoOdh5Ohh53LCwS4u7LulVvBsQ/edit#gid=0)
I did try searching in Issues but was unable to find anything.
Thank you.

[2021-05-22 23:26] Olivia-Chiong commented on #210
Agenda for Week of May 24 2021

Discussion topic: Soft skills - Importance of communication and how to lead with influence. The Civic Tech Index team recently encountered a situation where a team member was disappointed that their issue was reassigned and asked to be moved to a different team. The product managers @mariastudnicka @DrIffathsultana and @connie-yu-dotcom will share what led to the si

[2021-05-25 16:53] Rabia2219 commented on #206
Hello @kcoronel,
I wanted to ask if the BallotNavPresentation.gslides in the BallatNav drive refers to the Presentation Deck? If yes, it is incomplete so do you still want me to add the link up here in the Project Inventory issue?
Thanks

[2021-05-25 23:11] ruchimahajan78 commented on #211
Can't find examples from past projects.

[2021-05-25 23:12] ruchimahajan78 commented on #211
Added a draft on Product Management- Templates

https://docs.google.com/presentation/d/1oyLlRRNRk2TXgGkSg4SL2ksnYMpioHjsRhlKhVxUMkI/edit

[2021-05-25 23:36] ruchimahajan78 commented on #211
Not able to find examples on how other projects have done.

[2021-05-26 01:53] #107 closed

[2021-05-26 19:15] kcoronel commented on #206
@Rabia2219 yes, they are incomplete so I would rather not add it to this inventory sheet. Thanks for checking in.

[2021-05-28 01:14] StevenWuzz opened #261 "Experience Profile: Steven Hans Limantoro"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-05-28 17:13] ruchimahajan78 commented on #211
Ready for review https://docs.google.com/presentation/d/1oyLlRRNRk2TXgGkSg4SL2ksnYMpioHjsRhlKhVxUMkI/edit#slide=id.gdd27e3cd56_0_33

[2021-05-28 17:17] rakhibansod06 commented on #247
Still Working on Marketing and UI/UX, finding the right resources to reach out.

[2021-05-28 20:19] SLM-Dev opened #262 "Experience Profile: Spencer Meredith"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-06-01 13:22] sharadgaurav7 commented on #33
@Olivia-Chiong, First draft ready can you please review and provide feedback https://docs.google.com/document/d/1Sc9NrUmol58LKdOj6NRT63TpyIgeYaP1Wg1sOg_2zlo/edit#

[2021-06-01 17:13] Olivia-Chiong commented on #210
Agenda for Week of May 31 2021

Discussion topic: Project cards on the Hack for LA website

The UI/UX team will be coming to our CoP to get product feedback on the [project profile cards](https://www.hackforla.org/#projects) on the Hack for LA website. Put on your Product Goggles and come give your feedback on how we can improve the cards and what new features we could add to the roadmap to better

[2021-06-01 18:08] sdimran commented on #132
Reached out to Gretchen to see if there was anything in the works at the moment for the expunge assist project related to a landing page with mailing list, but that will be coming down the line as it has been identified by the project as a need, will work with existing examples provided above by Bonnie to create guide draft

[2021-06-02 06:58] daniellex0 opened #263 "Update Project Profile: [name of project]"
[ DELETE BEFORE SUBMITTING: Please fill this out and add comments with any up-to-date information about your project below, so that developers on the Hack for LA website team can update your project information. After you submit this new issue, post a link to it on #hfla-site slack channel with this message: "Please place this on the Hack for LA project board with the labels Good First Issue and F

[2021-06-02 22:33] superbunker commented on #18
@Olivia-Chiong let me know if there's anything else I can help with on this

[2021-06-06 14:45] pawan92 commented on #248
- [ ] Description: Update it to match One sheet
- [ ] Leadership: Remove Ray
- [ ] Project goal - Update based on One Sheet
- [ ] Links: No test site - would like to verify
- [ ] Partner: If it's undisclosed could we potentially not mention it at all
- [ ] looking: Needs to be updated to reflect were currently not looking for anyone. Verify

[2021-06-08 22:30] Olivia-Chiong commented on #210
Agenda for week of June 7 2021

Discussion topic: Book club discussion. Inspired by Marty Cagan.

Other items for discussion:

- GitHub template for project updates:
Sample template - https://github.com/hackforla/product-management/issues/263 Linked from - https://github.com/hackforla/website/issues/new/choose
- Pathway to leadership for development team members - https://github.com/hackforla/webs

[2021-06-08 23:57] sdimran commented on #132
https://docs.google.com/document/d/1SPITC3Ccl7MPBPP3Jm0S02nu-gAjjRsDtlw8HDi1Dt0/edit?usp=sharing

initial draft (not in guides folder yet)

[2021-06-09 00:28] sdimran commented on #132
Hi @Olivia-Chiong -- is there someone part of the 100 automations project who worked on creating and configuring this landing page that I can reach out to to better understand some of the content? this will help in ensuring the presentation of the material in the guide is as clear as possible.

[2021-06-09 02:32] talisonc opened #264 "Experience Profile: Alison"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-06-10 16:30] ExperimentsInHonesty opened #265 "Create a Guide/Template: to making a training deck for your project"
### Overview
We need to create a guide to making a training deck so that your project can be perceived as professional and the desired outcome of the training can be achieved.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" labe

[2021-06-11 18:56] Sihemgourou commented on #203
Hello @pkfynn
Please add update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-06-11 18:57] Sihemgourou commented on #203
Hello @pkfynn could you provide update on your project card please ?

[2021-06-11 22:27] Sihemgourou opened #266 "Hackforla-site Project card issue"
### **Overview**

We need to update the information about the project [INSERT PROJECT NAME] so that it is up-to-date on the Hack for LA website

### **Project card**

https://github.com/hackforla/website/tree/gh-pages/_projects/nameofproject.md

See tutorial on how to implement changes (lien)

### **Action Items**

Please check the standardized format for each element on the template [https://gith

[2021-06-11 23:38] Sihemgourou commented on #263
Hi all ! Please check the new proposed system !

https://github.com/hackforla/product-management/issues/266

[2021-06-15 21:51] Olivia-Chiong commented on #210
Agenda for week of June 14 2021

Discussion topic: Project Progress, Open Roles, Guides/Issue Assignments

This week we are focusing on project updates, projects with open roles that need a product manager and issues/guides that are in progress.

If you are not currently assigned to a project, please make sure you join tonight to get an assignment.
If you have something pending review, this would

[2021-06-16 08:16] superbunker commented on #18
turning this over to the 311 Data team

[2021-06-17 02:19] SaashaG commented on #92
For devs: guide card Illustration and image credit info in Toolkit page Figma file (blue rectangle on bottom left): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967 "

Illustration:
Link:https://storyset.com/illustration/consulting/rafiki
Attribute: <a href="https://storyset.com/work">Work illustrations by Storyset</a>

[2021-06-17 02:26] SaashaG commented on #227
For devs: guide card Illustration and image credit info in Toolkit page Figma file (blue rectangle on bottom left): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967 "

Illustration:
Link: https://storyset.com/illustration/remote-meeting/pana
Attribute: <a href="https://storyset.com/online">Online illustrations by Storyset</a>

[2021-06-17 02:36] SaashaG commented on #70
For devs: guide card Illustration and image credit info in Toolkit page Figma file (blue rectangle on bottom left): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967 "

Illustration:
Link: https://storyset.com/illustration/organizing-projects/pana#FA114FFF&hide=&hide=complete
Attribute: <a href="https://storyset.com/work">Work illustrations by Storyset</a>

[2021-06-17 02:40] SaashaG commented on #88
For devs: guide card Illustration and image credit info in Toolkit page Figma file (blue rectangle on bottom left): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967 "

Illustration:
Link: https://storyset.com/illustration/push-notifications/pana#FA114FFF&hide=Plant&hide=simple
Attribute: <a href="https://storyset.com/online">Online illustrations by Storyset

[2021-06-17 03:09] SaashaG commented on #74
For devs: guide card Illustration and image credit info in Toolkit page Figma file (blue rectangle on bottom left): https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=1548%3A1967 "

Illustration:
Link: https://storyset.com/illustration/checklist/pana#FA114FFF&hide=Plants&hide=simple
Attribute: <a href="https://storyset.com/work">Work illustrations by Storyset</a>

[2021-06-17 19:40] ExperimentsInHonesty commented on #111
@DrIffathsultana thanks for your work on this.
- Edits I made:
   - I have removed the partners that were not really involved.  The video was made at a time when we used to thank everyone, even if not directly involve.  Now we have more nuanced ways of thanking partners.
- [ ] Edits that need to be made
   - [ ] Several of the logos including the triage tracker logo are distorted (meaning they wer

[2021-06-18 10:56] gautham-l commented on #160
Updating my progress so far on gathering resources for PRD Guidelines and Template,
1. Requested Google Doc and Drive folder access for Brigade Organizers Playbook, BallotNav, Expunge Assist and LA TDM Calculator (Found through GitHub Repositories).
2. Reached out to stakeholders requesting PRD document through Slack for Food Oasis, Access the Data, Civic Opportunity Project, Undebate, Engage, Hom

[2021-06-20 20:49] alexandrastubbs opened #267 "Collect Project Leaders Surveys"
### Overview
Send out surveys to project leaders across all projects and collect responses.

### Action Items
- [ ] Add member ID column to all rosters
    - [ ] populate roster with member id info for leadership
- [ ] Add column for WPL (TRUE FALSE)
   - [ ] Annotate column to reflect current state of project pages
- [x] Bonnie to share folders for all projects
- [ ] Connect with Olivia when its

[2021-06-21 02:40] pras4u commented on #18
@Olivia-Chiong @superbunker Any specific comments to address from 311 team? What is expected?

[2021-06-21 23:47] gautham-l commented on #160
Rough draft document created under Product Managements Guides folder - https://docs.google.com/document/d/1djX7_QFO7Aj9m2akud8Sctn_2A4jsinEYK3OHo32keE/

Will submit it for review by end of this week. Since I could only source three resources internally (that is closely related to PRD),
1. Spare
2. VRMS
3. Brigade Organizer’s Playbook

Planning to research external resources for topics related to P

[2021-06-22 21:17] Olivia-Chiong commented on #210
Agenda for week of June 21 2021

Discussion topic: Project Progress, Open Roles, Guides/Issue Assignments

Bonnie will be chairing the meeting.

This week we are still focusing on project updates, projects with open roles that need a product manager and issues/guides that are in progress.

If you are not currently assigned to a project, please make sure you join tonight to get an assignment.
If yo

[2021-06-22 21:59] Olivia-Chiong opened #268 "Create a Guide/Template: How to migrate from Google My Drive to Google Workspace Shared Drive"
### Overview
We need to create a guide to migrating from Google My Drive to Google Workspace Shared Drive so that all files and folders belong to the Hack for LA organization rather than individual creators.

### Action Items
- [ ] Gather examples of how other projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and a

[2021-06-23 01:36] Rabia2219 commented on #153
@Olivia-Chiong
Hi Olivia,
Sorry I'm not able to make the meeting today. I've updated the Readme Guide as per our discussion. It is ready for another review. As per our discussion:
- the header logo has been fixed
- screenshots have been fixed
- all heading are in a question form
- links to Readme examples have been added
Please let me know if you want to review it together or you can look over it

[2021-06-23 01:39] DrIffathsultana commented on #21
Thanks Olivia, I will work on fixes

[2021-06-23 01:42] alexilee commented on #92
Guide is reviewed and complete. Ready for leadership approval.

[2021-06-28 03:37] kcoronel commented on #222
[(Draft) Guide to Practical Applications for Code of Conduct](https://docs.google.com/document/d/1mrSM14-1jUlO6QcE2JeHSuh7GmjMi_Jizt47rZ8QI3A/edit?usp=sharing)

[2021-06-29 01:54] alexilee commented on #248
Description: looks good
Current Team: Remove Ray and Tan. Add alexilee, patrickm-tan, Arjayellis, Jackie-UX, pawan92, dengxinjuan
Project Goal: do we need this? How is this different than description?
Links: looks good
Partner: looks good

[2021-06-29 23:32] arghmatey commented on #248
@pawan92 @alexilee

Please provide the following information for team members Jackie-UX and dengxinjuan:
- Name:
- Role:
- Slack Member ID:
- GitHub:

[2021-06-29 23:32] Olivia-Chiong commented on #210
Agenda for week of June 28 2021

Discussion topic: Open Roles, Guides/Issue & Project Assignments

This week we are still focusing on projects with open roles that need a product manager and issues/guides that are in progress.

If you are not currently assigned to a project, please make sure you join tonight to get an assignment.
If you have something pending review, this would also be a good meet

[2021-06-30 01:24] kcoronel commented on #222
Notes from PM Meeting 6/29:
Retrospective with multiple folks, apologizing directly
Summary of code for conduct violations
If PM is involved in situation or calm and quick can't happen, reach out to Admin, don't let things stand still

[2021-07-06 23:13] gautham-l commented on #160
@erigilg @ExperimentsInHonesty My apologies, I had created a Draft template and commented with the document link but I didn't change the status of the issue from TG: Gather Examples to TG: Draft Template. I am new to GitHub, just recently I learnt about status changes.

Please let me know your comments through the document.

[2021-07-07 23:09] Olivia-Chiong commented on #210
Agenda for week of July 5 2021

Discussion topic: Google Drive Migration, Bonnie Training Sessions, Anonymous Team Member Conflict request

This week we are discussing the following
- Upcoming [Google Shared Drive](https://github.com/hackforla/product-management/issues/268) migration process
- Bonnie is going to be opening training sessions for product managers
- We have had an anonymous conflict

[2021-07-08 12:09] Sihemgourou opened #269 "title [of project]"

[2021-07-09 16:48] Sihemgourou commented on #263
- [ ] current project team

name: First Last
role: Product Manager or other
slack: 'https://hackforla.slack.com/team/xxxxxx'
github: 'https://github.com/githubusername'

[2021-07-09 17:51] ebele-oputa commented on #255
I choose -
The Design of Everyday Things - Don Norman
Empowered by Marty Cagan (we would as well read the sequel)

[2021-07-09 19:54] kcoronel commented on #255
I choose-
Good strategy Bad Strategy
Cracking the PM Interview by Gayle MacDowell and Jackie Bavaro

[2021-07-09 19:58] kcoronel commented on #94
Different types of product management software - MSProjects, Monday.com, JIRA, MS Dynamics, Smartsheets, Trello, Aha!, Product Plan, Asana
 Scrum certifications
How to understand product analysis, success metrics etc, how to define areas for improvement - Erika

[2021-07-10 16:30] seenaiype commented on #255
Cracking the PM Interview by Gayle MacDowell and Jackie Bavaro
Good strategy Bad Strategy

[2021-07-10 16:31] seenaiype commented on #94
Different types of product manager roles across industries and functionally
 Translation & localization

[2021-07-10 20:12] DrIffathsultana commented on #21
Fixed the fonts/formatting and header graphic.
@Olivia-Chiong. Please review.

[2021-07-11 13:25] gigicobos commented on #94
Pricing strategies? B2B, B2C - Grants/Sponsorships/Funding
Analytics: FullStory, Heap, Mixpanel, Tableau, Snowflake, AppCues, Pendo - Alex

[2021-07-11 13:27] gigicobos commented on #255
The Messy Middle by Scott Belsky
Escaping the Build Trap by Melissa Perri

[2021-07-13 22:16] Hanastevenson opened #270 "Project Inventory: Design Systems"
### Overview
We need to make an inventory for this project so we understand what assistance this project needs and what examples of effective processes or practices this team might have.

### Action Items
- [ ] Check the project for the items on the check list below
- [ ] Mark off the items when you find it and include the links where available
- [ ] Provide comments on what you find in the issue

[2021-07-13 23:07] Hanastevenson opened #271 "Create a NEW One Sheet: [Project Title]"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [ ] Review one sheet and check off items on the checklist to see what it might be missing.
- [ ] Setup a meet

[2021-07-14 09:14] gautham-l commented on #160
**Template for Product Requirements Document (PRD)**
Below is the list of topics that articulate a product’s purpose, features, functionality, and behavior.  Use these topics when you write PRD for Hack for LA projects. To learn more about these topics and guidelines [click here](https://docs.google.com/document/d/1djX7_QFO7Aj9m2akud8Sctn_2A4jsinEYK3OHo32keE).

1. Introduction

2. Goals

3. Succes

[2021-07-14 14:27] Olivia-Chiong commented on #210
Agenda for week of July 12 2021

Discussion topic: QA testing - What, Who and How?

This week we have a special guest - [Matt Monday](https://www.linkedin.com/in/matthewmonday/) who will be sharing his experience as a PM at ESPN working closely with engineering and QA on numerous projects. After his sharing, we will have an open discussion on how we are approaching QA testing here at Hack for LA.

[2021-07-15 04:51] sameergautam commented on #255
Escaping the Build Trap by Melissa Perri

-----------------------------------------
Can I suggest few more books to the repository??

1. [When coffee and kale compete](https://www.amazon.com/When-Coffee-Kale-Compete-products/dp/1534873066)
2. [Jobs to be Done - Theory to Practice ](https://www.amazon.com/Jobs-be-Done-Theory-Practice/dp/0990576744/)
3. [Hooked](https://www.nirandfar.com/hooked/)

[2021-07-21 09:56] gautham-l commented on #160
### Template
Below is the list of topics that articulate a product’s purpose, features, functionality, and behavior. Use these topics when you write PRD for Hack for LA projects. To learn more about these topics and guidelines [click here](https://docs.google.com/document/d/1djX7_QFO7Aj9m2akud8Sctn_2A4jsinEYK3OHo32keE/edit#heading=h.qpz414wzo9l).

1. Introduction
2. Goals
3. Success Metrics
4. Fea

[2021-07-21 15:05] ExperimentsInHonesty commented on #268
This guide needs to be renamed from
Guide to migrating from Google My Drive to Google Workspace Shared Drive
to
Guide to migrating to Google Workspace Shared Drive

I think you can put the longer title in the doc someplace but I would prefer a shorter title

[2021-07-27 03:34] OneDemocracy opened #273 "Create a NEW One Sheet: [Project Title]"
### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [ ] Check to confirm project does not already have a one sheet
- [ ] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [ ] Review one sheet and check off items on the checklist to see what it might be missing.
- [ ] Setup a meet

[2021-07-27 03:35] #273 closed

[2021-07-27 03:37] OneDemocracy commented on #133
David Schutt, @OneDemocracy, I need access!

[2021-07-28 16:19] ExperimentsInHonesty commented on #28
This issue should be worked on by Olivia and Bonnie

[2021-07-29 19:27] Civic-Opportunity-Project opened #274 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1WFiWycdt_i3Oi11YFld5k-IBMpnOmJmdmOaZvLIvBsk/edit)

- [ ] Review # 08_job-portal (Slack Workspace) in Row 3
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-07-29 19:35] ExperimentsInHonesty opened #275 "Quotes"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-07-29 19:35] ExperimentsInHonesty opened #276 "Plan"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-07-29 20:11] ExperimentsInHonesty commented on #275
Sent a slack message to the admin channel at 1:10pm - will follow up by email as necessary based on responses.
[code]

[2021-07-30 17:13] natenateo commented on #275
"It was recommended to me by a friend who is doing very well in health-tech that I consider joining Hack for LA. One of my favorite parts of Hack for LA is that it is a very collaborative environment - everyone wants to be there and work together and learn. I have learned how to develop projects faster and improve my team communication skills. I would recommend Hack for LA to anyone who would like

[2021-07-30 20:25] ExperimentsInHonesty opened #277 "Create a Guide/Template: Google Form Design for your project"
### Overview
We need to create a guide to making a Google Form Design so that we can have a great custom headers and consistent look and feel (with the rest of the project's branding) in order to maintain brand consistency both in the project and with other projects in the Hack for LA portfolio.

This issue is a subset of issue #22 which includes form headers as well as all the other document temp

[2021-07-30 20:52] ExperimentsInHonesty opened #278 "Create a Guide: Communication (style) Guide for Document Creation - Gather Hack for LA examples"
### Overview
Hack for LA Communities of practice (Product-Management and UX) need to know if your project has used Google Forms and what the URLs are.

### Product Manager Action Items
- [ ] If your project has not created forms please list your project below under "Projects that have no Communications Guide" below
- [ ] Review the existing examples of Communications Guides (under resources below)

[2021-07-31 16:29] ExperimentsInHonesty commented on #201
The google doc has been replaced by this slidedeck [Linkedin Workshop [DRAFT]](https://docs.google.com/presentation/d/1qEnWq4rPxZm0ZtEsa1T0HoNpjuLxvJU2SlweiLYugwo/edit#slide=id.ge1b9cfd85e_1_138) and the issue template [linkedin-setup-checklist](https://github.com/hackforla/internship/blob/main/.github/ISSUE_TEMPLATE/linkedin-setup-checklist.md)

[2021-08-04 02:23] samaynathani opened #279 "Experience Profile: Samay"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-04 15:48] Olivia-Chiong opened #280 "Create a guide: How to setup Figma for teams"
### Overview
We need to turn these [slides](https://www.figma.com/proto/MX5lVWLMSTOCTDXRHaK4jF/Presentations?node-id=1%3A59&viewport=225%2C359%2C0.18814989924430847&scaling=contain) into a guide with screenshots

### Action Items
- [ ] Follow the instructions on this slide and make it into a guide

### Resources/Instructions
Add it to [Civic Tech Structure](https://github.com/hackforla/civic-tech-

[2021-08-05 17:33] natenateo opened #281 "Experience Profile: Nathan Saunders"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-06 17:20] ag2463 commented on #255
The Messy Middle by Scott Belsky

[2021-08-06 17:21] ExperimentsInHonesty opened #282 "Experience Profile: Bonnie Wolfe"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-06 17:22] Jhay95 opened #283 "Experience Profile: Sobechukwu Anwunah"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-06 17:22] DrSavings opened #284 "Experience Profile: NGALEU TIENTCHEU KEVIN"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-06 17:24] priyatalwar opened #285 "Experience Profile: Priyanka Talwar"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-06 17:36] Andan-Eddy commented on #94
different management styles for PMs

[2021-08-06 17:38] Jhay95 commented on #94
Product Management for startups - Working with limited resources/roles as a PM

Understanding how to build a PM role in a startup

Building a Product Strategy and Roadmap

[2021-08-06 17:39] DrSavings commented on #255
Cracking the PM Career by Gayle MacDowell and Jackie Bavaro

[2021-08-06 20:24] Andan-Eddy commented on #255
The Messy Middle by Scott Belsky

[2021-08-06 23:42] priyatalwar commented on #255
Decode and Conquer by Lewis Lin
The Lean Startup by Dan Olsen

[2021-08-06 23:50] Olivia-Chiong commented on #255
Book for August is Cracking the PM Interview by Gayle McDowell and Jackie Bavaro

The reading schedule as follows:

![image](https://user-images.githubusercontent.com/75456721/128580678-8a473c86-7080-4333-8c97-340a90da9b2d.png)

[2021-08-09 00:20] kcoronel commented on #222
@ExperimentsInHonesty @Olivia-Chiong I would love to present this edited template on Wednesday. Check it out here:
https://docs.google.com/document/d/1mrSM14-1jUlO6QcE2JeHSuh7GmjMi_Jizt47rZ8QI3A/edit

[2021-08-09 19:40] Hanastevenson opened #286 "Issue: Create project card for Design Systems on the HfLA website"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  An

[2021-08-10 18:47] sheltoG opened #287 "Experience Profile: Shelton Graves"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-11 16:27] ExperimentsInHonesty commented on #88
@mariastudnicka @ktjnyc this doc uses a different header and does not the footer we are now putting on all guides.  See the [guide on how to make a guide](https://docs.google.com/document/d/1-8gmeC-wnfM8C8fVvmTP1BLA2WfNjKH_XJrHB1OAV6Q/edit) to make updates

[2021-08-11 16:31] ExperimentsInHonesty commented on #74
@ktjnyc we did settle on using the yellow.  Here is a guide with a [guide to how to add screenshots to your guides](https://docs.google.com/document/d/1OyPfKqUU7ZinhjMoRmsXywyZfME_Oo_hpC2Zdxlb310/edit#)

[2021-08-11 17:26] mariastudnicka commented on #88
Hi @ExperimentsInHonesty I updated the footer. I just requested access to the doc for the header template.

[2021-08-11 22:36] Olivia-Chiong commented on #210
Agenda for week of August 9 2021

Discussion topic: Code of Conduct reporting template & Conflict management

This week @kcoronel will be sharing the wonderful guide and template she has created for Code of Conduct reporting. We will also dive into how to manage reporting of incidents.

[2021-08-12 01:25] kevindphan opened #288 "Experience Profile: [Kevin Phan]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-12 01:29] ExperimentsInHonesty commented on #222
@kcoronel The yellow outlines are for highlighting a specific part of a screen shot, you do not need to put a highlight around each one.  Also the numbers are for annotating a single image that needs several items referred to, so please don't use them for your steps.

[2021-08-12 01:31] ExperimentsInHonesty commented on #222
@kcoronel maybe we need some sanitized examples in the doc

[2021-08-12 01:35] Hanastevenson commented on #255
The Making of Manager - Julie Zhuo.

[2021-08-12 01:39] Hanastevenson commented on #255
I found a pretty good thread on twitter covering blogs, newsletters and book recommendations - https://twitter.com/jaysonrobinson/status/1423568645188472834

[2021-08-12 01:50] kcoronel commented on #222
Karen's notes from community of practice meeting on 8/11/21:
Add Bonnie's email address to guide
Recommend to add in admin channel (if not personal)

@ExperimentsInHonesty can you provide some during our meeting on Saturday for 1password? I can also bring the one you included me in. Copy on the numbers. The screenshots are to remain without the border? ![bitmoji](https://sdk.bitmoji.com/render/pan

[2021-08-12 23:55] gigicobos commented on #130
@Olivia-Chiong we'll discuss this tonight with the FOLA team to continue with this issue. We've added a link to our board as a reference.

[2021-08-13 16:14] ExperimentsInHonesty commented on #280
@Olivia-Chiong I was able to setup a for GreenEarthOS by creating an account under the teams hackforla.org email address and making a draft page, then adding 200 pages to it, then moving it to their team. After that I was able to add all the people on the team (using their real email addresses) as editors.  I do not think we should publish this, but we should make an internal guide that we can sen

[2021-08-13 17:16] ExperimentsInHonesty commented on #222
@kcoronel we reviewed the draft during todays community of practice and left some notes in the document.  Also I added another example and things to practice.  Thank you again for your great work on this.

[2021-08-15 01:00] ExperimentsInHonesty commented on #49
@ag2463
update the footer
replace step 1 with prereq : You will need access to the entire project folder or shared drive not just specific documents.
Step 2 section will get moved into the instructions part of the document
Make note in instructions that anything that is not secret or absolutely requires a google doc, should be on the wiki

[2021-08-15 12:43] brandohayes opened #289 "Experience Profile: Brandon Hayes"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-16 01:32] ExperimentsInHonesty commented on #92
Before I review it, did you see this issue #238 which also seems to have a draft doc in it as well as members questions?

[2021-08-16 01:54] ExperimentsInHonesty commented on #58
Completed one sheet.  Needs to be made into pdf

[2021-08-16 01:57] ebele-oputa opened #290 "CoP Repo Cleanup"
### Overview

### Action Items
- [ ] Wiki: Change Olivia's name and replace with mine (link to my Slack)
- [ ] Wiki/Pm board: Draft instructions on experience profile (should direct to start here part of board)
- [ ] Board Cleanup: Ice box and In progress (focus on one sheet)

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue pro

[2021-08-16 14:24] SheIsBukki commented on #92
@alexilee Thanks for doing great work on the guide. Here are the notes from the Leadership review (guides team)
- [ ] Please update the following (see the guides in resources for examples of formatting)
- [ ] Footer
- [ ] I also noticed that there are no screenshots in this guide but maybe it doesn't need one because of the type of guide it is. I have added a few resources you can use to review th

[2021-08-16 15:47] ExperimentsInHonesty commented on #88
@mariastudnicka Here is a link to make the header https://docs.google.com/drawings/d/1YJI1pKheA2uZfI8ICTtR8soJLuhqhoTUrzfv8YQerE4/copy   Please store the file created in the same folder as the guide.

Also, I am confused.  V3 looks weird.  It has the header even on the first page (it should start on second page only) and is missing the map, etc.  Please see the [guide to making guides](https://doc

[2021-08-17 22:49] ebele-oputa opened #291 "Experience Profile: [Your Name]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-18 16:07] ExperimentsInHonesty commented on #88
Updated note for @mariastudnicka I needed to reformat this guide asap for another project, so I created a new [V4](https://docs.google.com/document/d/1YxwE3Edz7xXPVZ156wbIaPlQj7UUssIWN-ctTqbBilE/edit) with some text and menu changes, please use that as your starting point for updating the header.

[2021-08-18 16:24] Olivia-Chiong commented on #210
Agenda for week of August 16 2021

Discussion topic: Product Management Resources

This week we take a look at Product Management resources, communities, websites, podcasts etc that help sharpen our skills, stay up to date on the latest trends, mentorship, collaboration with others, networking, and much more.

Come armed with your favorite resources to share and hear from others on what they read,

[2021-08-19 16:37] kevngaleu commented on #284
- **Context**:  The UX Research and Design team needed the Product Team to review and suggest the Goals and KPIs for the Home Page Redesign and Research Plan they are doing.

- **Task**: On 11/08/2021 I participated in the review of the business goals of the "HfLA Homepage Redesign Research Plan" with the Product Team. I did this by suggesting to reframe objectives to make them more actionable and

[2021-08-19 16:50] kevngaleu commented on #284
- Context: In the management of the Project Board. Issues in the column "New Issue Approval" are issues created by Design and Dev team for the Product team to review before moving into the Ice Box or the prioritized backlog. Some of them labeled "Ready for milestone" need Product Managers to review them and assign the appropriate milestone and move them into the prioritized backlog.

- Task: On 18

[2021-08-20 19:21] ExperimentsInHonesty opened #292 "Issue for storing images for WIKI and note cards"
### Overview
As PMs of this repo we need to store images so that we can display them on places that don't have their own storage (wiki, cards, etc.)

### Action Items
- [ ] Add your issues in a comment below and indicate where they are being used.

[2021-08-20 19:22] ExperimentsInHonesty commented on #292
![GreenEarthOS](https://user-images.githubusercontent.com/37763229/130283631-e572478d-3fa0-466d-9554-669dd1f1a51a.png)

[2021-08-23 23:54] Hanastevenson opened #293 "Add project to the HfLA website"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  An

[2021-08-24 02:41] Hanastevenson opened #294 "Add project to the project page on the HfLA website."
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  An

[2021-08-24 02:59] ebele-oputa opened #295 "Experience Profile: Jane Doe"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-24 03:09] ebele-oputa opened #296 "Experience Profile: Ebele"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-08-24 03:24] ebele-oputa commented on #292
https://user-images.githubusercontent.com/67303685/130550883-adfe9a40-b01a-471d-b35f-253cda6fa9cd.mp4

[2021-08-24 03:44] ebele-oputa commented on #292
![Updating Experience Profile Compressed](https://user-images.githubusercontent.com/67303685/130552441-454fbc73-b84c-4e90-b050-a572ea70281a.gif)

[2021-08-24 20:27] Hanastevenson opened #297 "Create Design System content for the HfLA website."
### Overview
Provide collateral for the HackforLA website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x] 1500 x 700 hero image (please do not put project title on hero image)
     - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [x]  An

[2021-08-24 20:29] Hanastevenson commented on #297
@ExperimentsInHonesty @Olivia-Chiong Once we have this information how do we upload it to the website? Is the PM able to have access to the CMS test different artwork? Also is there a sign off process before uploading to the website?

[2021-08-25 03:46] Olivia-Chiong commented on #297
@Hanastevenson there is no CMS, so there is no testing involved. Once this information is completed, it should be sent to the HFLA website team to be implemented

[2021-08-30 16:44] ExperimentsInHonesty commented on #74
It looks like katie is updating this issue.  I see one screenshot has been remade.  I'll check back next week.

[2021-08-30 16:50] ExperimentsInHonesty commented on #20
Previous issue Description/Top portion

### Overview
We need to standardize our Figmas as well as encourage innovation to make the best use of the tool for teams.  The guide will be informed by all teams current practices and ideas for how to improve.

### Action Items
- [x] Send proposed iconography to all teams to get feedback
   - [x] Make relevant changes
- [ ] All figmas need the following

[2021-08-30 17:12] ExperimentsInHonesty commented on #280
This is no longer the way we do it.  This issue will have to be cleaned up.

[2021-08-30 19:16] Hanastevenson opened #298 "Create Project for Design Systems for HfLA"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project
  - [ ]  A blurb about your project
  - [ ]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [ ]  An

[2021-08-30 23:10] Hanastevenson commented on #271
This has been completed and been reviewed and can be found in Product One Sheet Drafts in the shared draft.

Link to the [Design Systems One Sheet](https://docs.google.com/document/d/1DsKRts479ibNi2EIdOzGeWv9sEY_eMMmy6mw_x6fFqo/edit#)

[2021-08-30 23:16] Hanastevenson commented on #297
- [ ]  [600 x 400 image](https://drive.google.com/file/d/1X5FLl9PdU-lI-bWWY9H2Hpa5AAPZ_5Kz/view?usp=sharing)
- [ ]  Alt image text - 'Hack for LA logo and the title of the project, Design Systems'
- [ ]  [1500 x 700 hero image](https://drive.google.com/file/d/1MiwRrs3idDNf86CKoF7zILmWDD0vqm6y/view?usp=sharing)
- [ ]  Alt image text 'Colourful illustrations of the elements that form a Design System

[2021-09-01 22:40] dddhoang opened #299 "Experience Profile: David Hoang"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-09-03 15:31] SheIsBukki commented on #114
### Dependency
Bonnie finding the T&C from TDM

### Overview

We need a template Terms & Conditions document for projects to use.

### Action Items
- [ ] Product/Legal
   - [ ] edit the existing terms and conditions template in google docs to genericize it.
      - [ ] create sub-sections to be included as appropriate
         - [ ] Has website
         - [ ] Has application
   - [ ] pilot it on t

[2021-09-04 16:53] ExperimentsInHonesty commented on #178
We are no longer working on this issue in the product management community of practice.  It has been moved to the Admin repo https://github.com/hackforla/admin/issues/6

[2021-09-04 16:53] #178 closed

[2021-09-04 16:56] ExperimentsInHonesty commented on #128
We have closed this guide issue because its being handled by admin https://github.com/hackforla/product-management/issues/178#issuecomment-913004416

[2021-09-06 03:05] kcoronel commented on #90
Demo site: https://ballotnav.org/

[2021-09-06 15:19] ExperimentsInHonesty commented on #228
@Sihemgourou are you done working on this?

[2021-09-06 15:20] Sihemgourou commented on #228
Hello !
I never started, sorry !

[2021-09-06 15:25] ExperimentsInHonesty commented on #132
@sdimran Olivia and I created the landing page.  They have since taken it down, but you can see a copy of it here
https://100automations.github.io/landingpage/

Also, I can put my notes here about how its constructed:
its a mail chimp page inside of an iframe.
Here is where you can see the code for the page https://github.com/100Automations/landingpage
its really just one html file + the mail chim

[2021-09-06 19:05] ExperimentsInHonesty commented on #70
This mockup needs updating so that we can update the guide on the website and use the information in the Kanban guide
![image](https://user-images.githubusercontent.com/37763229/132254328-8a3cc3ae-2993-412d-8a1c-dfbad664350b.png) to see if

Related links:
[Mockup in Figma of the change we original requested](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=5903%3A40167

[2021-09-08 15:08] ExperimentsInHonesty commented on #74
@ktjnyc Thanks for updating the images.  I changed what happens when people click on the template issue, now it forces them to make a copy.  Can you replace the screen shot and instructions for that part.  There is a comment in the issue.

[2021-09-09 00:44] Olivia-Chiong commented on #210
Agenda for week of September 6th

Discussion topic: Kanban board management, labels and onboarding

This week Bonnie is going to go over labelling and proper use of Kanban on your projects, onboarding new PMs who need projects and troubleshooting any blockers.

[2021-09-10 16:13] ebele-oputa commented on #131
@Olivia-Chiong This should be closed since we have the other issue on agenda setting. I got confused for a sec.

[2021-09-15 17:02] ebele-oputa commented on #210
Agenda for week of September 13th

Discussion topic: Bookclub discussion on Cracking the PM Interview by Gayle McDowell and Jackie Bavaro

Invited speaker: Jackie Bavaro

Other items for discussion:
- Volunteers to make a presentation during our CoP meeting on the 22nd and other dates

[2021-09-16 00:19] kcoronel commented on #255
Thanks so much for being here! The frameworks in this book are super helpful, however I wonder if there is anything you would update to make the book more relevant for today?

[2021-09-16 00:24] gigicobos commented on #255
How do you see the role of a Product Manager and the teams' structure transform in the next 5 years?

[2021-09-16 00:38] kcoronel commented on #255
What are your top 3-tips for what aspiring PM's should include on their LinkedIn page ?

[2021-09-16 00:44] kcoronel commented on #255
What time-management skills do you use on the daily?

[2021-09-16 01:26] priyatalwar commented on #255
What advice do you have for someone who is just starting out on learning the art of saying "No".

[2021-09-17 14:59] ExperimentsInHonesty commented on #74
@ktjnyc I know you are super busy.  Do you want me to have someone else pickup on this issue?

[2021-09-22 14:23] ebele-oputa commented on #210
Agenda for Week of Sept 20 2021

Discussion topic: Different types of product management software and use cases
Opportunity for PMs to make impromptu presentations on the tools they use

- Call for volunteers to present future weekly topics (Great opportunity to practice presentation skills)
- Call for votes for next PM book reading - Issue #255
- Introducing the PM/tech word of the week
- Experie

[2021-09-22 14:48] ExperimentsInHonesty commented on #74
@ktjnyc I know you are super busy. Do you want me to have someone else pickup on finishing this guide?

[2021-09-22 14:59] ExperimentsInHonesty commented on #88
@mariastudnicka I know you are busy.  I am bumping up this is your inbox.  My last message was on August 18th.

If you do not have time for this guide issue anymore we understand, just let us know.

[2021-09-22 16:41] ExperimentsInHonesty commented on #24
This issue has been replaced with the design systems team efforts and issue # https://github.com/hackforla/design-systems/issues/109

[2021-09-22 16:41] #24 closed

[2021-09-22 19:56] ktjnyc commented on #74
The last item has been updated.

On Wed, Sep 22, 2021 at 10:49 AM Bonnie Wolfe ***@***.***>
wrote:

[2021-09-22 19:56] ktjnyc commented on #74
The last item has been updated

[2021-09-23 01:23] dddhoang commented on #255
1. The Messy Middle
2. Good strategy Bad Strategy
3. Escaping the Build Trap

[2021-09-23 01:25] kevindphan commented on #255
1. Decode and Conquer
2. How to Win Friends and Influence People
3. Empowered

[2021-09-23 01:25] Rabia2219 commented on #255
Start with Why - Simon Sinek
Hooked - Nir Eyal
Strong Product People - Petra Willes

[2021-09-23 01:25] thomasdemoner commented on #255
My top 3 votes for next book reading:

1. How to Win Friends and Influence People - Dale Carnegie
2. The Lean Startup - Dan Olsen
3. (New suggestion) Who Moved My Cheese - Spencer Johnson
      This last one is very short and easily done in a week (or even a day), but I really enjoy coming back to it.

[2021-09-23 01:25] PLoiya commented on #255
1. Hooked
2. Empowered
3. Good strategy Bad Strategy

[2021-09-23 01:25] priyatalwar commented on #255
1. Decode and Conquer
2. The Lean Start up
3. Empowered

[2021-09-23 16:18] Rabia2219 commented on #204
@thomasdemoner
This is the Experience Profile Ebele was talking about at the COP last night. This is mine. You need to make one for yourself. You can find the template [here](https://github.com/hackforla/product-management) (the link to the template is in item 6). If you have any questions, you can reach out to me.

[2021-09-23 16:24] Rabia2219 commented on #210
@ExperimentsInHonesty @Olivia-Chiong @ebele-oputa
Suggestions for COP meetings:

- Seasoned volunteer PMs can do a presentation on how to go about checking items off of the Experience Profile.
- Any PM who has had a Linkedin profile workshop with Bonnie can do a presentation on how to fill in the Resume Content Builder.

They can do a short presentation and if there are more than one PMs who are f

[2021-09-24 02:29] EchoProject opened #300 "Experience Profile: Eric Cho"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-09-24 07:36] abuna1985 commented on #297
@Hanastevenson @ExperimentsInHonesty Per the issue instructions for [#2255](https://github.com/hackforla/website/issues/2255), I am attaching the comment below with screenshots of the proposed project card/profile for the Design Systems project. As soon as this is approved, I will complete a pull request to be added to the website.
https://github.com/hackforla/website/issues/2255#issuecomment-9264

[2021-09-24 17:12] EchoProject commented on #255
1. Influence: The Psychology of Persuasion
2. The Basic Laws of Human Stupidity
3. The Anatomy of Story: 22 Steps to Becoming a Master Storyteller

[2021-09-24 17:15] citrusapple commented on #255
1. Cracking the PM career
2. Good strategy Bad Strategy
3. How to Win Friends and Influence People

[2021-09-24 17:16] lrchang2 commented on #255
1. The Messy Middle
2. The Basic Laws of Human Stupidity
3. Good strategy Bad Strategy

[2021-09-25 02:26] jackrinjames opened #301 "Experience Profile: Jackrin Vipatapat"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-09-27 22:32] ebele-oputa opened #302 "Create poll for bookclub voting"
### Overview
We need to compile the list of suggested books and create a poll to choose the b books to read so that every member of the PM CoP feels included in decision making.

### Action Items
- [ ] Create poll
- [ ] Share on slack
- [ ] Get team to cast vote during these meetings -
  - [ ] Wednesday
  - [ ] Friday
- [ ] Announce results

### Resources/Instructions

[2021-09-27 22:55] ebele-oputa commented on #210
Agenda for Week of Sept 27 2021

Discussion topic: Peer-to-peer Networking: What projects are we working on and what can be learned from our processes?

This week will have PM leads and their Co-leads talk to the CoP about their projects, the problems they have encountered and how they have solved the problems. The goal is for the community especially the new PMs to share ideas, ask questions and

[2021-09-28 01:59] ebele-oputa opened #303 "Conduct research on CoP attendance"
### Overview
We need to conduct a research to identify the reasons for low attendance at weekly meetings. Outcomes include understanding volunteer motivations, discovering effective meeting practices and how to improve attendance, etc. The research will initially focus on the PM CoP before being implemented by other projects.

### Action Items
- [ ] Create job ad on UI/UX board
- [ ] Recruit lead

[2021-09-28 21:08] priyatalwar opened #304 "PM project presentation at the COP"
### Overview

We need to have PMs share a description of their project at our Community of Practice this week so that they can share what they are working on and we can learn from each other

### Action Items
- [] Reach out to PMs
- [] Share on slack
- [ ] Add one PM for each project

| Project Name                        | Wed 9/29
| ----------------------------------- |
| 100 Automations

[2021-09-29 03:57] ebele-oputa opened #305 "Conduct research on CoP attendance"
### Overview
We need to conduct a research to identify the reasons for low attendance at weekly meetings. Outcomes include understanding volunteer motivations, discovering effective meeting practices and how to improve attendance, etc. The research will initially focus on the PM CoP before being implemented by other projects.

### Action Items
- [ ] Create job ad on UI/UX board
- [ ] Recruit lead

[2021-09-29 04:00] ebele-oputa commented on #305
@melissamurphy once you've created the issue for the research plan, please add it as a resource in the overview box

[2021-09-29 23:24] thomasdemoner commented on #204
OH got it got it. I just realized it gets saved as an issue on its own kanban, right?

And I do have one more question: For items that have been "completed" on our projects before we joined the team - like a project one-sheet, for example - do we check it off as completed in our experience profiles? Do we just have to kind of look at those items to check them off for ourselves, or should we not ch

[2021-09-29 23:30] thomasdemoner opened #306 "Experience Profile: Thomas W. Demoner"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-09-29 23:48] thomasdemoner commented on #306
Just to clarify if anyone wonders why this isn't properly assigned to myself or to the project, I'm trying to do it, but the option to assign it to anyone - or to do anything on the specs menu on the right - isn't showing up for me as it does in the example. I'll ask for help in my next meeting.

[2021-09-30 00:55] Rabia2219 commented on #204
No problem :)
You don't check any item off unless you've actively worked on it...

[2021-09-30 19:32] patula006 commented on #133
I am working on the new Hack for LA landing page and have been tasked with writing a description of each COP. I would like to get feedback on my brief description to ensure accuracy and I also would like to include an example project or two for each one. Thank you in advance for your help! Patty
**Brief description:**
The Product Managers (PM) Community of Practice (COP) is a space for product man

[2021-10-04 16:27] ExperimentsInHonesty commented on #64
This issue is completed https://github.com/hackforla/product-management/blob/master/project-one-sheets/GreenEarthOS-One-Sheet.pdf

[2021-10-04 16:28] #64 closed

[2021-10-04 21:57] DrIffathsultana commented on #21
Due to my limited availability, I might not be able to continue working on this guide. I would be happy if anyone wants to work on this guide in the future.

[2021-10-04 23:13] ebele-oputa commented on #255
Book for October is The Design of Everyday Things by Don Norman

The reading schedule as follows:

<img width="585" alt="Screenshot 2021-10-04 at 17 12 55" src="https://user-images.githubusercontent.com/67303685/135936698-4d3841ec-622c-4bd9-b75b-668283c1be4c.png">

[2021-10-04 23:49] ebele-oputa commented on #210
Agenda for Week of Oct 4 2021

Discussion topic: Experience profile and Mock interviews

This week we will practice how to give the best answer during a PM interview. We will take turns answering PM interview questions and giving feedback to other PMs on their answers. There will be break-out rooms for one-on-one interactions and a general discussion on what was learned.  Be prepared to tell us ab

[2021-10-05 17:19] Benbaillou commented on #133
Benjamin Baillou " I need access"

[2021-10-06 15:01] ExperimentsInHonesty commented on #235
@ktjnyc Hi, I was checking out this issue because we are almost done with the [Guide to making a one sheet issue.](https://github.com/hackforla/product-management/issues/74) and I realized this guide needs to be completed so that we can publish the one sheet issue.

I don't think Oliva has time for this stuff anymore.  I will pick this up.  I'll give you some feedback by next week.

[2021-10-06 17:46] Benbaillou opened #307 "Experience Profile: Benjamin Baillou"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2021-10-07 01:51] mariastudnicka commented on #88
Hi @ExperimentsInHonesty So sorry about the crazy delay.
So I spent about an hour trying to figure out how to hack the margins of the header to show no white space with no success. I formatted the header to 0 margins, I also made sure the page setup was at 0 at the top of the page.

The header is there but there's a white space on top of the header. I [used V4 doc](https://docs.google.com/document

[2021-10-15 17:02] ebele-oputa opened #308 "Create a responsibilities doc for CoP"
### Overview
We need to create a document that details the responsibilities of the product management community of practice lead/co-leads so that PMs know what it entails and can decide if they want to volunteer or not.

### Action Items
- [x] Research on similar docs
- [x] Draft doc
- [ ] Review doc with Bonnie, Carol and Priyanka

### Resources/Instructions
[PM CoP Lead Responsibilities Doc](htt

[2021-10-16 08:37] priyatalwar opened #309 "Create a roadmap for COP"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-10-21 06:59] priyatalwar opened #310 "Create a guide for PM terminology"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-10-25 22:11] ebele-oputa opened #311 "Recruit UI/UX Researchers for PM CoP research project"
### Overview
We need to recruit UI/UX Researchers for the PM CoP research project so that we can identify the reasons for low attendance at weekly meetings.

### Action Items
- [x] Create job posting on UI/UX board
- [x] Follow-up with CoP leads
- [x] Onboard researchers

### Resources/Instructions
[Job posting](https://github.com/hackforla/UI-UX/projects/2#card-68558152)

[2021-10-25 22:58] ebele-oputa opened #312 "Recruit new CoP leads"
### Overview
We need to recruit new CoP leads so that we can have efficient meetings.

### Action Items
- [x] Create reponsibilities doc
- [ ] Share opportunity with CoP
- [ ] Recruit new leads
- [ ] Onboard leads

### Resources/Instructions
#308

[2021-10-28 22:59] ebele-oputa opened #313 "PM CoP Google File Migration"
### Overview
We need to move files from our project folder to a newly created project drive so that the organisation (rather than an individual) has control over documents and to prevent the loss of documents when/if deleted by an individual.

### Action Items
- [x] Create folders in new drive
- [ ] Create list of people and documents to be moved
- [ ] Share follow-up tasks between PMs
   - [ ] Pr

[2021-10-30 07:35] priyatalwar opened #314 "Create a Guide/Template: [PM Terminology] for your project"
### Overview
We need to create a guide to making [name of item] so that [purpose of the item]

### Action Items
- [ ] Gather examples of how other Hack for LA projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template, either in markdown format in this iss

[2021-11-01 08:52] ExperimentsInHonesty commented on #111
I edited the [EMS Triage Tracker one sheet](https://docs.google.com/document/d/1ly8rrgzJIYr6LLZEIZ05LUpaNxQxLgU22Bw6HQAok9Y/edit#) and uploaded a pdf here https://github.com/hackforla/product-management/blob/master/project-one-sheets/EMS-Triage-Tracker-One-Sheet.pdf
And I updated the tracking issue https://github.com/hackforla/product-management/issues/3

[2021-11-01 08:52] #111 closed

[2021-11-01 16:33] ebele-oputa commented on #310
@priyatalwar I see you created another issue on this same topic. Can you delete the

[2021-11-01 16:34] ebele-oputa commented on #308
@priyatalwar have you looked at the document?

[2021-11-01 16:41] ebele-oputa opened #315 "Write content for wins page"
### Overview
I need to write an exciting piece about the role HackforLA played in getting me my first PM job so that others can be inspired to join the organisation.

### Action Items
- [ ] Gather insights for write up
- [ ] Draft story
- [ ] Share on this [page](https://www.hackforla.org/wins/)

### Resources/Instructions

[2021-11-01 16:59] ebele-oputa commented on #309
@priyatalwar can you check if there are roadmap-related issues to be added to the list above? Thanks!

[2021-11-01 22:31] Civic-Opportunity-Project opened #316 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1WFiWycdt_i3Oi11YFld5k-IBMpnOmJmdmOaZvLIvBsk/edit)

- [ ] Review Lewis C. Lin's Interview Community (Slack Workspace) in Row 4
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-11-03 01:21] Civic-Opportunity-Project opened #317 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1WFiWycdt_i3Oi11YFld5k-IBMpnOmJmdmOaZvLIvBsk/edit)

- [ ] Review Product School, Product Buds, Lewis Lin community (Slack Workspace) in Row 5
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-11-03 18:19] ExperimentsInHonesty commented on #268
@akhaleghi Are you still working on this issue?  I see no response since my last comment on Aug 26th

Do you want to be un assigned from the issue?

[2021-11-03 19:46] akhaleghi commented on #268
@ExperimentsInHonesty I believe the guide is mostly done. You have one comment in the document that we should discuss, so I will add it to the Data Science PM meeting agenda and we can review it together. Otherwise it is ready for Leadership Review.

[2021-11-03 21:38] ExperimentsInHonesty commented on #235
Ignore my last comment, I probably meant it to be added to another issue

If you are still interested in working on this.  I would be happy to meet with you on zoom and we could record the session.  Please let me know by replying to this issue.  We check issue comments for guides on M - W - F am.

[2021-11-03 22:35] priyatalwar commented on #210
Agenda for week of Nov 3rd, 2021

Discussion topic: Brainstorming more interview questions

This week we will be continuing with our interview series prep and will be discussing behavioral questions. Please don't come prepared since we want to see if you are able to think on your feet

- What was your most challenging project?
- Tell us about a project you enjoyed most or are passionate about.
- T

[2021-11-04 21:16] Civic-Opportunity-Project opened #318 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1WFiWycdt_i3Oi11YFld5k-IBMpnOmJmdmOaZvLIvBsk/edit)

- [ ] Review People in  Product (PIP) (Slack Workspace) in Row 6
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-11-04 22:21] priyatalwar commented on #309
@ebele-oputa added a few more.

[2021-11-04 22:56] ebele-oputa commented on #309
- [ ] create an agenda for these meetings

[2021-11-04 23:33] ebele-oputa commented on #308
review this info and determine if you want to add any of this to the responsibilities list:
a.     Onboarding Support for New Teammate’s by creating a holistic curriculum
b.     Rethink the leadership plan for PDM’s
c.     Development of a Hack for LA Product Roadmap
d.     Creating and socialize the Community of Practice for PDM’s
e.     Support the Career Development of PDM’s and provide a frame

[2021-11-04 23:34] ExperimentsInHonesty commented on #9
I have requested access to this document

[2021-11-05 01:47] ebele-oputa opened #319 "Agenda for PM CoP roadmap meetings"
### Overview
This issue tracks the agenda for the PM CoP roadmap meetings.
11/11/21

### Resources
#309

[2021-11-05 01:48] ebele-oputa commented on #319
Agenda for 11/11/21

- Roll call
- Research updates
-

[2021-11-05 06:10] priyatalwar commented on #308
- Use the OM CoP to assign PMs to contribute to a PM guide
 - support projects in recruiting New PMs
 - make sure new PMs have attended onboarding, assigned to a project, have access to PM repository and have added themselves to the roster
 - make sure meeting is being recorded and the recording link is uploaded to the appropriate folder
- facilitates at least 2 meetings a month with a prepared an

[2021-11-05 06:15] priyatalwar commented on #308
@carolzjy feel free to add anything to this doc that we may have missed so we can review and finalize at our meeting next week.

[2021-11-05 06:27] priyatalwar commented on #312
Update: 11/1: Carol Zhu is our new PM CoP lead. Need to recruit one more.

[2021-11-05 06:29] priyatalwar commented on #312
Added a few to #308

[2021-11-05 16:38] ebele-oputa commented on #305
Recruited Jedida Milton for the UX Researcher role

[2021-11-05 21:04] akhaleghi commented on #268
@akhaleghi Add additional resources from Eric into the Google Document

[2021-11-07 05:04] ebele-oputa opened #320 "Update slack channel notifications"
### Overview
We need to update the #product-management slack channel meeting notifications so that PMs find it easy to join weekly meetings.

### Action Items
- [x] Confirm meeting links
- [x] Draft notifications
- [x] Test to see if it works as intended

### Resources/Instructions

[2021-11-08 17:21] ExperimentsInHonesty commented on #222
@kcoronel where are we with this draft.  Is it ready for leadership review?  Or another peer review?

[2021-11-08 17:24] ExperimentsInHonesty commented on #227
@ggrrettcchhenn @Andan-Eddy are you still planning on providing a peer review on this issue?  If not, please unassign yourself.  Thanks!

[2021-11-09 20:10] ebele-oputa commented on #308
@priyatalwar added your list to the document

[2021-11-09 20:12] #311 closed

[2021-11-09 20:34] #320 closed

[2021-11-10 16:23] ExperimentsInHonesty commented on #235
Hi @ktjnyc If you are still interested in working on this. I would be happy to meet with you on zoom and we could record the session. Please let me know by replying to this issue. We check issue comments for guides on M - W - F am.

If you don't have the bandwidth, please let me know and i'll unassign you from the issue and put it back into the prioritized backlog.

[2021-11-10 16:32] ExperimentsInHonesty commented on #227
Hi kids! Second reminder  @ggrrettcchhenn @Andan-Eddy are you still planning on providing a peer review on this issue? If not, please unassign yourself. Thanks!

[2021-11-10 20:01] ExperimentsInHonesty opened #321 "List of active projects"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-11-11 00:46] ExperimentsInHonesty commented on #259
@kcoronel it looks like you are assigned to this issue.  Do you want to keep working on it, or would you like to be unassigned?

[2021-11-11 00:47] carolzjy commented on #210
Agenda for the week of Nov 10th, 2021

Discussion topic: Product Development Lifecycle

This week we will have an impromptu discussion on product development lifecycle.

Other items -
• Remind all present PMs to read the book for book club

[2021-11-11 00:48] ExperimentsInHonesty commented on #224
@Andan-Eddy It looks like you are assigned to this issue.  Did you still want to work on this or should I unassign you?

[2021-11-11 15:36] ktjnyc commented on #235
I wouldn't be able to assist on this for a few weeks and don't want to hold things up so I've unassigned myself and put in the prioritized backlog.

[2021-11-11 17:48] akhaleghi commented on #268
Added migration tutorial video to Additional Resources section

[2021-11-11 20:31] ebele-oputa commented on #319
### Research Updates
The assigned UX Researcher is reviewing the documents/issues and will produce a list of findings and/or a research plan for further studies

[2021-11-12 16:58] ExperimentsInHonesty commented on #160
- [ ] Check this guide against the template for guide creation to make sure that it has all the required sections.
- [ ] Then evaluate if it needs all the s[ections that have been defined by the author above](https://github.com/hackforla/product-management/issues/160#issuecomment-884057798).  If it does not, feel free to remove them.
- [ ] Identify what else the guides needs.

[2021-11-12 18:49] ExperimentsInHonesty commented on #319
- [ ] Update slack reminders that contain the zoom link to the CoP meetings

[2021-11-12 18:53] ExperimentsInHonesty commented on #308
- [ ] reach out to Kevin Wange from UI/UX CoP he has created some documents for his CoP

[2021-11-12 19:19] ExperimentsInHonesty commented on #313
Bonnie is going to meet with Olivia on 11/12 and have her move her files

[2021-11-12 19:20] priyatalwar commented on #313
Priyanka to add names and emails of people to whom we need to reach out to for moving their files.

[2021-11-12 19:21] ExperimentsInHonesty commented on #319
11/18/21

* Research updates [Create a roadmap for PM COP #309](https://github.com/hackforla/product-management/issues/309)
* Review of PM responsibilities doc [Create a responsibilities doc for CoP #308](https://github.com/hackforla/product-management/issues/308)
* PM CoP Google File Migration [PM CoP Google File Migration #313](https://github.com/hackforla/product-management/issues/313)

[2021-11-12 19:26] ExperimentsInHonesty commented on #305
- [ ] Add researcher to the google drive and ask the researcher to add herself to the roster.

[2021-11-13 17:58] Andan-Eddy commented on #224
I will not have time to work on this in the next two weeks- should I unassignment myself in this case?

[2021-11-15 15:50] ExperimentsInHonesty opened #322 "Guide Templates: Propose a new section"
### Overview
We need to make sure that the guides are consistent so that users can learn to navigate them and use them easily.

### Action Items
- [ ] Add the template heading proposal below with the following information
  - [ ] Name of guide
  - [ ] Link to guide
  - [ ] Name of the new heading (include bold where applicable)
  - [ ] What sections it goes between
  - [ ] Why you think it is nece

[2021-11-18 02:33] carolzjy commented on #308
Update: reached out to Kevin Wang, Greg Pawin, and QiQi on Slack on 11/17. No response yet. Will follow up again on 11/24

[2021-11-18 03:32] ebele-oputa commented on #305
Update: I tried to reach the researcher multiple times but wasn't getting any response. Finally scheduled a meeting yesterday (11/16) but couldn't get her to perform the above tasks. I've sent follow-up messages summarising the action points but still no response. I'll give it another week and then decide what the way forward would be.

[2021-11-18 04:29] priyatalwar commented on #210
Agenda for the week of Nov 17th, 2021

Discussion topic: Product Development Lifecycle

This week we will have a discussion on the product development lifecycle since we did not get to have it last week.

Other items -
• Remind all present PMs to read the book for book club

[2021-11-18 04:39] priyatalwar commented on #313
Name                      |          Email                                       |
| ----------------------------------- | ------------------------- | ------------------------------------------------------------------ |
|  Nathan Saunders           |                                              |
| Olivia Chiong                  |                                                     |
|  Seena Iype

[2021-11-19 15:55] ExperimentsInHonesty commented on #183
Next steps for this issue is to inventory all projects to find out who has a presentation deck.  You can start with the list I have provided in the resources, but you should check all our active projects and add the inventory to the resources
https://github.com/hackforla/product-management/issues/321

[2021-11-19 16:54] ExperimentsInHonesty commented on #222
@kcoronel  checking in with you again

[2021-11-19 16:55] ExperimentsInHonesty commented on #222
Left a message on product management slack

[2021-11-19 16:56] ExperimentsInHonesty commented on #227
posted a message on slack for them.

[2021-11-19 18:35] kcoronel commented on #222
Apologies for the delay, I made updates to the document and it is ready for another round of peer review (I want to make sure the comments were addressed properly).

[2021-11-19 18:36] kcoronel commented on #259
@ExperimentsInHonesty I would like to keep it. I am down to two contracts instead of three and 1/2 so I will have time to complete a first draft in time for Wednesday's PM meeting.

[2021-11-25 01:02] kcoronel commented on #259
I started a google sheet with glossary terms, it is linked above in the overview.

[2021-11-29 15:58] ExperimentsInHonesty commented on #125
This guide needs to capture the way we have been using story points for the past 6 months on various projects so that we can publish a standardized methodology

**Points for Repos**
Google Sheet: GitHub: [Point System Labels](https://docs.google.com/spreadsheets/d/1q0g4049PVFAK2Nc6gglapnlFouqSfne1AiSP_gDeyLY/edit#gid=0)
| label       | Description                             |
| ----------- | ----

[2021-11-29 16:41] ExperimentsInHonesty commented on #205
@myrandi Hi, hope you had a great holiday.  Are you still working on this, or would you like to be unassigned?

[2021-12-01 16:15] ExperimentsInHonesty commented on #227
Removed Olivia from the issue

[2021-12-01 16:26] ExperimentsInHonesty commented on #259
@kcoronel its looking good.  I added some formatting to it, to make it easier to read.  What are the next steps?

[2021-12-01 16:28] ExperimentsInHonesty commented on #224
@Andan-Eddy no you can keep it.  And look!  its been 2 weeks. 🤣

[2021-12-01 16:36] ExperimentsInHonesty commented on #132
@sdimran are you still working on this guide?

[2021-12-01 16:37] ExperimentsInHonesty commented on #73
@carolzjy are you still working on this guide, or do you want to be unassigned?

[2021-12-01 16:42] ExperimentsInHonesty commented on #80
@connie-yu-dotcom checking in with you.  It looks like you did quite a bit of work on this so far.  Will you be finishing it, or should we unassign.  If we are unassigning you from it.  Are there any other notes or updates you can provide which will help someone finish the issue.

[2021-12-01 16:44] ExperimentsInHonesty commented on #110
@mariastudnicka checking in with you.  Are you still interested in finishing this issue?  Or should we unassign you?

[2021-12-01 16:49] ExperimentsInHonesty commented on #278
I am posting this issue in the Product Management community of practice to ask projects to  provide updates

[2021-12-01 20:58] connie-yu-dotcom commented on #80
Hi Bonnie,

You can take me off the project. Thank you for allowing me to participate.

[2021-12-02 00:11] mariastudnicka commented on #110
Thanks for the reminder, Bonnie! That totally fell off my radar. : (
Could you please unassign me?

I’ve been slammed with work.

Maria

On Wed, Dec 1, 2021 at 8:44 AM Bonnie Wolfe ***@***.***>
wrote:

[2021-12-02 01:11] ebele-oputa commented on #305
Update (12/1/21):
- I don't have permission to add a user to the product management repo
-  The researcher developed [a summary of findings deck](https://docs.google.com/presentation/d/1iQS-eee1G9s8pEo2XXcWW_bbBvBYGAjgYdE4jlsiUlw/edit#slide=id.g103001affb7_0_49) that needs to be interrogated further

[2021-12-03 00:55] ebele-oputa commented on #319
12/02/21 Meeting

Roll call - Bonnie, Olivia, Ebele

Decisions:
 - Modify the roadmap meeting time to suit the availability of the PM CoP leads
 - Postpone the product management community of practice meeting till January
 - Provide progress updates during the next meeting

[2021-12-03 02:09] carolzjy commented on #73
Hi Bonnie, I have not started working on this. I just un-assigned myself.

[2021-12-03 07:26] priyatalwar commented on #210
Agenda for the week of Dec 1st, 2021

Discussion topic: Imposter Syndrome

At some point in our life, we all deal with an imposter syndrome. Let's discuss what it is, your experiences and any tips to overcome it

Other items -
• Remind all present PMs to read the book for book club

• Nas to present the user research request on behalf of design systems

[2021-12-03 15:43] ExperimentsInHonesty commented on #92
The author has removed themselves, this guide is ready for someone else to finish up.

Additional suggestions for improvement:
- See notes from Bukki above https://github.com/hackforla/product-management/issues/92#issuecomment-899553880
- It also needs a reference to LinkedIn.  Meet with Bonnie and discuss

[2021-12-03 15:52] Rabia2219 commented on #210
Potential discussion topics:
- Tell us about your first week as a PM
- What additional skills do you think an aspiring PM can benefit from? SQL, Data Analytics, Jira (or any other project management software), etc

[2021-12-05 08:11] priyatalwar commented on #210
More topics:
 - Data-driven PM - how to be more data-driven as a PM, both qualitatively and quantitatively, including choosing the right metrics (analytics), experimentation (such as A/B testing), and user research
 -  Industry-specific PM speaker?
 - Communication: PM and UI/UX
 - Communication: How to communicate with Engineers
 - How to solve problems ambiguously as a PM
 - How to prioritize
 -

[2021-12-05 08:13] priyatalwar commented on #210
@carolzjy @ebele-oputa Update of Figjam workshop: Lissa has confirmed to conduct a FigJam workshop on Jan 5th (Wed) at 6 pm during our PM CoP

[2021-12-06 15:37] ExperimentsInHonesty commented on #259
@kcoronel its looking good. I added some formatting to it, to make it easier to read. What are the next steps?

[2021-12-06 15:37] ExperimentsInHonesty commented on #224
@Andan-Eddy checking in on you again on this issue.

[2021-12-06 15:38] ExperimentsInHonesty commented on #205
bumping this back into your inbox - @myrandi Hi, hope you had a great holiday. Are you still working on this, or would you like to be unassigned?

[2021-12-06 15:42] ExperimentsInHonesty commented on #132
bumping this back into your inbox @sdimran are you still working on this guide?

[2021-12-06 15:43] ExperimentsInHonesty commented on #73
@carolzjy thanks!

[2021-12-06 15:46] Andan-Eddy commented on #224
I won't have time to work on this before Christmas, and don't know when I will be able to after that. I unassigned myself. If I have time post-Christmas I will see if it still needs to be worked on.

[2021-12-06 16:07] ExperimentsInHonesty commented on #278
Transferred the updates to the issue https://github.com/hackforla/product-management/issues/22

[2021-12-06 16:38] ExperimentsInHonesty commented on #152
@erigilg what was meant by Data Analysis tools?

We have the following guides that seem related.
- https://github.com/hackforla/UI-UX/issues/60
- https://github.com/hackforla/product-management/issues/73 & - https://github.com/hackforla/product-management/issues/184 which seem to be about the same thing

[2021-12-06 16:58] ExperimentsInHonesty commented on #110
@mariastudnicka I know you are not assigned to this issue anymore but I just wanted to drop in and say I really appreciated your work on this.  It will make an incredible guide after the examples from Hack for LA projects are added.

[2021-12-06 17:01] ExperimentsInHonesty commented on #155
This guide might be needed after we finish the roadmap guide https://github.com/hackforla/product-management/issues/110 re-evaluate when that is finished.

[2021-12-06 21:38] mariastudnicka commented on #110
Thanks so much, Bonnie!
I really appreciate that. : )

On Mon, Dec 6, 2021 at 8:58 AM Bonnie Wolfe ***@***.***>
wrote:

[2021-12-13 01:52] ExperimentsInHonesty commented on #26
This has been completed and accepted

[2021-12-13 01:52] #26 closed

[2021-12-13 15:54] ExperimentsInHonesty commented on #25
Bonnie to talk to the 100 Automations team about making a automation out of this practice

[2021-12-16 16:12] SheIsBukki commented on #88
Hi @mariastudnicka, hope you're well, we are trying to access the [V4 Doc](https://docs.google.com/document/d/1YxwE3Edz7xXPVZ156wbIaPlQj7UUssIWN-ctTqbBilE/edit#heading=h.q22puj1hniac) but it says "Access Denied", can you confirm whether it is in the right drive? If not can you move it to the right [folder](https://drive.google.com/drive/u/0/folders/1ddF8xiDjlCZH97lRCUa2f_PmlDb9nr9S?ths=true)

[2021-12-17 00:09] mariastudnicka commented on #88
That’s super weird. It says I don’t have permission to access it. : (

On Thu, Dec 16, 2021 at 8:13 AM Bukola Ogunleye ***@***.***>
wrote:

[2021-12-17 17:10] ExperimentsInHonesty commented on #88
@mariastudnicka I figured it out!!! I had migrated the files to the new google shared drive, but had not added everyone yet.  You should have gotten an email just now, telling you we have added you to the drive.  And you should have access to the files now.

[2021-12-18 04:38] kcoronel commented on #259
@ExperimentsInHonesty I would recommend the next steps bringing this up to the entire PM community for input that I may have missed.

[2021-12-20 15:50] ExperimentsInHonesty commented on #319
Next meeting discuss this
- https://github.com/hackforla/product-management/issues/259

[2021-12-20 16:47] ExperimentsInHonesty commented on #205
@myrandi bumping this back into your inbox (also reaching out to you on slack), but please reply here, in case I miss the message

[2021-12-20 17:14] ExperimentsInHonesty commented on #224
Thanks @Andan-Eddy I'll stick it in the prioritized backlog on the CoP!

[2021-12-20 17:17] ExperimentsInHonesty commented on #132
@sdimran we are going to unassign you from this issue.  If you want to work on it again, please provide update and reassign yourself
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-12-20 17:21] ExperimentsInHonesty commented on #132
https://CivictechIndex.org is using one which is created in React and wired up to their Django back end instead of Mailchimp or other temporary solutions
![image](https://user-images.githubusercontent.com/37763229/146806674-13e33d12-e0fe-4164-9f72-e71f5fd70c44.png)

[2021-12-20 17:34] ExperimentsInHonesty commented on #152
@erigilg Bumping this back up your inbox

[2021-12-20 19:50] ExperimentsInHonesty commented on #205
@myrandi responded via slack

I wrote back

Will check again on 2022-02-20

[2021-12-23 05:58] thomasdemoner opened #323 "Experience Profile: [Thomas Demoner]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [x] [Managing the project board]()
   - [x] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2022-01-05 03:29] kingojem opened #324 "Experience Profile: [Emmanuel Ojo]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2022-01-05 14:46] ebele-oputa commented on #210
Agenda for Week of Jan 5 2022

Discussion topic: Guides Creation and welcome backs!!!!!

This week we will keep it simple silly (KISS principle) by doing a round of introductions. We will answer the questions
- What have you been up to since we last met?
- What are your goals for the new year?
- How can we help you stay accountable?
Next, we will conduct a workshop on guides creation. Guides are r

[2022-01-05 16:04] ExperimentsInHonesty commented on #152
@erigilg we will reach out to you via slack today.

[2022-01-05 17:41] priyatalwar commented on #210
Happy New Year Everyone! Today we have a special guest, Lissa Aguilar who has graciously accepted to offer her time to conduct a FigJam workshop.

Agenda for Week of Jan 5 2022

Discussion topic: FigJam Workshop

This week Lissa Aguilar, UX Researcher at Pearson has offered to conduct a FigJam workshop at our Community of Practice.

- Round of introduction
- Figjam workshop
- Q&A
- Other agenda ac

[2022-01-05 18:36] priyatalwar commented on #319
Add this issue to this week's agenda: https://github.com/hackforla/UI-UX/issues/189

[2022-01-05 19:14] priyatalwar commented on #319
## CoP Meeting Agenda 2022-1-5

### prework

### Roll Call:

### Recurring Action Items
- [x]  Accountability and Support Check.
  - [ ]  Review assignments for each CoP Lead (starting with those present)
     - [ ] [Bonnie](https://github.com/hackforla/product-management/issues/assigned/ExperimentsInHonesty)
     - [ ] [Priyanka](https://github.com/hackforla/product-management/issues/assigned/pri

[2022-01-07 01:50] ExperimentsInHonesty commented on #308
@ebele-oputa please review my comments in the document

[2022-01-07 01:54] ExperimentsInHonesty commented on #308
@priyatalwar after Ebele makes her updates, lets reword this to be designed for enticement and direct resume application

[2022-01-07 01:58] priyatalwar commented on #313
Update: 1/6: Priyanka has access now and will make a spreadsheet with email ids (put a link in the new drive)

[2022-01-07 02:04] priyatalwar commented on #285
Update experience profile

[2022-01-07 02:08] priyatalwar opened #325 "Hold off meetings until March 9th, 2022"
### Overview
We need to let everyone know in all channels that we are putting all the meetings on hold so that people don't loose confidence in the CoP

### Action Items
- [ ] copy and save slack reminders and then delete them
- [ ] changing the calendar invite
- [ ] posting the notice on slack channel and pining it (only a sentence long)
- [ ] update the readme file for PM CoP and this [CoP repo]

[2022-01-07 02:13] priyatalwar commented on #325
Update 1/6 Bonnie to check about reminders and Priyanka to cancel calendar invites

[2022-01-07 05:32] priyatalwar commented on #325
Update 1/6: Olivia wasn't the owner of the slack reminder, Ebele checked and she said the reminders were no longer there.

Canceled PM CoP meetings until March 9th and @ExperimentsInHonesty should I cancel all the Linkedin workshops or only until March 9th?

[2022-01-10 01:28] ebele-oputa commented on #305
Update (09/01/22):

- The researcher @jedimil has created a [research plan](https://docs.google.com/document/d/1jaAMujvLsDkTGacRhcjTQHg5_N9uD_tUgOPkSJfwcYI/edit?usp=sharing)
   - Research plan needs to be reviewed
   - We need to add the researcher to this issue
   - Should the researcher attend these weekly roadmap meetings (if convenient)?

[2022-01-10 02:44] ebele-oputa commented on #308
Update:
- I've reviewed Bonnie's comments and made changes to the document
- I need HfLA's communication style guide for google docs to make the document compliant with org's policies

[2022-01-10 16:55] ExperimentsInHonesty commented on #88
@SheIsBukki will do a final review on this document

[2022-01-10 22:08] mariastudnicka commented on #88
Thanks, Bonnie!

On Fri, Dec 17, 2021 at 9:11 AM Bonnie Wolfe ***@***.***>
wrote:

[2022-01-12 01:44] kingojem commented on #23
There isn't a way to assertain the completion of a form, differentiating a WIP and finished.

[2022-01-14 00:47] #297 closed

[2022-01-14 00:47] Hanastevenson commented on #297
This has been completed.

[2022-01-14 00:47] #293 closed

[2022-01-17 05:41] priyatalwar commented on #285
1/16 Update: Updated my experience profile
In addition worked on user research, interviews. synthesis, branding

I'd like to work on experimentation and usability testing as well.

[2022-01-18 18:12] kalyaniraman opened #326 "**Project Name**: Open Community Survey"
**Volunteer Opportunity**: Product Manager who is responsible for further developing our roadmap and action plan to reach our objective.  Building a small but effective Agile team (already has one UX Lead).

**Duration**: On-going

**Meeting Times**: Mon at 12 pm

**Who to communicate your interest to**
- Slack channel link: [#product-management](https://hackforla.slack.com/archives/CJY4R382X)
- S

[2022-01-18 19:22] ExperimentsInHonesty opened #327 "Create a Guide/Template: Weekly Label Check for your project"
### Overview
We need to create a guide to performing Weekly Label check on a project so that teams can stay focused on their roadmap

### Action Items
- [ ] Gather examples of how other Hack for LA projects have done, adding each example as a link in the resources section
   - [ ] Once done, remove the "TG: Gather Examples" label and add the "TG: Draft Template" label
- [ ] Create a draft template

[2022-01-18 19:24] ExperimentsInHonesty commented on #327
#  The following can be copied into a template to use.  It has a template inside it, so I choose to put it in this comment  instead of a copy box

### Dependency
[insert next weeks date] (Check gets done weekly)

### Overview
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

### Action Items
- [ ] Check the following to make sure that the

[2022-01-19 16:40] ExperimentsInHonesty commented on #166
Checked the following and found no results
- 100Automations, [Issues Tab](https://github.com/100Automations/Website/issues?q=is%3Aissue+is%3Aopen+agenda), 2022-01-19

[2022-01-22 17:26] ExperimentsInHonesty commented on #259
@priyatalwar lets add this to our roadmap for future PM Communities of practice.

[2022-01-22 17:29] ExperimentsInHonesty commented on #259
Posted the following message on the PM CoP

[2022-01-24 14:35] kingojem commented on #23
all forms found under an open issue would be marked with WIP

[2022-01-24 15:35] ExperimentsInHonesty commented on #23
The ways to know if a form is finished are the following
1. It's on an issue about making it, and the issue is closed.  Meaning it's been completed by the team
2. You ask the team about it, and they tell you it's completed.

[2022-01-26 16:40] SheIsBukki commented on #33
Hi @sharadgaurav7 we looked at the guides, it's looking good, thanks for your work, we also left a comment https://docs.google.com/document/d/1Sc9NrUmol58LKdOj6NRT63TpyIgeYaP1Wg1sOg_2zlo/edit?disco=AAAAU0JO30Y

[2022-01-27 09:46] temrb opened #328 "Experience Profile: [Tem]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2022-01-31 07:45] olubabzy commented on #278
Hack for LA Guides Project January 31, 2022

[2022-02-07 09:15] olubabzy commented on #278
https://docs.google.com/presentation/d/1DV1nDhB6BvZUpSZqSN2ldDRE8lVIoaNAd97FgJhsf3E/edit?usp=sharing
Guides Project's Communication Guide For Document Creation.(Final Version)

[2022-02-07 17:13] ExperimentsInHonesty commented on #292
Used in the wiki for agenda ![image](https://user-images.githubusercontent.com/37763229/152837753-686606dc-1e63-4918-968f-05e772756b92.png)

[2022-02-07 17:37] ExperimentsInHonesty commented on #292
![image](https://user-images.githubusercontent.com/37763229/152839504-5001e8da-1141-43c5-b887-93edfe8d7591.png)

[2022-02-07 23:51] Hanastevenson commented on #270
@ExperimentsInHonesty removing myself from this Issue. The issue is in the Icebox until a new PM joins the team.

[2022-02-09 02:41] myrandi commented on #205
Plan for next steps is to gather additional examples (there are more outside of Hack for LA in other brigades in the CfA Network. I will be meeting with others working on trauma conscious facilitation over the next few weeks. When I have compiled some examples, I will add them here, and resume the following step of creating a draft template.

**Immediate Tasks**
- [ ] Meet with Rene (CfA Network)

[2022-02-09 23:52] priyatalwar commented on #319
[DATE] Agenda and Notes

### Prework
- [ ] issue for audit #93

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] check Branding issue to see if there is anything the team needs to do, so that we

[2022-02-11 16:39] ExperimentsInHonesty commented on #205
@myrandi, so glad to see you are still working on this.  We look forward to reading your next draft and hearing about your process.  Hope you are well.

Best,

Bonnie

[2022-02-12 00:00] kpoints opened #329 "Experience Profile: Kristy Points"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [x] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [x] [Managing the project board]()
   - [x] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2022-02-16 02:56] kpoints commented on #133
Kristy Points @kpoints, "I need access"

[2022-02-16 02:58] abiha1234 commented on #133
Abiha Ali @abiha1234 I need access too. Thanks!

[2022-02-16 03:49] aly004 commented on #133
I NEED ACCESS @Graphicshub

[2022-02-16 16:33] olubabzy commented on #278
@ExperimentsInHonesty

[2022-02-17 07:49] alicewong13 opened #330 "Experience Profile: Alice Wong"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2022-02-17 23:49] #328 closed

[2022-02-18 12:16] abiha1234 commented on #133
Abiha Ali, @abiha1234, I'm in!

[2022-02-18 22:33] gracieama opened #331 "Experience Profile: [Grace Amaogu]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2022-02-22 22:11] chiusano commented on #319
Mike here from the Marketing Team.  Bonnie said at next CoP meeting she will speak to PMs regarding video project submissions and receiving a response as to whether or not they will participate.

[github issue](https://github.com/hackforla/marketing/issues/54)

[2022-03-08 03:11] Funmikee commented on #133
Funke Olatunbosun, @Funmikee, I'm in

[2022-03-10 19:21] akhaleghi commented on #88
Is it possible to set reminders for weekly meetings but exclude certain dates (i.e. reminders for meetings every Thursday except the first Thursday of the month)?

[2022-03-11 16:41] ExperimentsInHonesty commented on #50
I am going to put some screenshots and notes in this issue, because I am doing a cleanup on 311's slack channel.  We will need the screenshots for later making the guide examples of what no to do.

This screenshot is from the 311 Slack Channel, taken 2022-03-11.  The post was created 2020-02-05.  The link still works to take you to the WIKI, but they have not been updating the WIKI, so when people

[2022-03-15 13:29] #73 closed

[2022-03-16 08:23] FeyiA commented on #73
#### Projects to check
- [100 Automations](https://github.com/100automations/website)
- [311 Data](https://github.com/hackforla/311-data)
- [Access the Data](https://github.com/hackforla/access-the-data)
- [BallotNav](https://github.com/hackforla/ballotnav)
- [Brigade Organizer's Playbook](https://github.com/codeforamerica/brigade-playbook)
- [Civic Tech Index](https://github.com/civictechindex/CT

[2022-03-16 14:06] DSequ opened #332 "Experience Profile: [Denisse S]"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page

[2022-03-18 14:46] ExperimentsInHonesty commented on #73
@FeyiA It looks like you are making good progress.
- I can help you with getting access to the documents on each of the teams.  Please remind me at the next meeting I see you at.
- For the Slack messages, please screen-shot them, they won't be there in April when our slack trial ends.

[2022-03-18 15:10] ExperimentsInHonesty commented on #152
I am closing this issue, because its a duplicate of other issues, see above

[2022-03-18 15:10] #152 closed

[2022-03-21 14:37] FeyiA commented on #73
Work in progress.

Changes made as advised.

Checking Slack channels first.

[2022-03-21 14:57] ExperimentsInHonesty commented on #73
@FeyiA please make screen shots smaller and not in dark mode

[2022-03-23 15:33] Evon081 commented on #50
UPDATE:
I have gathered examples from teams/projects slack channels.
I have also looked at their wiki .
In the following week i will contact teams leads on their slack channel to have a chat on what works for them and what doesn't.

[2022-03-23 16:28] Funmikee commented on #224
Thanks, Bonnie.

[2022-03-24 22:41] w0ahth3re opened #333 "Experience Profile: Jamie Siu"
### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action Items
- [ ] [Provisioning the Project]()
- [ ] [Product One Sheet]()
- [ ] [Organizing project resources (Google Drive)]()
- [ ] [Managing the project board]()
   - [ ] [Making good issues (Reference - https://www.hackforla.org/guide-page